<div class="container bg-grey-sure">
	<header class="bar-top bar-top-group bg-white brd-bottom-sure-1 brd-top-grey-1">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <button name="comentar" id="comentar" ng-click="vm.back()" class="bg-green-sure-2 btn-2 font-white text-uppercase font-openregular pull-right font-24">comentar</button>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row">
			<ul class="clearfix col-sm-12 col-xs-12 pding-top-bottom-15 content-height">
				<li class="has-img">
					<img alt="" src="img/user9.png" class="img-circle"/>
				</li>
				<li class="description vertical-middle">
					<h3 class="font-opensemibold font-30">Jéssica</h3>
				</li>
			</ul>
			<!--div class="col-sm-12 col-xs-12">
				<div class="contenteditable font-32 font-openregular pull-left overflow" contentedit contenteditable="true">
					The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
				</div>
			</div-->
			<textarea name="comentar" id="comentar" class="campo4 font-32" on-height on-height-contect="content-height" ng-model="vm.comentar">
			</textarea>
		</div>
	</section>
	<!-- content -->
</div>