<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top bg-white brd-top-grey-1 relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<!-- end menu nav -->
			<h2 class="title-2 text-capitalize mn-person-flex">{{vm.infoEvent.name}}</h2>
		</header>
		<!-- header -->
		
		<section class="content">
			<figure class="row row-alt pding-top-bottom-0">
				<img ng-attr-src="{{vm.infoEvent.image ? vm.infoEvent.baseURL+vm.infoEvent.image : 'img/info-event.jpg'}}" alt=" " />
			</figure>
			<div class="row row-alt">
				<div class="clearfix mrg-bottom-20">
					<div class="col-xs-12 col-sm-12">
						<h3 class="title-2 font-grey-sure-6 brd-bottom-sure-1 pding-bottom-10 mrg-bottom-20"><em class="fa fa-calendar-check-o"></em> Data</h3>
						<ul class="pding-left-20">
							<li class="font-24 font-grey-dark-4 font-openregular mrg-bottom-5"><em class="fa fa-star mrg-right-10 font-grey-sure-7"></em><span ng-bind-html="vm.infoEvent.startEvent+' '+vm.infoEvent.horaInicial"></span></li>
							<li class="font-24 font-grey-dark-4 font-openregular"><em class="fa fa-sign-out mrg-right-10 font-grey-sure-7"></em><span ng-bind-html="vm.infoEvent.endEvent+' '+vm.infoEvent.horaFinal"></span></li>
						</ul>
					</div>
				</div>
				<hr class="bg-linear-black-grey hr-serp mrg-bottom-20" />
				<!-- end data -->
				<div class="clearfix mrg-bottom-20">
					<div class="col-xs-12 col-sm-12">
						<h3 class="title-2 font-grey-sure-6 brd-bottom-sure-1 pding-bottom-10 mrg-bottom-20"><em class="fa fa-commenting"></em> Contato</h3>
						<ul class="pding-left-20">
							<li class="font-24 font-grey-dark-4 font-openregular mrg-bottom-5">
								<em class="fa fa-envelope mrg-right-10 font-grey-sure-7" ></em><span ng-bind="vm.infoEvent.email"></span>
							</li>
							<li class="font-24 font-grey-dark-4 font-openregular">
								<em class="fa fa-globe font-20 mrg-right-10 font-grey-sure-7"></em><span ng-bind="vm.infoEvent.siteUrl"></span>
							</li>
						</ul>
					</div>
				</div>
				<hr class="bg-linear-black-grey hr-serp mrg-bottom-20" />
				<!-- end contato -->
				<div class="clearfix mrg-bottom-20">
					<div class="col-xs-12 col-sm-12">
						<h3 class="title-2 font-grey-sure-6 brd-bottom-sure-1 pding-bottom-10 mrg-bottom-20"><em class="ion-android-pin"></em> Localização</h3>
						<ul>
							<li ng-click="vm.openMaps(vm.infoEvent.googleMapsLat,vm.infoEvent.googleMapsLong)">
								<img src="https://maps.googleapis.com/maps/api/staticmap?center={{vm.infoEvent.googleMapsLat}},{{vm.infoEvent.googleMapsLong}}&zoom=14&size=640x400&markers={{vm.infoEvent.googleMapsLat}},{{vm.infoEvent.googleMapsLong}}&key={{vm.infoEvent.mapsKEY}}">
							</li>
							<li class="font-28 font-grey-dark-4 font-openregular">
								<br>
								<span ng-bind="vm.infoEvent.placeName"></span>
							</li>
							<li class="font-24 font-grey-dark-4 font-openregular">
								<span ng-bind="vm.infoEvent.address1+', '" ng-if="vm.infoEvent.address1"></span>
								<span ng-bind="vm.infoEvent.address2+', '" ng-if="vm.infoEvent.address2"></span>
								<span ng-bind="vm.infoEvent.county" ng-if="vm.infoEvent.county"></span>
								<span ng-bind="' - '+vm.infoEvent.city+' '" ng-if="vm.infoEvent.city"></span>
								<span ng-bind="vm.infoEvent.country" ng-if="vm.infoEvent.country"></span>
								<span ng-bind="' - CEP: '+vm.infoEvent.cep" ng-if="vm.infoEvent.cep"></span>
							</li>
						</ul>
						
					</div>
				</div>
				<hr class="bg-linear-black-grey hr-serp mrg-bottom-20" />
				<!-- end localizacao -->
				<div class="clearfix mrg-bottom-20">
					<div class="col-xs-12 col-sm-12">
						<h3 class="title-2 font-grey-sure-6 brd-bottom-sure-1 pding-bottom-10 mrg-bottom-20"><em class="fa fa-file-text"></em> Descrição</h3>
						<div ng-bind-html="vm.infoEvent.description | textWithHtml" class="font-24 font-grey-dark-4 font-openregular"></div>
					</div>
				</div>
				<!-- end descricao -->
			</div>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
