<div class="container matter-detail overflow">

	<div class="calc-height relative">
		<header class="relative viewport-header-img" ng-attr-style="{{vm.matter.imageUrl ? 'background-image:url('+vm.root+vm.matter.imageUrl+'); background-size: cover' : 'background:url(img/info-event.jpg) no-repeat center; background-size: cover'}}">
			<div class="bg-linear-black-white viewport-header-img">
				<div class="bg-linear-black-white viewport-header-img">
					<div class="bg-trans-black flex-collum viewport-header-img">
						<div class="container-head">
							<div class="line-flex">
								<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back font-white"></em></a>
							</div>
							<div class="footer-header line-flex">
								<a href="javascript:;" class="font-white font-30 mrg-right-10"><em class="ion-ios-heart-outline font-green-sure"></em> <span ng-bind="vm.matter.numberLike"></span></a>
								<a href="javascript:;" class="font-white font-30"><em class="ion-ios-chatbubble-outline font-green-sure"></em> <span ng-bind="vm.matter.numberComment"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end menu nav -->
		</header>
		<!-- header -->
		<section class="content relative btn-bottom-text">
			<div class="row row-alt" ng-class="{'brd-bottom-sure-1': !vm.viewShares}">
				<div class="col-xs-12 col-sm-12" >
					<h2 class="font-grey-dark-4 font-openregular font-42 mrg-bottom-15" ng-if="vm.matter.title" ng-bind="vm.matter.title"></h2>
					<div class="text-matter">
						<div ng-bind-html="vm.matter.description | textWithHtml">
						</div>
					</div>
					<p class="font-grey-sure-3 ph font-24">
						<timeline-time icon="true" ng-if="vm.matter.displayTime" ng-attr-tempo="{{vm.matter.displayTime}}"></timeline-time> <span class="font-blue-dark-3">por {{vm.matter.author.firstName}} {{vm.matter.author.lastName}}</span>
					</p>
					<div class="interaction font-24">
						<div class="has-like-commet">
							<a href="javascript:;" count-link ng-model="vm.matter" ng-class="{'has-like': vm.matter.liked}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
								<em class="ion-heart"></em> curtir (<span class="font-openregular">{{vm.matter.numberLike}}</span>)
							</a>
							<a href="javascript:;" ng-click="vm.commentes()" ng-class="{'active': vm.matter.hasComment}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
								<em class="ion-chatbubble"></em> comentários <span class="font-openregular">({{vm.matter.numberComment}})</span>
							</a>
						</div>
						<a href="javascript:;" ng-click="vm.getShareSocial()" class="font-grey-dark-3 col-xs-12 col-sm-12 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
							<em class="fa fa-share-alt"></em> COMPARTILHAR</span>
						</a>
					</div>
				</div>
			</div>

			<ul class="list-comment">
				<li class="brd-bottom-sure-1 row row-alt" ng-repeat="comment in vm.comments">
					<ul class="col-xs-12 col-sm-12 mn-person-info">
						<li class="mn-person-info__picture">
							<img alt="" ng-click="vm.openParticipant(comment.author.id)" ng-attr-src="{{comment.author.pictureUrl ? vm.root+comment.author.pictureUrl : vm.ghostsPerson}}" ng-class="{'ghost-person': !comment.author.pictureUrl}" class="img-circle" />
						</li>
						<li class="mn-person-info__details">
							<div class="display-8 mrg-bottom-5 align-baseline">
								<h3 class="title-3 mrg-0 font-opensemibold font-30 display-9" ng-click="vm.openParticipant(comment.author.id)">
									<span class="mn-person-info__name" ng-bind="comment.author.firstName+' '+comment.author.lastName"></span>
								</h3><!--item.author.firstName+' '+item.author.lastName | ellipsis:true:10:' ...'-->
								<div class="display-8 font-20 align-center text-uppercase font-grey-dark-trans font-opensemibold text-right">
									<timeline-time icon="true" ng-attr-tempo="{{comment.displayTime}}"></timeline-time>
								</div>
							</div>
							<p class="font-28 ph text-word-break" ng-bind-html="comment.comment | textWithHtml"></p>
						</li>
					</ul>
				</li>
			</ul>
			<div class="box-btn-submit">
				<a href="#/commentes/{{vm.activityId}}" class="text-uppercase btn-footer font-24 font-opensemibold bg-grey-sure row-alt"><em class="ion-plus"></em> comentar</a>
			</div>
		</section>
		<!-- content -->
	</div>
</div>
