<div class="container">
	<header class="bar-top brd-top-grey-1 fixed-top brd-bottom-sure-2 bg-white" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2 font-grey-sure-4">Timeline</h2>
	</header>
	<!-- header -->
	<section class="content clearfix btn-bottom-text">
		<ul class="list-timeline">
			<li class="content-user" ng-repeat="item in vm.timeLine">
		        <ul class="clearfix">
	                <li class="has-img">
	                	<img ng-attr-src="{{item.image}}" alt="" class="img-circle">
	                </li>
	                <li class="description brd-bottom-sure-1" ng-repeat="artigo in item.timeLine">
                        <h3 class="title-3"ng-if="item.autor">{{item.nome}}</h3>
                        <div>
                            <p ng-if="artigo.texto" class="font-28 ph">{{artigo.texto | limitTo: 100 | htmlToPlaintext}} <a href="#/matter/{{item.id}}" class="font-red-sure more">[...]</a></p>
                            <p ng-if="artigo.image" class="font-28 ph">
	                            <a href="javascript:;"><img ng-attr-src="{{artigo.image}}" alt="" /></a>
	                        </p>
                            <ul class="interaction">
                                <li class="font-grey-sure-3 pull-left font-24">
                                    <timeline-time icon="true" ng-attr-tempo="{{artigo.tempo}}"></timeline-time>
                                </li>
                                <li class="has-like-commet pull-right font-24">
                                	<a href="javascript:;" ng-disabled="isDisabled" count-link="{{artigo.link}}" class="font-grey-sure-3">
                                		<em class="ion-heart"></em> <span ng-bind="{{artigo.link}}"></span>
                                	</a>
                                	<a href="#/comment" class="font-grey-sure-3">
                                		<em class="ion-chatbubble"></em> {{artigo.comment}}
                                	</a>
                                </li>
                            </ul>
                        </div>
	                </li>
		        </ul>
			</li>
			<!--li class="content-user" ng-repeat="item in vm.patrocinador">
				<ul class="clearfix">
			        <li class="has-img"><img ng-attr-src="{{item.image}}" alt="" class="img-circle"></li>
			        <li class="description brd-bottom-sure-1">
		                <h3 class="title-3">{{item.nome}}</h3>
		                <div ng-repeat="promocao in item.promocao">
	                        <p ng-if="promocao.image" class="font-28 ph">
	                            <a href="javascript:;"><img ng-attr-src="{{promocao.image}}" alt="" /></a>
	                        </p>
	                        <p ng-if="promocao.texto" class="font-28 ph">
	                        	<a href="javascript:;" class="font-red-sure more">{{promocao.texto}}</a>
	                        </p>
	                        <ul class="interaction">
                                <li class="font-grey-sure-3 pull-left font-24">
                                    <timeline-time icon="true" ng-attr-tempo="{{promocao.tempo}}"></timeline-time>
                                </li>
                                <li class="has-like-commet pull-right font-24">
                                	<a href="javascript:;" class="font-grey-sure-3">
                                		<em class="ion-heart"></em> {{promocao.link}}
                                	</a>
                                	<a href="javascript:;" class="font-grey-sure-3">
                                		<em class="ion-chatbubble"></em> {{promocao.comment}}
                                	</a>
                                </li>
	                        </ul>
		                </div>
			        </li>
				</ul>
			</li-->
			<!--timeline-content-patrocinador></timeline-content-patrocinador-->
		</ul>
	</section>
	<!-- content -->
	<a href="javascript:;" class="text-uppercase btn-footer brd-top-sure-2 font-24">carregar mais posts</a>
</div>