<div class="modal-header">
    <a href="javascript:;" hide-modal class="close"><em class="ion ion-android-close"></em></a>
    <h3 class="modal-title" ng-bind="vm.title"></h3>
</div>
<!-- end title -->
<div class="modal-body clearfix">
	<form name="formPassword" id="formPassword" ng-submit="vm.submit(formPassword)" class="pding-top-40" novalidate>
		<div class="col-md-12">
			<div class="form-group floating-label">
		        <label for="email" class="input-label">EMAIL</label>
		        <input type="email" id="email" name="email" placeholder="EMAIL" floating-label ng-model="vm.email" class="form-control" required autocomplete="off" />
				<div class="has-error" ng-show="formPassword.email.$dirty && formPassword.email.$invalid || vm.fieldsMSG">
					<span class="text-inline" ng-show="formPassword.email.$error.required">Email é obrigatório</span>
					<span class="text-inline" ng-show="formPassword.email.$error.email"> Formato do e-mail é inválido</span>
				</div>
		    </div>
		    <!-- end form-group -->
		    <br>
			<p class="font-opensemibold font-18 font-grey-sure text-uppercase text-center">Um email será enviado com instruções de como recuperar a sua senha</p>
			
			<div class="box-btn text-center">
				<button type="submit" name="recoverPassword" class="btn btn-primary font-24" ng-disabled="mainForm.$invalid" id="recoverPassword">recuperar</button>
			</div>
		</div>
	</form>
	<!-- end form -->
</div>
<!-- end body -->
	