<form name="formLogin" id="formLogin" ng-submit="vm.submit(formLogin, vm.login)" novalidate data-ng-init="vm.init()">
	<div class="container login content-scroll overflow" ng-class="{'insert-event': vm.noProd}">
		<div class="calc-height">
			<header class="bar-top brd-top-grey-1 relative">
				<h2 class="title-2"> Entrar</h2>
			</header>
			<!-- header -->
			<h1 class="title-system">
				<img src="img/logo-blue-large.png" class="logo" alt="Events Saas" />
			</h1>
			<!--title-system-->
			<div class="col-md-12 content">
				<div class="col-md-12">
					<div class="row">
						<div class="form-group col-xs-6 col-sm-6 floating-label" ng-if="vm.noProd">
							<label for="evento" class="input-label">EVENTO</label>
							<input type="text" maxlength="1" ng-change="vm.numberOnly(formLogin.evento)" id="evento" name="evento" placeholder="Evento" ng-focus="vm.scrollField()" floating-label ng-model="vm.login.evento" class="form-control" required autocomplete="off" />
							<div class="has-error" ng-show="formLogin.evento.$dirty && formLogin.evento.$invalid || vm.fieldsMSG">
								<span class="text-inline" ng-show="formLogin.evento.$error.required">Evento é obrigatório</span>
							</div>
						</div>
						<div class="form-group col-md-12 col-xs-12 col-sm-12 floating-label">
							<label for="email" class="input-label">EMAIL</label>
							<input type="email" id="email" name="email" placeholder="EMAIL" ng-focus="vm.scrollField()" floating-label ng-model="vm.login.email" class="form-control" required autocomplete="off" />
							<div class="has-error" ng-show="formLogin.email.$dirty && formLogin.email.$invalid || vm.fieldsMSG">
								<span class="text-inline" ng-show="formLogin.email.$error.required">Email é obrigatório</span>
								<span class="text-inline" ng-show="formLogin.email.$error.email">Formato do e-mail é inválido</span>
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group col-md-12 col-xs-12 col-sm-12 floating-label">
							<label for="password" class="input-label">SENHA</label>
							<input type="password" id="password" placeholder="senha" ng-focus="vm.scrollField()" floating-label name="password" ng-model="vm.login.senha" class="form-control" required />
							<a href="javacsript:;" open-modal="view/login/forgot-password.html" modal-back="/login/login.html" modal-controller="ForgotPassword" modal-title="Esqueci minha senha" modal-class="modal-full-height" class="help">Esqueci a senha 
								<span class="icon ion-ios-help-outline"></span>
							</a>
							<div class="has-error" ng-show="formLogin.password.$dirty && formLogin.password.$invalid || vm.fieldsMSG">
								<span class="text-inline" ng-show="formLogin.password.$error.required">Senha é obrigatório</span>
							</div>
						</div>
						<!-- end form-group -->
						<div class="col-md-12 col-xs-12 col-sm-12">
							<a href="javacsript:;" ng-click="vm.linkedin()" class="btn-social label-default clearfix">
								<span class="fa-stack fa-lg font-grey-dark">
								<em class="fa fa-circle fa-stack-2x"></em>
								<em class="fa fa-linkedin fa-stack-1x fa-inverse"></em>
								</span>
								<span class="txt-btn">entrar com linkedin<span>
							</a>
							<!-- btn linkedin -->
							<a href="javacsript:;" ng-click="vm.facebook()"  class="btn-social label-primary clearfix">
								<span class="fa-stack fa-lg font-blue-dark">
								<em class="fa fa-circle fa-stack-2x"></em>
								<em class="fa fa-facebook fa-stack-1x fa-inverse"></em>
								</span>
								<span class="txt-btn">entrar com facebook<span>
							</a>
							<!-- btn linkedin -->
						</div>
						<!-- end box btn-social -->
					</div>
					<!-- end row -->
				</div>
				<!-- end col-md-12 -->
			</div>
		</div>

		<button type="submit" name="btn-login" class="btn btn-submit btn-success display-2" id="btn-login">
			<em class="icon ion-android-arrow-forward"></em>
		</button>
		<!-- end btn-submit-->
	</div>
</form>
<!-- formLogin -->