<section class="splash">
	
	<h1>
		<img src="img/logo-white-large.png" alt="Events Saas" />
	</h1>

    <div class="preloading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <p class="font-16 font-openregular">CARRENGANDO...</p>
    </div>

    <footer class="bar-bottom">
        <img src="img/logo-white-small.png" alt="Events Saas" />
    </footer>
    <!-- end bar bottom -->

</section>
<!-- end main -->