<div class="container overflow content-scroll">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->
	<div class="calc-height relative">
		<header class="status">
			<div class="bg-status viewport-header-img bg-linear-black-white">
				<div class="bg-linear-black-white viewport-header-img">
					<div class="bg-trans-black flex-collum container-head">
						<div class="line-flex align-center">
							<a href="javascript:history.back()" class="btn-header display-8">
								<em class="ion-android-arrow-back font-white display-8"></em>
							</a>
							<h3 class="font-white title-2 font-34 font-openregular text-center">Status</h3>
						</div>
						<div class="font-110 font-white font-openbold text-center">{{vm.total}}</div>
						<p class="text-uppercase font-24 font-white text-center">participantes <span class="font-blue-sure-5 font-openbold">Incritos</span></p>
						<div class="font-110 font-white font-openbold text-center">{{vm.credenciado}}</div>
						<p class="text-uppercase font-24 font-white text-center">participantes <span class="font-blue-sure-5 font-openbold">credenciados</span></p>
					</div>
				</div>
			</div>
		</header>
		<!-- header -->
		<section class="content">
			<div class="row brd-bottom-sure-1 row-alt">
				<ul>
					<li class="col-sm-4 col-xs-4">
						<ul>
							<li class="font-24 font-openregular font-grey-dark-trans text-center">Homens</li>
							<li class="font-24 font-openregular text-center">50.000</li>
						</ul>
					</li>
					<li class="col-sm-4 col-xs-4">
						<ul>
							<li class="font-24 font-openregular font-grey-dark-trans text-center">Mulheres</li>
							<li class="font-24 font-openregular text-center">60.000</li>
						</ul>
					</li>
					<li class="col-sm-4 col-xs-4">
						<ul>
							<li class="font-24 font-openregular font-grey-dark-trans text-center">Estudantes</li>
							<li class="font-24 font-openregular text-center">2.613</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="row brd-bottom-sure-1 row-alt">
				<div id="chart" class="col-sm-12 col-xs-12"></div>
				<!--bars data="{{vm.data}}"></bars-->
			</div>
			<!-- end status -->
			<div class="btn-list">
				<ul>
					<li class="col-sm-6 col-xs-6 text-center active">
						<div class="row">
							<a href="javascript:void(0)" class="font-24 font-openbold text-uppercase">gr&aacute;fico 1</a>
						</div>
					</li>
					<li class="col-sm-6 col-xs-6 text-center">
						<div class="row">
							<a href="javascript:void(0)" class="font-24 font-openbold text-uppercase">gr&aacute;fico 2</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>
