html,
body,
#wrapper {
    height:100%;
    width:100%;
    color: #333;
    position: relative;
    -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
}
/*
* element
*/
strong { font-family: 'open_sansbold';  }
ul { list-style: none; margin:0; padding: 0 }
img { max-width: 100%; height: auto; }
a:hover, a:focus { text-decoration: none; outline: none; }
h1, h2, h3, h4, hr { padding:0; margin: 0 }
body.overflow-hidden { overflow: hidden; }
/*
*font-size
*/
.font-11 { font-size: 0.7em; }
.font-18 { font-size: 1.125em; }
.font-20 { font-size: 1.250em; }
.font-22 { font-size: 1.375em; }
.font-24 { font-size: 1.500em; }
.font-26 { font-size: 1.625em; }
.font-28 { font-size: 1.750em; }
.font-30 { font-size: 1.875em; }
.font-32 { font-size: 2em; }
.font-34 { font-size: 2.125em; }
.font-36 { font-size: 2.250em; }
.font-38 { font-size: 2.375em; }
.font-40 { font-size: 2.500em; }
.font-42 { font-size: 2.625em; }
.font-45 { font-size: 2.813em; }
.font-50 { font-size: 3.125em; }
.font-60 { font-size: 3.750em; }
.font-88 { font-size: 5.5em; }
.font-110 { font-size: 6.875em; }
.font-128 { font-size: 8.000em; }
.font-158 { font-size: 9.875em; }
/*
* float
*/
.fl-none { float: none; }

/*
*color
*/
.font-white { color: white }
.font-blue-dark { color: #001334 }
.font-blue-dark-2 { color: #0a4573 }
.font-blue-dark-3 { color: #1352e2 }
.font-blue-sure { color: #37a8ff }
.font-blue-sure-2 { color: #2545e7 }
.font-blue-sure-3 { color: #2c82bb }
.font-grey-dark { color: #101315 }
.font-grey-dark-2 { color: #414141 }
.font-grey-dark-3 { color: #1c1c1c }
.font-grey-dark-4 { color: #262626 }
.font-grey-sure { color: #999999 }
.font-grey-sure-2 { color: #d6d6d6 }
.font-grey-sure-3 { color: #a8a8a8 }
.font-grey-sure-4 { color: #cccccc }
.font-grey-sure-5 { color: #404549 }
.font-green-sure { color: #3affa5 }
.font-green-sure-2 {color:#22c064 }
.font-red-sure { color: #e0483e }
.font-white-trans { color: rgba(255,255,255,0.5) }
.font-grey-dark-trans {  color: rgba(28,28,28,0.5) }
.font-grey-dark-trans-2 {  color: rgba(38,38,38,0.5) }
.font-grey-dark-trans-3 {  color: rgba(38,38,38,0.2) }
.font-brown-dark { color: #9c761a }
.font-orange-sure { color: #f3d5ae }
.font-orange-sure-2 { color: #ee4e10 }

/*
*background-color
*/
.bg-trans { background: transparent; }
.bg-white { background-color: #fff }
.bg-black { background-color: #191919 }
.bg-grey-sure { background-color: #f3f3f3 }
.bg-grey-sure-2 { background-color: #e4e4e4 }
.bg-grey-sure-3 { background-color: #e8e8e8 }
.bg-grey-dark { background-color: #1c1c1c }
.bg-grey-dark-2 { background-color: #a9a9a9 }
.bg-blue-sure { background-color: #1352e2 }
.bg-blue-dark { background-color: #2c82bb }
.bg-trans-black { background-color: rgba(28, 28, 28, .5); }
.bg-linear-black-white { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+32,000000+100&0.2+2,0.3+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 2%, rgba(0,0,0,0.23) 32%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 2%,rgba(0,0,0,0.23) 32%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 2%,rgba(0,0,0,0.23) 32%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */}
.bg-green-sure { background-color: #22c064 }
.bg-green-sure-2 { background-color: #50b973 }

/*
*border
*/
.brd-top-grey-1 { border-top: 1px solid #eff4f7 }
.brd-bottom-sure-1 { border-bottom: 1px solid #aaa; }
.brd-bottom-sure-2 { border-bottom: 1px solid #cccccc; }
.brd-top-sure-1 { border-top: 1px solid #cccccc }
.brd-top-sure-2 { border-top: 1px solid #aaa; }
.brd-top-sure-3 { border-top: 1px solid #b6b6b6 }
.border-white { border: 2px solid #FFF }
.brd-grey-dark { border:1px solid #404040 !important }

/*
*text-transform
*/
.text-uppercase { text-transform: uppercase;}
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.text-capitalize { text-transform: capitalize;}

/*
*font-family
*/
.font-openregular {font-family: 'open_sansregular';}
.font-openbold {font-family: 'open_sansbold';}
.font-opensemibold {font-family: 'open_sanssemibold';}
.font-mustache {font-family: 'marykatemedium';}
/*
*	overflow
*/
.overflow {overflow-x: hidden; overflow-y: visible; }

/*
*	line-height
*/
.line-height-28 { line-height: 28px }

/*
*btn
*/
.btn-submit, .btn-footer { display: block; width: 100%; border-radius: 0; }
.btn-footer { padding: 15px 0; text-align: center; position: absolute; bottom: 0 }
.btn-send { border: none; border-radius: 8px; min-width: 50px; outline: none; margin-left: 10px}
.btn-radius { border:none; border-radius: 30px; padding: 15px 10px; min-width: 180px; outline: none; }
.btn-2 { border:none; outline: none; padding: 4px 15px 3px; border-radius: 4px }
.btn-3 { border: 1px solid #FFF; padding: 15px 0; border-radius: 4px }
.btn-4, .btn-4:hover, .btn-4:focus, .btn-4:visited { border:none; background: none; outline: none;  }
.btn-list { margin-left: -30px; margin-right: -30px; }
.btn-list li { border-right: 1px solid #ccc; }
.btn-list li:last-child { border-right: none; }
.btn-list li a { line-height: 50px; display: block; }
.btn-list .active { border-bottom: 2px solid #1352e2 }
/*
*title
*/
.title-system { text-align: center; margin: 0 0 19.5%; }
.title-2 { font-family: 'open_sansregular'; font-size: 2.125em; width: 100%; margin:0 }
.title-3 { font-size: 1.750em; margin: 0; margin-bottom: 10px; font-family: 'open_sanssemibold'; }

/*
*margin
*/
.mrg-0 { margin: 0 }
.mrg-bottom-5 { margin-bottom: 5px }
.mrg-bottom-10 { margin-bottom: 10px }
.mrg-bottom-15 { margin-bottom: 15px }
.mrg-bottom-20 { margin-bottom: 20px }
.mrg-bottom-45 { margin-bottom: 45px }
.mrg-bottom-30 { margin-bottom: 30px }
.mrg-left-5 { margin-left: 5px }
.mrg-right-10 { margin-right: 10px }
.mrg-right-left-10 { margin-right: 10px; margin-left: 10px }
.mrg-top-bottom-20 { margin-top: 20px; margin-bottom: 20px }
.mrg-top-10 { margin-top: 10px }

/*
*padding
*/
.pding-top-15 { padding-top: 15px }
.pding-30 { padding-bottom: 30px; padding-top: 30px }
.pding-35  {  padding-top: 35px }
.pding-top-40 { padding-top: 40px }
.pding-top-bottom-15 { padding-top: 15px; padding-bottom: 15px;}
.pding-bottom-60 { padding-bottom: 60px }
.pding-bottom-50 { padding-bottom: 50px }
.no-pding { padding: 0; }
.pding-right { padding-right: 0 }
.pding-left { padding-left: 0 }
.btn-bottom-text { padding-bottom: 70px }

/*
* display
*/
.display-1 { display: inline-block; }
.display-2 { display: block; }
.display-3 { display: table; }
.display-4 { display: table-cell; vertical-align: middle; }
.display-5 {display: table-row;}
.display-6 { display: table-cell; vertical-align: bottom;}

/*
*header
*/
header.bar-top { padding:25px 15px 15px; position: static; display: table; width: 100%; min-height: 100%; height: 100%;}
.btn-header { position: absolute; z-index: 3; line-height: normal; margin-top:6px; }
header .title-2 { vertical-align: middle; text-align: center; }
.btn-header em { font-size: 2.2em; }
.btn-header .badge { display: block; z-index: 4; z-index: 4; margin: 0; position: absolute; top: 3px; right: -4px; font-size: 10px; padding: 0 }
.btn-right { right: 30px; top: 30px; z-index: 2; position: absolute; line-height: normal; }
.btn-right em { font-size: 2.500em; }
.btn-right-text { top: 36px }
/*header.bar-top-group { padding-top: 12px; padding-bottom: 12px } */
header.bar-top-group .btn-header, .bar-top-group .btn-header { display: table-cell; vertical-align: middle; position: initial; margin: 0 }
/*
*container
*/
.container { padding-left: 0; padding-right: 0; min-height:100%; position: relative; }
.content, header.bar-top { padding-left: 30px; padding-right: 30px; }
.content.no-pding, header.no-pding { padding: 0; }

/*
*form*/
.login { padding-bottom: 180px; position: relative; }
.login .help  { float: right; margin-top: -45px;}
.login .form-group { margin-bottom: 9.375% }

/*
*help
*/
.help { font-size: 1.375em; font-family: 'open_sansregular'; color: #2c82bb }
.help:hover, .help:focus, .help:visited { color: #2c82bb; text-decoration: none; }
.help .fa-stack { color: #FFF; border: 1px solid #2c82bb; border-radius: 33px; font-size: 1.000em; }
.help .fa-inverse { color: #2c82bb;  font-size: 1.125em; }

/*
*btn social
*/
.btn-social { display: table; text-transform: uppercase; text-align: center; padding: 4px; border-radius: 30px; width: 100%; font-size: 1.500em; color: white; font-family: 'open_sanssemibold'; }
.btn-social .fa-stack { float: left; }
.btn-social:hover, .btn-social:focus, .btn-social:visited { text-decoration: none; color: #FFF }
.btn-social + .btn-social { margin-top: 20px; }
.txt-btn { display: table-cell; vertical-align: middle; width: 100%; }
.label-default { background-color: #404549; }
.label-primary { background-color: #0a4573 }
.label-default.font-white:hover, .label-primary.font-white:hover { color:white; }

.box-btn-submit { position: absolute; bottom: 0; width: 100%; left: 0 }
.btn-submit .icon { font-size: 3em; }

/*
* menu saas
*/
.menu-saas { color: #FFF; min-height: 100%; position: absolute; z-index: 2; top: 0; left: 0; height: 100%; }
.menu-saas > ul { max-height: 100vh; padding-top: 5%; overflow-y: auto; overflow-x: hidden; margin-right: 15%; -webkit-overflow-scrolling: touch; }
.menu-saas a { color: inherit; }
.menu-saas li { float: left; }
.menu-saas > ul > li {border-bottom: 1px solid #0d0d0d; width: 100%; padding-left: 56px;}
.menu-saas > ul > li:not(.has-user-block) {  padding-bottom: 20px; padding-top: 20px; font-size: 1.750em }
.menu-saas > ul > li:last-child{border-bottom: none;}
.menu-saas ul .badge { margin-left: 4px }
.menu-saas .ion-android-settings { margin-left: 10px;}
.has-user-block { display: table;}
.user-block-info { margin-left: 25px }
.user-block { display: table-cell; vertical-align: middle; padding: 0 0 60px}
.user-block-name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
.user-block-role li { margin-left: 30px }
.user-block-role li a:hover { color: inherit; text-decoration: none; }
.user-block-role li:first-child { margin-left: 0 }
.menu-block .menu-saas { z-index: 4; left: 0; background-color: rgba(255,255,255,0.6); position: fixed;}
.menu-block .menu-saas .btn-header { right: 5%; left: initial; }
.menu-saas .btn-header { color: #1c1c1c; top: 30px; left: 30px; }
.c-hamburger {display: block; margin: 0; padding: 0; width: 24px; height: 26px; text-indent: -9999px; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; transition: background 0.3s; background:none; z-index: 4}
.c-hamburger:focus {outline: none;}
.c-hamburger span {display: block;position: absolute;top: 8px;left: 0;right: 0;height: 3px;background: #1c1c1c;}
.c-hamburger span::before, .c-hamburger span::after { position: absolute; display: block; left: 0;width: 100%; height: 3px;background-color: #1c1c1c;content: "";}
.c-hamburger span::before {top: 7px;}
.c-hamburger span::after { bottom: -14px; }
.c-hamburger--htx span { transition: background 0s 0.3s;}
.c-hamburger--htx span::before, .c-hamburger--htx span::after { transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s;}
.c-hamburger--htx span::before { transition-property: top, transform; }
.c-hamburger--htx span::after { transition-property: bottom, transform;}
.c-hamburger--htx.is-active span { background: none; }
.c-hamburger--htx.is-active span::before { transform: rotate(45deg);}
.c-hamburger--htx.is-active span::after { bottom: -7px;transform: rotate(-45deg);}
.c-hamburger--htx.is-active span::before,.c-hamburger--htx.is-active span::after {transition-delay: 0s, 0.3s;}
.is-active .badge { display: none; }
.c-hamburger-white .c-hamburger span, .c-hamburger-white .c-hamburger span::before, .c-hamburger-white .c-hamburger span::after{ background-color: #FFF }
.c-hamburger-white .c-hamburger.is-active span { background: transparent; }

/*modal*/
.modal-title { text-align: center; font-size: 2.125em }
.close { filter: alpha(opacity=100); opacity: 1; }
.close .ion { font-size: 2.125em }

/*form*/
.input-label {display: table; padding: 0; z-index: 3; color: #1c1c1c; font-size: 1.500em; font-family: 'open_sanssemibold';text-transform: uppercase;}
.floating-label .input-label { position: relative; padding: 0 0 0 0; opacity: 0; top: 10px; transition: opacity 0.15s ease-in, top 0.2s linear; text-transform: uppercase; margin: 0}
.floating-label .input-label.has-input { opacity: 1; top: 0; transition: opacity 0.15s ease-in, top 0.2s linear; }
.floating-label input {border-radius: 0; border: none; border-bottom:1px solid #aaaaaa; font-family: 'open_sansregular'; font-size: 1.5em; box-shadow: none; padding: 0; color: #1c1c1c; height: 60px;}
.floating-label input::-webkit-input-placeholder { color: #1c1c1c; font-family: 'open_sanssemibold';text-transform: uppercase;}

/*
*campo
*/ 
.campo, .campo3, .campo4 { border: none; border-bottom:1px solid #aaaaaa; font-family: 'open_sansregular'; display: block; width: 100%; height: 60px; padding: 0; font-size: 1.750em }
.campo:focus, .campo3, .campo4 { outline: none; }
.campo2, .campo3, .campo4 { border-bottom: 0; background-color: #f3f3f3 }
.campo3, .campo4 { padding: 15px }
.campo4 { height: auto; }
.campo4.font-32 { font-size: 2em }

/*text*/
.text-alt { height: 30px; line-height: 30px; margin-top: 37px; margin-bottom: 0 }

/*box botao*/
.box-btn { padding: 40px 0 }
.btn-icon-group { position: relative; }
.btn-icon { border: none; background: none; outline: none; padding: 0; margin: 0; font-size: 2em;  top: 50%; left: 0; width: 40px; height: 100%; margin-top: -30px }
.btn-icon-group .btn-icon { position: absolute;}
.box-search .campo { padding-left: 50px } 

/*list*/
.list { list-style: none; margin: 0; padding:0; }
.list-quick-access {  display: inline-block; }
.list-quick-access li { vertical-align: top; text-align: center; font-family:'open_sansregular'; height: 200px; width: 193px; display: inline-block; }
.list-quick-access h4 { margin-bottom: 0; font-size: 1.250em; margin-top: 0 }
.list-quick-access li:hover .box-icon { color: #FFF; border: none; background-color: #1352e2 } 
.list-quick-access li:hover .box-icon em { color: #FFF }
.box-icon { width: 160px; height: 160px; display: table; margin-bottom: 5px; border-radius: 50%; border:2px solid #c1c1c1; margin-right: auto; margin-left: auto; }
.box-icon em { display: table-cell; vertical-align: middle; }
.box-icon em:before { display: block; }
/*list result*/
.list-result li { margin: 0; padding:0; line-height: normal; font-family:'open_sansregular'; min-height: 120px; display: table; width: 100%; }
.list-result .item-result { display: table-cell; vertical-align: middle; width: 100%;} 
.list-result p { line-height: 32px; margin-top: 30px; font-size: 1.500em; }
.item-more .item-result { padding-top: 50px; padding-bottom: 50px }
.title-result { font-size: 1.5em; display: block; }
.title-result:hover, .title-result:focus { text-decoration: none; color: inherit; }

/*list result user*/
.list-result-2 { padding: 50px 0; font-family:'open_sansregular';  }
.user-result { text-transform: uppercase; font-size: 1.5em; font-family: 'open_sanssemibold'; float: right; }
.group-text { margin-bottom: 20px }

/*
* list timeline
*/
.list-timeline { margin-top: 15px }
.content-user { margin-bottom: 15px }
.content-user > ul { display: table; width: 100% }
.list-timeline li.content-user:last-child { margin-bottom: 0 }
.list-timeline li.content-user:last-child .description{ border-bottom:none; }
.has-img { padding-right: 20px; width: 150px; position: relative; }
.has-img, .description { display: table-cell; vertical-align: top; }
.has-img .badge-position { border: 2px solid #FFF; position: absolute; margin: 0; }
.vertical-middle { vertical-align: middle; }
.description { padding-bottom: 5px; width: calc(100% - 150px); }
.ph { line-height: normal; margin-bottom: 10px }
.content-user .title-3 { color: #1c1c1c }
.interaction a:hover { text-decoration: none; color: #a8a8a8; }
.interaction a:hover em, .interaction a.active em { color: #e0483e }
.has-like-commet a + a { margin-left: 20px }

/*
* perfil usuário
*/
.profile-user .bar-top { margin-top: 0; margin-bottom: 0; min-height: 370px }
.bg-user { background: url('../img/bg-perfil-user.jpg') repeat-x top center; background-size: cover; }
.head-user { position: relative; }
.profile { width: 70%; margin: 0 auto }
.btn-text { position: absolute; top: 0; right: 0; font-family: 'open_sansregular'; z-index: 1; }
.row-alt { padding-top: 30px; padding-bottom: 30px; margin-left: -30px; margin-right: -30px; }
.pding-top-bottom-0 { padding-top: 0 !important; padding-bottom: 0 !important;}
/*
* perfil palestrante
*/
.profile-lecturer .bar-top { height: 20vh; display: block; padding:0; }
.container-head, .content-head { height: 100%;  }
.content-head { padding: 30px;position: relative; }
.content-head h3 { margin-bottom: 40px }
.bg-lecturer { background: url('../img/bg-perfil-palestrante.jpg') repeat-x top center; background-size: cover; padding: 0 }
.head-lecturer h3 { margin-bottom: 40px }
.content-head .btn-right { top: 35px }
.list-menu-head li { min-width: calc(33vw - 30px); }
.content .list-menu-head li { min-width: calc(33vw - 15px); }
.list-menu-head li a { display: block; padding: 15px 30px; }
/*.list-menu-head li a:hover { color: #FFF; }*/
.list-menu-head .active a { color: #333333; background-color: #FFF; border-radius: 30px }
.list-menu-head.bg-inverte .active a { background-color:#333333; color: #FFF  }
.list-menu-head-round { border-radius: 8px; border-width:2px; border-style: solid; }
.list-menu-head-round-white { border-color:#FFF  }
.list-menu-head-round .active a { border-radius: 0; }

/*
* chat
*/
.chat {position: absolute; bottom: 0; width: 100%;left: 0;}
.chat-container { width: 100%; min-height: 100%; position: relative;}
.chat-content { position: absolute; bottom: 0; left: 0; display: table; width: 100%; height: 100%; }
.chat-mensagens, .chat-edit { display: table-row; }
.chat-mensagens { padding-bottom: 10px }
.chat-content-edit { cursor: text;-webkit-transition: right .218s ease; transition: right .218s ease; padding-top: 10px; padding-bottom: 7px; padding-left: 2%; position: relative; min-height: 40px; overflow-x: hidden; overflow-y: visible; background-color: #e8e8e8; max-height: 150px }
.contenteditable { outline: none; cursor: text; width: 100%;word-wrap: break-word;word-break: break-all;position: relative;word-break: break-word;}
.chat-container-edit, .chat-container-mensagens {display: table-cell; width: 100%}
.chat-container-edit { position: relative; }
.chat-container-mensagens { height: 100%; }
.chat-content-mensagens {height: 100%; position: relative;overflow-x: hidden;}
.chat-overflow {top: 0; bottom: 0; left: 0; right: 0; position: absolute; overflow-y: auto; overflow-x: hidden;}
.has-item-chat .content-description { padding: 13px; border-radius: 20px; margin-bottom: 4px; }
.has-item-chat .has-img { position: relative; } 
.has-item-chat .has-img:before { content: ""; position: absolute; width: 30px; height: 20px;border-radius: 50%; top: 17px; right:-1px;}
.my-msg { float: right; }
.my-msg .has-img {padding-left: 20px; padding-right: 0}
.my-msg .has-img:before { box-shadow: -12px 8px 0 0 #2c82bb; left: -1px; }
.my-msg .content-description { background-color: #2c82bb; }
.my-msg .description { text-align: right; }
.friend-msg { float: left; }
.friend-msg .has-img:before { box-shadow: 12px 8px 0 0 #e8e8e8; }
.friend-msg .content-description { background-color: #e8e8e8; }

[contenteditable=true]:empty:before{content: attr(placeholder);display: block; font-family: 'open_sansregular';}
.edit-btn-msg { position: relative; min-height: 1px; padding-right: 5px; padding-left: 5px; overflow: hidden;}
.edit-btn-box { width: 20%; position: absolute; top: 8px; right: 0; padding-right: 2%; text-align: right; }
.chat-content-edit { padding-right: 22% }
.chat-user .chat-content-edit { padding-left: 7%; padding-right: 15%; background: #ffffff; border-top:1px solid #aaaaaa; }
.chat-user .box-btn-chat { display: inline-block; vertical-align: top; width: 5%; padding-left: 2%; text-align: left; position: absolute; top: 12px; left:0; z-index: 2 }
.chat-user .edit-btn-box { width: 13%; padding: 0 2% 0 0; text-align: right; top: 12px }
.chat-user [contenteditable=true]:empty:before {color: rgba(28,28,28,0.5)}
/*
* img qrCode
*/
.img-qr-code { margin-bottom: 20px; margin-top: 20px }
/*
*list center
*/
.list-center { text-align: center;}
.list-center li { display: inline-block; }
/*
*list evaluation
*/
.evaluation { margin-bottom: 0; position: relative; }
.evaluation .ph { margin-bottom: 0 }
.time { position: absolute; top: -8px; right: 15px }
.evaluation > li { padding-bottom: 15px; margin-bottom: 15px;}
.evaluation > li:last-child { border-bottom:none; padding-bottom: 0; margin-bottom: 0 }
.evaluation .description { padding-bottom: 0 }
.evaluation .list-evaluation em { font-size: 1.5em }
.list-evaluation li { display: inline; line-height: normal; }
.list-evaluation .active em { color:#39af98 }
/*
*list profile
*/
.list-profile li { width: 19%; margin-bottom: 10px}
.list-rede-social li { margin-bottom: 0 }
/*
*cartao virtual
*/
.card-virtual { margin-bottom: 0 }
.card-virtual > li { padding-bottom: 15px; margin-bottom: 15px }
.card-virtual .description { padding-bottom: 0; }
.card-virtual > li:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0 }
/*
*edit user
*/
.select-picture > a { line-height:150px; text-align: center;}
.edit-user { background-color: #f3f3f3; border-bottom: 1px solid #aaa; }
.edit-user span, .edit-user a, .edit-user div { color: #262626 }
.edit-user label, .edit-user .group-campo { float: left;padding-left: 15px;}
.edit-user label { width: 25%;  margin-top: 22px; margin-bottom: 0 }
.edit-user .group-campo { width: 75%; padding-right: 15px;}
.edit-user .campo { background-color: transparent; border-bottom: none; font-size: 1.500em; }
.line-duplo label { margin-top: 0; margin-bottom: 10px }
.line-duplo .group-campo, .line-duplo label { width: 100%; float: none; }
.separator { background-color: #e4e4e4; height: 50px; margin-right: -30px; margin-left: -30px }
.line-accordion {padding-top: 45px; padding-bottom: 45px}
/*
* lis-from
*/
.list-form { position: relative; padding-bottom: 0px; padding-top: 0px;}
.list-form .item {position: relative; z-index: 2; display: block; padding: 45px 15px; border-bottom: 1px solid #aaa;text-align: left;overflow: hidden;}
/*
* lis-radio
*/
.list-radio .radio { position: relative; display: inline-block; cursor: pointer;}
.list-radio .radio { position: absolute; top: 50%; right: 15px; z-index: 3; margin-top: -18px; }
.list-radio .radio input:before, .list-radio .radio .radio-icon:before { border-color: #ddd;}
.list-radio .radio input, .list-radio .radio-icon { position: relative; width: 30px; height: 30px; display: block; border: 0; background: transparent; cursor: pointer; -webkit-appearance: none; outline: none;}
.list-radio .radio input:before, .list-radio .radio-icon:before { display: table; width: 100%; height: 100%; border-width: 2px; border-style: solid; border-radius: 30px; background: #fff; content: ' '; transition: background-color 20ms ease-in-out; }
.list-radio .radio input:checked:before, .list-radio .radio input:checked + .radio-icon:before { background: #22c064; border-color: #22c064; }
.list-radio .radio input:checked:before, .list-radio input:checked + .radio-icon:before { border-width: 2px; }
.list-radio .radio input:after, .list-radio .radio-icon:after { transition: opacity 0.05s ease-in-out; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 33%; left: 25%; display: table; width: 14px; height: 6px; border: 1px solid #fff; border-top: 0; border-right: 0; content: ' '; opacity: 0;}
.list-radio .radio input:checked:after, .list-radio input:checked + .radio-icon:after { opacity: 1;}
.list-radio .item-radio { padding-right: 60px;  }
/*
* lis-toggle
*/
.list-toggle .item-toggle { pointer-events: none; }
.list-toggle .item-toggle { padding-right: 70px; }
.list-toggle .toggle { position: relative; display: inline-block; pointer-events: auto; margin: -5px; padding: 5px;}
.list-toggle .item-toggle .toggle { position: absolute; top: 50%; margin-top: -21px;right: 15px;z-index: 3;}
.list-toggle .toggle input { display: none;}
.list-toggle .toggle .track {transition-timing-function: ease-in-out;transition-duration: 0.3s;transition-property: background-color, border; display: inline-block; box-sizing: border-box; width: 51px; height: 31px; border-radius: 20px; background-color: #c9c9c9; content: ' '; cursor: pointer; pointer-events: none;}
.list-toggle .toggle input:checked + .track { border-color: #202020; background-color: #202020;}
.list-toggle .toggle .handle { transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1); transition-property: background-color, -webkit-transform; transition-property: background-color, transform; position: absolute; display: block; width: 27px; height: 27px; border-radius: 27px; background-color: #fff; top: 7px; left: 7px; box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);}
.list-toggle .toggle input:checked + .track .handle { -webkit-transform: translate3d(20px, 0, 0); transform: translate3d(20px, 0, 0); background-color: #ffffff; }
.list-toggle .toggle .handle:before { position: absolute; top: -4px; left: -21.5px; padding: 18.5px 34px; content: " ";}
.list-toggle .no-toggle { padding-right: 15px; }
.list-toggle .no-toggle span[class*='col-xs']:first-child, .list-toggle .no-toggle span[class*='col-sm']:first-child { padding-left: 0 }
.list-toggle .no-toggle span[class*='col-xs']:last-child, .list-toggle .no-toggle span[class*='col-sm']:last-child,
.list-toggle .no-toggle a[class*='col-xs']:last-child, .list-toggle .no-toggle a[class*='col-sm']:last-child  { padding-right: 0 }
/*
* page contact
*/
.page-content-form { padding-bottom: 70px }
.page-content-form .btn-submit .icon { font-size: 3em; }
/*
* agenda
*/
.fc-toolbar h2, .fc-button {font-size: 1.5em; font-family: 'open_sanssemibold'; text-transform: uppercase; color: #1c1c1c}
.fc-button { color: rgba(28,28,28,0.5); background: none; border:none; }
.fc-state-default.fc-button {border-radius: 0; box-shadow: none; outline: none;}
.not-title-agenda { background: none; border: none; padding: 0; margin: 0;width: 38px; height: 38px; text-align: center; margin: -35px auto 0; }
.not-title-agenda:before {content: attr(day);display: block;background: #2c82bb;border-radius: 50%;z-index: 7;width: 100%; height: 100%;line-height: 38px;font-size: 1.625em;}
.not-title-agenda .fc-content { overflow: hidden; visibility: hidden;}
.fc-widget-header .fc-row { margin-bottom: 20px }
.fc-day-grid-container .fc-week { height: auto !important; }
.badge-row {border-radius: 50%;overflow: hidden;position: relative;white-space: nowrap;text-indent: -99999px; line-height: 1; }
.badge-medium {min-height: 10px;min-width:10px;margin-top: 9px;margin-right: 20px; }

.list-event { margin-top: -30px; }
.list-event .row { margin: 0 }
.item-row { display: block; padding: 30px; border-top:1px solid #aaaaaa; }
.item-row .ion-chevron-right { margin-left: 20px }
.list-event li:first-child .item-row { border-top: 0; }
.list-event li:nth-child(3n+3) { margin-bottom: 50px; }
.list-event li:last-child { margin-bottom: 0 }
.list-event li:nth-child(3n+3) .item-row { border-bottom:1px solid #aaaaaa; }
.list-category li:nth-child(3n+3) { margin-bottom: 0 }
.list-category li:first-child .item-row { border-top:1px solid #aaaaaa; }
.list-category li:nth-child(3n+3) .item-row { border-bottom: none; }
.list-category li:last-child { border-bottom:1px solid #aaaaaa; }
/* 
* list message
*/
.list-message { margin-bottom: 0 }
.list-message li:last-child { border-bottom: none; }
/* 
* materia
*/
.matter-datail .bg-matter { background: url('../img/detalhe-agenda.jpg') repeat-x top center; background-size: cover; }
/*.matter-datail .container-head, .matter-datail .bg-trans-black, .matter-datail .bg-trans-black { height: 400px; width: 100%; z-index: 1 }*/
.matter-datail .bar-top { padding: 0; }
/*.matter-datail .content { padding-top: 400px; }*/
.footer-header { display: table-cell; vertical-align: bottom; text-align: center; padding: 15px 0 }
.text-matter p { line-height: normal; margin-bottom: 10px; font-size: 1.750em; font-family:'open_sansregular'; color: #262626 }

.list-shares { text-align: center; padding-top: 10px; padding-bottom: 20px; display: inline-block;}
.list-shares li { display: inline-block; margin-left: 10px; float: left; }
.list-shares li:first-child { margin-left: 0 }
.list-shares .btn-3 { min-width: 100px }

.list-network > li:last-child { border-bottom: none; padding-bottom: 0 }
/*
* comentario
*/
.list-comment li:last-child { border-bottom: none; }
/*
* conquistas
*/
.list-conquer { margin-top: 15px; display: inline-block; }
.list-conquer .box-icon { width: 100%; height: 100%; }
.list-conquer li { height: 110px; width: 110px; margin: 0 6px 20px; border-radius: 50%; display: inline-block; text-align: center; }
.list-conquer.item-conquer li { width: 160px; height: 160px; }
.grd-radiants { position: relative;border: 2px solid transparent; background: linear-gradient(#ffffff, #fcfcfc); background-clip: padding-box;}
.grd-radiants-red-blue { background: linear-gradient(#e0483e, #1352e2); }
.grd-radiants-blue-red { background: linear-gradient(#1352e2, #e0483e); }
.grd-radiants-orange-red { background: linear-gradient(#f7941d, #e0483e); }
.grd-radiants-red-orange { background: linear-gradient(#e0483e, #f7941d); }
.grd-radiants-grey-black { background: linear-gradient(#333333, #1c1c1c); }
.grd-radiants-blue-green { background: linear-gradient(#1352e2, #22c064); }
.grd-radiants-green-orange { background: linear-gradient(#22c064, #f7941d); }
.grd-radiants-orange-green { background: linear-gradient(#f7941d, #22c064); }
.grd-radiants-blue-red em {background: -webkit-linear-gradient(#1352e2, #e0483e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-orange-red em { background: -webkit-linear-gradient(#f7941d, #e0483e); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-grey-black em { background: -webkit-linear-gradient(#333333, #1c1c1c); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-blue-green em { background: -webkit-linear-gradient(#1352e2, #22c064); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-red-orange em { background: -webkit-linear-gradient(#e0483e, #f7941d); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-orange-green em { background: -webkit-linear-gradient(#f7941d, #22c064); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}

/*
* status
*/
.bg-status { background: url('../img/bg-status.jpg') repeat-x top center; background-size: cover; }
/*
* viewport
*/
.viewport { height: calc(100vh - 68px) }
.viewport-header-img, header.viewport-header-img { height: 45vh }
/*
* fixed top header in background
*/
.fixed-header-img .container-head { position: fixed; top: 0; left: 0; width: 100%; z-index: 1 }
.fixed-header-img .bg-trans-black { display: table; width: 100%; padding: 30px; height: 100% }
.fixed-header-img .bg-linear-black-white { width: 100%; }
.fixed-header-img .btn-header { position: fixed; }
.fixed-header-img .content { padding-top: 45vh }
.fixed-header-img .bar-top { position: absolute; }
.fixed-header-img header h3 { margin-bottom: 30px }
/*
* fixed top header
*/
.fixed-top, header.fixed-top { position: fixed; top: 0; left: 0; height: 68px; min-height: 68px; z-index: 1 }
.fixed-top + .content, header.fixed-top .content { padding-top: 68px; }
.fixed-top .btn-header { position: fixed; }

.chart-item {
	margin-left: -15px;
	line-height: 32px;
	height: 100%;
	width: 0;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	overflow: hidden; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
	font-size: 1.250em;
	font-family: 'open_sansregular';
	text-transform: uppercase;
	text-align: left;
	padding: 0 5px;
	margin-bottom: 10px;
	color: white;
	background: #1352e2; /* Old browsers */
	background: -moz-linear-gradient(left,  #1352e2 0%, #22c064 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1352e2 0%,#22c064 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1352e2 0%,#22c064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.chart-group { border-bottom: 1px solid #e6e6e6; height: 32px; margin-bottom: 10px; }
.chart-row, .chart-name { height: 100%; }
.chart-name { line-height: 32px; font-size: 1.500em; padding: 0; text-align: right; }
.chart-name em { margin-left: 5px; }
.chart-row { padding-right: 5px }
.chart > li:last-child { margin-bottom: 0 }

/*qrcode*/

.box-qrcode {width: 100%;height: 80%;}
.qrcode { background:#fff url('../img/bg-qrcode.jpg') no-repeat 50% -10px; background-size: cover; padding-top: 6vh; height: 100%; margin-left: -15px; margin-right: -15px }
.box-btn-bottom { height: 20%; width: 100%;}
.btn-group-bottom { height: 100%; display: table;    height: 100%;    width: 100%; }
.btn-group-bottom > button { float: none; display: table-cell; height: 100%; vertical-align: middle;}


.box-shadow { width: 100% }
.shadow-black { position: relative; height: 50px; background: url('../img/bg-shadow.png') no-repeat 0 0; height: 50px; margin-top: 20px; display: table-cell; vertical-align: middle; width: 100%; }

@media screen and (min-width:1024px) { 
	/*
	* header fixed
	*/
	.fixed-top, header.fixed-top { height: 84px; min-height: 84px; }
	.fixed-top + .content, header.fixed-top .content { padding-top: 84px; }
	.btn-right em { font-size: 2.2em }
	/*
	* menu
	*/
	.menu-saas .btn-header { top: 32px; left: 30px; }
	.profile-user .menu-saas .btn-header { top: 22px }
	/*card virtual*/
	.card-virtual ul, .card-row form, .card-row h3 { padding-left: 15px; padding-right: 15px }

	/*list quick access*/
	.list-quick-access li { margin-bottom: 20px; }
	.box-icon { height: 140px; width: 140px; }
	.btn-submit .icon { font-size: 4em; }
	/*list conquer*/
	.list-conquer li { height: 140px; width: 140px; }
	.list-conquer.item-conquer li { width: 210px; height: 210px; }
    /*
    *evaluation
    */
    .evaluation .list-evaluation { width: 100%; margin: 0 }
    .list-evaluation { width: 20%; margin-top: -6px;}
    .has-item-chat .description { width: 91% } 
    .btn-send { min-width: 80px }
    .edit-btn-box { width: 18%; top: 5px; }
    .chat-content-edit { padding-right: 18% }
	
	.page-content-form { padding-bottom: 92px }
	.edit-user label { margin-top: 16px }
	.has-img .badge-position { min-width: 15px; right: 54px;top: 14px; }
	.has-item-chat > li { margin-top: 20px }
	/*materia*/
	/*.matter-datail .container-head, .matter-datail .bg-trans-black, .matter-datail .bg-trans-black { height: 600px; }
	.matter-datail .content { padding-top: 600px; }*/
	.matter-datail .btn-footer { padding: 20px 0 }
	.viewport { height: calc(100vh - 74px) }
	/*
	* profile user
	*/
	.profile-lecturer .bar-top { height:30vh; }

	.fixed-header-img header h3 { margin-bottom: 0; }
	.fixed-header-img .bg-trans-black .btn-header + div { margin-bottom: 0; }

	.qrcode {background-size: contain;}
	.qrcode h3 { font-size: 1.250em }
}

@media screen and (min-width:768px) and (max-width:1023px) { 
	/*
	* header fixed
	*/
	.fixed-top, header.fixed-top { height: 84px; min-height: 84px; }
	.fixed-top + .content, header.fixed-top .content { padding-top: 84px; }
	.btn-right em { font-size: 2.2em }
	/*
	* menu
	*/
	.menu-saas .btn-header { top: 32px; left: 30px; }
	.profile-user .menu-saas .btn-header { top: 22px }
	.title-system { margin-bottom: 10% }
	/*card virtual*/
	.card-virtual ul, .card-row form, .card-row h3 { padding-left: 15px; padding-right: 15px }
	/*list quick access*/
	.box-icon { width: 120px; height: 120px; }
	.list-quick-access li { width: 160px; height: 160px; margin-bottom: 20px }
	/*list conquer*/
	.list-conquer li { height: 120px; width: 120px; }
	.list-conquer.item-conquer li { width: 210px; height: 210px; }

	.has-img {width: 100px;}
	.description { width: calc(100% - 100px);}
	.has-img .badge-position { min-width: 15px; right: 24px;top: 4px; }
	/*
	*edit user
	*/
	.select-picture > a { line-height:100px;}
	.separator { height: 20px; }
	.list-event li:nth-child(3n+3) { margin-bottom: 20px; }
	.list-event li:last-child, .list-category li:nth-child(3n+3) { margin-bottom: 0 }
    /*
    *evaluation
    */
    .evaluation .list-evaluation { width: 100%; margin: 0 }
    .list-evaluation { width: 25%; margin-top: -6px;}
    .btn-send { min-width: 80px }
    .edit-btn-box { width: 18%; top: 5px; }
    .chat-content-edit { padding-right: 18% }

    .page-content-form { padding-bottom: 92px }
    .list-event { margin-top: -30px; margin-top: -30px }
	.edit-user label { margin-top: 16px }
	.has-item-chat > li { margin-top: 20px }
	/*materia*/
	.matter-datail .btn-footer { padding: 20px 0 }
	.viewport { height: calc(100vh - 74px) }
	/*
	* profile user
	*/
	.profile-lecturer .bar-top { height:30vh; }

	.qrcode {background-size: contain;}
	.qrcode h3 { font-size: 1.250em }
}
@media screen and (max-width: 767px){
	body { font-size: 95% }
	.logo { max-width: 70%; }
	.login .help { margin-top: -41px; }

	.has-img {width: 70px;}
	.description { width: calc(100% - 70px);}
	/*
	*edit user
	*/
	.select-picture > a { line-height:50px;}
	.separator { height: 20px; }
	.list-event li:nth-child(3n+3) { margin-bottom: 20px; }
	.list-event li:last-child, .list-category li:nth-child(3n+3) { margin-bottom: 0 }
    
    .evaluation .list-evaluation { margin: 0 }
    .list-evaluation { margin-top: -3px; }

    /*
    *chat
    */
    .has-item-chat > li { margin-top: 10px; }
    .edit-btn-box { width: 18%;}
    .chat-content-edit { padding-right: 18% }

    .not-title-agenda { width: 28px; height: 28px; margin-top: -25px }
    .not-title-agenda:before { line-height: 28px }

    .item-row { padding: 20px 15px }
    .item-row .ion-chevron-right { margin-left: 4px; }
	.btn-bottom-text { padding-bottom: 60px }
	/*
	* menu
	*/
	.menu-saas .btn-header { top: 24px; left: 19px; }

	/*
	* cartao visita
	*/
	.btn-right, .content-head .btn-right { right: 16px; top: 27px; }
	.btn-right-text { top: 32px; }
}

@media screen and (max-width: 580px){ 
	body { font-size: 90% }
	.btn-header:not(.c-hamburger) { margin-top: 3px }
	.login { padding-bottom: 70px;}
	.profile > img  { max-width: 30%; }
	.img-qr-code { max-width: 50% }
	.list-profile img { max-width: 80% }
	.profile-user .bar-top { min-height: 220px; }
	.row-alt { padding-top: 15px; padding-bottom: 15px }
	.row-alt.pding-35 { padding-top: 25px; padding-bottom: 25px }
	.line-accordion { padding-top: 25px; padding-bottom: 25px }
	.list-form { padding-top: 0; padding-bottom: 0; }
	.list-form .item {padding-top: 25px; padding-bottom:25px;}
	header .title-2 { line-height: 26px; }
    .content-head { padding:25px 15px 15px;}
    .list-menu-head li { min-width: 30vw }
    .list-menu-head-round li { min-width: calc(30vw - 2px) }
    .list-menu-head li a { padding: 10px 20px }
    .content-head h3 { margin-bottom: 20px }
	.fixed-header-img header h3 { margin-bottom: 30px }
    .list-menu-head .active a, .list-menu-head li a:hover { border-radius: 20px }
    .list-menu-head-round .active a, .list-menu-head-round .active a:hover { border-radius: 0; }
	.list-event { margin-top: -15px; }
    .badge-medium {min-height: 7px; min-width: 7px; margin-top: 6px;}
    .has-img .badge-position { min-width: 11px; right: 20px;top: 4px;}
    .btn-footer { padding:20px 0 21px }
    .list-comment h3 { max-width: 200px } 
	.list-shares .btn-3 { min-width: 80px; padding:12px  }
	.content-description { display: inline-block; }

	/*
	* menu
	*/
	.menu-saas .btn-header { top: 24px; left: 16px; }
	.menu-saas > ul > li { padding-left: 26px; }
	.menu-saas > ul > li:not(.has-user-block) { padding-bottom: 15px; padding-top: 15px;}
	.user-block { padding-bottom: 20px }
	.user-block-name { max-width: 210px;}
	.menu-saas .ion-android-settings {margin-left: 3px;}
	.user-block > img { max-width: 20% }
	.user-block-info { margin-left: 10px; }
    .c-hamburger{width: 20px;height: 22px;}
    .c-hamburger span::before {top: 6px;}
    .c-hamburger span::after { bottom: -12px; }
	.profile-user .menu-saas .btn-header { left: 27px }
	.profile-user .menu-block .menu-saas .btn-header { right: 5%; left: initial; }
}

@media screen and (max-width:480px){
	.title-system { margin-bottom: 10.5%; }
	.logo { max-width: 50%; }
	/*
	* login
	*/
	.login .help { margin-top: -31px; }

	/*form*/
	.floating-label input, .campo, .campo3 { height: 40px;}
	.box-search .campo { padding-left: 30px } 
	.edit-user label { margin-top: 12px }

	/*
	* btn submit
	*/
	.btn-icon {margin-top: -20px; width: 30px;}
	
	/*title-modal*/
	.modal-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0 10px; }

	/*container*/
	.content, header.bar-top, .fixed-header-img .bg-trans-black { padding-left: 15px; padding-right: 15px; }
	.row-alt, .separator, .btn-list{ margin-left: -15px; margin-right: -15px }
	.list-event { margin-top: -15px; }
	.qrcode { margin: 0; }
	/*
	* quick access
	*/
	.list-quick-access li { width: 130px; height: 160px; margin-bottom: 5px }
	.box-icon { width: 120px; height: 120px; }
	/*list conquer*/
	.list-conquer li { height: 120px; width: 120px; }

	/*
	* list result
	*/
	.item-more .item-result { padding-top: 26px; padding-bottom: 26px }
	.list-result p { margin-top: 15px; line-height: 26px; }
	.list-result li { min-height: 70px }
	.list-result-2 {padding: 25px 0}

    /*
    * list lecturer
    */
    .list-evaluation em { line-height: 20px }

    .btn-send { min-width: 30px; border-radius: 4px }

    .list-comment h3 { max-width: 180px } 
	.list-shares .btn-3 { min-width: 50px }
}
@media screen and (max-width:425px){
	
	/*
	* btn submit
	*/
	.login .form-group { margin-bottom: 5%; }

	/*
	*list quick access
	*/
	.list-quick-access li { height: 150px; width: 128px; margin-bottom: 0;}
	.box-icon { width: 110px; height: 110px; }
	/*list conquer*/
	.list-conquer li { height: 110px; width: 110px; }
}
@media screen and (max-width:411px){
	/*
	*list quick access
	*/
	.list-quick-access li { height: 135px; width: 127px}
	.box-icon { width: 90px; height: 90px; }
	/*list conquer*/
	.list-conquer li { height: 95px; width: 95px; }
}
@media screen and (max-width:380px){
	.title-system { margin-bottom: 5%; }
	header .title-2 {max-width: 240px; overflow: hidden; margin: 0 auto; white-space: nowrap; text-overflow: ellipsis;}
	/*
	*list quick access
	*/
	.list-quick-access li {height: 130px; width: 110px}

	/*menu*/
	.user-block-name { max-width: 150px;}

	.item-row { padding: 15px }

	/*.matter-datail .container-head, .matter-datail .bg-trans-black, .matter-datail .bg-trans-black { height: 200px }
	.matter-datail .content { padding-top: 200px; }*/

    .list-comment h3 { max-width: 130px } 
	.edit-btn-box { width: 20%;}
	.chat-content-edit { padding-right: 20% }
    .chat-user .chat-content-edit { padding-left:8% ; padding-right: 20%; }
    .chat-user .box-btn-chat { width: 6%; }
	.chat-user .edit-btn-box { width: 18%; }
	.has-item-chat .has-img:before {top: 5px;}
}
@media screen and (max-width:320px){
	header .title-2 {max-width: 185px;}
	/*list quick access*/
	.list-quick-access li { height: 130px; width: 90px}
	.box-icon { width: 85px; height: 85px; }
	.list-conquer li { height: 150px; width: 150px; }
	/*list conquer*/
	.list-conquer li { height: 82px; width: 82px; }

	.item-more .item-result { padding-top: 20px; padding-bottom: 20px }

	/*menu*/
	.c-hamburger span {top: 2px;}

	.btn-header .badge {top: -2px;}

	.menu-saas .btn-header { top: 30px; }

	.evaluation .list-evaluation { width: 100% }
    .list-evaluation { width: 40% }


    .list-comment h3 { max-width: 110px } 
    .title-list { max-width: 200px } 
    .list-menu-head li a { padding: 10px 14px }
    .list-menu-head li {min-width: 28vw;}

}
/*@media screen and (orientation:landscape) { 
	.title-system { margin-bottom: 10% }
	.menu-saas .btn-header {top: 12px;}
	.btn-right {top: 15px;}
	.content-head .btn-right { top: inherit; }
	.profile-user .bar-top { padding-right: 30px; padding-left: 30px }
	.btn-header { left: 30px }
	.list-event { margin-top: -15px;}
	.btn-footer {padding:20px 0}
}
@media screen and (orientation:landscape) and (max-width:767px){ 
	.login { padding-bottom: 100px;}
}
@media screen and (orientation:landscape) and (min-width:767px){ 
	.menu-saas .btn-header {top: 30px;}
	.btn-right {top: 27px;line-height: 38px;}
}*/

