<div class="modal-header">
    <a href="javascript:;" hide-modal class="close pull-left btn-back"><em class="ion ion-android-arrow-back"></em></a>
    <a href="javascript:;" hide-modal class="close"><em class="ion ion-android-close"></em></a>
    <h3 class="modal-title">{{title}}</h3>
</div>
<!-- end title -->
<div class="modal-body clearfix">
	<form name="formPassword" id="formPassword" ng-submit="submit()" class="pding-top-40">
		<div class="col-md-12">
			<div class="form-group floating-label">
		        <label for="email" class="input-label">EMAIL</label>
		        <input type="email" id="email" name="email" placeholder="EMAIL" floating-label ng-model="resetPassword.email" class="form-control" />
		    </div>
		    <!-- end form-group -->
		    <p class="text-center text-alt font-opensemibold font-18 font-grey-sure text-uppercase txt-alt">
		    	OU
		    </p>
			<div class="form-group floating-label">
		        <label for="cpf" class="input-label">CPF</label>
		        <input type="number" id="cpf" name="cpf" floating-label placeholder="CPF" ng-model="resetPassword.cpf" class="form-control" />
		    </div>
		    <!-- end form-group -->
		    <br>
			<p class="font-opensemibold font-18 font-grey-sure text-uppercase text-center">Um email será enviado com instruções de como recuperar a sua senha</p>
			
			<div class="box-btn text-center">
				<button type="submit" name="recoverPassword" hide-modal ng-cli class="btn btn-primary font-24" id="recoverPassword">recuperar</button>
			</div>
		</div>
	</form>
	<!-- end form -->
</div>
<!-- end body -->
	