<div class="container login">
	<header class="bar-top brd-top-grey-1">
		<a href="#/" class="btn-header"><em class="ion ion-android-arrow-back"></em></a>
	    <h2 class="title-2"> Entrar</h2>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<h1 class="title-system">
			<img src="img/logo-blue-large.png" class="logo" alt="Events Saas" />
		</h1>
		<!--title-system-->
		<form name="formLogin" id="formLogin" ng-submit="submit()" novalidate>
			<div class="col-md-12">
				<div class="row">
					<div class="form-group col-md-12 floating-label">
			            <label for="email" class="input-label">EMAIL</label>
			            <input type="email" id="email" name="email" placeholder="EMAIL" floating-label ng-model="login.email" class="form-control" required="required" />
				    </div>
				    <!-- end form-group -->
					<div class="form-group col-md-12 floating-label">
			            <label for="password" class="input-label">SENHA</label>
			            <input type="password" id="password" placeholder="senha" floating-label name="password" ng-model="login.senha" class="form-control" required="required" />
			            <a href="javacsript:;" open-modal="view/login/edit.password.view.html" modal-back="/login/login.html" modal-controller="EditPassword" modal-title="Esqueci minha senha" class="help">Esqueci a senha 
			            	<span class="icon ion-ios-help-outline"></span>
						</a>
				    </div>
				    <!-- end form-group -->
					<div class="col-md-12">
						<a href="javacsript:;" class="btn-social label-default clearfix">
							<span class="fa-stack fa-lg font-grey-dark">
							  <em class="fa fa-circle fa-stack-2x"></em>
							  <em class="fa fa-linkedin fa-stack-1x fa-inverse"></em>
							</span>
							<span class="txt-btn">entrar com linkedin<span>
						</a>
						<!-- btn linkedin -->
						<a href="javacsript:;" class="btn-social label-primary clearfix">
							<span class="fa-stack fa-lg font-blue-dark">
							  <em class="fa fa-circle fa-stack-2x"></em>
							  <em class="fa fa-facebook fa-stack-1x fa-inverse"></em>
							</span>
							<span class="txt-btn">entrar com facebook<span>
						</a>
						<!-- btn linkedin -->
					</div>
					<!-- end box btn-social -->
				</div>
				<!-- end row -->
			</div>
			<!-- end col-md-12 -->
			<div class="box-btn-submit">
				<button type="submit" name="btn-login" class="btn btn-submit btn-success" id="btn-login">
					<em class="icon ion-android-arrow-forward"></em>
				</button>
			</div>
		</form>
		<!-- formLogin -->
	</section>
	<!-- content -->
</div>