<div class="container">
	<header class="bar-top brd-top-grey-1" ng-class="{'menu-block': isShowMenu}">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2">Editar Perfil</h2>
	    <a href="javascript:;" class="btn-right btn-right-text font-24 text-uppercase font-openregular">salvar</a>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<form name="editUser" id="editUser">
			<div class="row row-alt brd-top-sure-3 brd-bottom-sure-1 bg-grey-sure-2 select-picture">
				<a href="javascript:;" class="font-24 font-opensemibold text-uppercase col-xs-12 col-sm-12 font-grey-sure-3">selecione a sua foto</a>
			</div>
			<user-row label="nome" row-class="brd-bottom-sure-1 edit-user" service="nome" action="edit"></user-row>
			<!-- end row nome -->
			<user-row title="Cargo e Empresa" texto="" row-class="brd-bottom-sure-1 edit-user line-accordion"></user-row>
			<!-- end cargo e empresa -->			
			<user-row label="bREVE DESCRIÇÃO" texto="" type-tag="textarea" row-class="brd-bottom-sure-1 edit-user line-duplo text-value" service="humor" action="edit"></user-row>
			<!-- end breve descricao -->
			<hr class="separator row brd-bottom-sure-1">
			<user-row label="e-mail" action="edit" row-class="brd-bottom-sure-1 edit-user text-value" service="email"></user-row>
			<!-- end row email -->
			<user-row label="password" action="edit" type-tag="password" row-class="brd-bottom-sure-1 edit-user text-value" service="password"></user-row>
			<!-- end row password-->
			<hr class="separator row brd-bottom-sure-1">
			<ul class="list-toggle row-alt row list-form">
				<li class="item item-toggle bg-grey-sure">
					<em class="fa fa-twitter font-blue-sure font-28 mrg-right-10"></em> <span class=" font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3">twitter</span>
					<label class="toggle">
						<input type="checkbox" checked="">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<li class="item item-toggle bg-grey-sure">
					<em class="fa fa-facebook font-blue-dark-2 font-28 mrg-right-10"></em> <span class=" font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3">facebook</span>
					<label class="toggle">
						<input type="checkbox">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<li class="item item-toggle no-toggle bg-grey-sure">
					<span class="col-xs-6 col-sm-6">
						<em class="ion-social-googleplus font-orange-sure-2 font-28 mrg-right-10"></em><span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold">google +</span>
					</span>
					<a href="javascript:;" class="col-xs-6 col-sm-6 text-uppercase font-grey-dark-3 font-24 font-opensemibold text-right">connect <em class="ion-chevron-right mrg-left-5"></em></a>
				</li>
				<li class="item item-toggle bg-grey-sure">
					<em class="fa fa-linkedin font-blue-sure-2 font-28 mrg-right-10"></em> <span class=" font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3">linkedin</span>
					<label class="toggle">
						<input type="checkbox" checked="">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<li class="item item-toggle no-toggle bg-grey-sure">
					<span class="col-xs-6 col-sm-6">
						<em class="ion-social-instagram-outline font-brown-dark font-28 mrg-right-10"></em><span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold">instagram</span>
					</span>
					<a href="javascript:;" class="col-xs-6 col-sm-6 text-uppercase font-grey-dark-3 font-24 font-opensemibold text-right">connect <em class="ion-chevron-right mrg-left-5"></em></a>
				</li>
			</ul>
			<hr class="separator row brd-bottom-sure-1">
			<ul class="list-toggle row-alt row list-form">
				<li class="item item-toggle item-toggle-line bg-grey-sure">
					<span class="display-2 font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3 mrg-bottom-5">Localização</span>
					<p class="font-22 font-openregular font-grey-dark-3">Permitir que outros usuários vejam sua localização dentro do evento?</p>
					<label class="toggle">
						<input type="checkbox" checked="">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<li class="item item-toggle item-toggle-line bg-grey-sure">
					<span class="display-2 font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3 mrg-bottom-5">ocupação na empresa</span>
					<p class="font-22 font-openregular font-grey-dark-3">Permitir que outros usuários vejam seu cargo na empresa em que trabalha?</p>
					<label class="toggle">
						<input type="checkbox" checked="">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</ul>		
		</form>
	</section>
	<!-- content -->
</div>