<div class="container profile-user">
	<header class="bar-top bg-user c-hamburger-white" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
		<div class="head-user text-right">
		    <div class="profile text-center" ng-repeat="item in vm.profile">
		    	<img ng-attr-src="{{item.avatar}}" alt="" class="img-circle border-white mrg-bottom-10" />
		        <h3 class="font-white font-30 font-openregular">{{item.nome}}</h3>
		        <p class="font-white font-22 font-openregular ph">{{item.profissao}}</p>
		        <p class="font-white-trans font-22 font-openregular ph">{{item.humor}}</p>
		    </div>
		    <a href="#/edit-user" class="text-uppercase font-white btn-text font-24">editar</a>
		</div>
		<!-- head-user -->  
	</header>
	<!-- header -->
	<section class="content clearfix">
		<user-row title="Cartão virtual" texto="compartilhar" link="#/card-virtual" row-class="brd-bottom-sure-1"></user-row>
		<!-- end cartao virtual -->
		<div class="row brd-bottom-sure-1 row-alt text-center">
			<div class="col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
				<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">meu qr code</h4>
				<img src="img/img-qrcode.jpg" alt="" class="img-qr-code" />
				<p class="font-28 font-openregular font-grey-dark-4 ph">
					Utilize o QR Code acima para efetuar o seu credenciamento no evento e também nas palestras de seu interesse.
				</p>
			</div>
		</div>
		<!-- end QR code -->
		<user-row label="e-mail" row-class="brd-bottom-sure-1" service="email"></user-row>
		<!-- end row email -->
		<div class="row brd-bottom-sure-1 row-alt text-center">
			<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">minhas redes sociais</h4>
			<user-list listar="redeSocial"></user-list>
		</div>
		<!-- end minhas redes sociais -->	
		<user-row title="amigos" texto="ver todos" link="#/network" row-class="brd-bottom-sure-1" service="amigos" tipo="qtd"></user-row>
		<!-- end row amigos -->
		<div class="row brd-bottom-sure-1 row-alt text-center">
			<user-list listar="amigos"></user-list>
		</div>
		<!-- end my friend -->
		<user-row title="conquistas" texto="ver todos" link="#/conquer" row-class="brd-bottom-sure-1" service="conquistas" tipo="qtd"></user-row>
		<!-- end row conquista -->
		<div class="row row-alt text-center">
			<user-list listar="conquistas"></user-list>
		</div>
		<!-- end my conquista -->
	</section>
	<!-- content -->
</div>
