<div class="container">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<header class="bar-top brd-top-grey-1 fixed-top brd-bottom-sure-2 bg-white">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		
	    <h2 class="title-2  mn-person-flex">Participantes</h2>
	    <!--<a href="javascript:;" class="btn-right"><em class="ion-plus"></em></a>-->
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row row-alt">
			<div class="col-xs-12 col-sm-12">

				<div class="text-center mrg-bottom-20">
					<ul class="list-center list-menu-head bg-inverte">
						<li ng-repeat="($teste,item) in vm.lisMenu" ng-class="{'active': $teste == vm.selected}"><a href="javascript:;" ng-click="vm.selectApply($teste, item)" class="font-grey-dark-4 font-24 font-opensemibold text-uppercase">{{item}}</a></li>
					</ul>
				</div>
				<!-- end list-menu-head -->
				<!--form name="formNetwork" id="formNetwork" novalidate-->
				<div class="form-group btn-icon-group box-search mrg-0">
					<button type="button" name="btn-serach" class="btn-icon">
						<em class="fa fa-search font-grey-sure"></em>
					</button>
					<input type="text" name="search" id="search" ng-disabled="!vm.rows.length" ng-model="vm.filterSearch" placeholder="Procurar" class="campo campo2" />
				</div>
				<!--</form>
				 end form search -->
			</div>
		</div>
		<div class="row row-alt">
			<div class="col-sm-12 col-xs-12">
				<h3 class="font-24 text-uppercase font-grey-dark-4 font-openregular">
					<span ng-if="vm.rows.length"><span ng-bind="results.length"></span>/<span ng-bind="vm.filter"></span></span>
					<span ng-if="!vm.rows.length" ng-bind="vm.filter"></span>
				</h3>
			</div>
		</div>
		<ul class="content-user clearfix list-network">
			<li class="brd-bottom-sure-1 row row-alt" ng-repeat="participant in vm.rows | orderBy:'name' | filter:vm.search as results">
				<a href="#/participant/chat/{{participant.id}}" class="display-2 clearfix">
					<ul class="col-xs-12 col-sm-12 mn-person-info">
						<li class="mn-person-info__picture relative">
							<small class="badge-medium badge-row" ng-class="{'bg-grey-dark-2 badge-position': !participant.onLine, 'bg-green-sure badge-position': participant.onLine}">&nbsp;</small>
							<img alt="" ng-attr-src="{{participant.pictureUrl ? vm.baseUrl+participant.pictureUrl : vm.avatar}}" ng-class="{'ghost-person': !participant.pictureUrl}" class="img-circle"/>
						</li>
						<li class="mn-person-info__details">
							<div>
								<h3 class="font-opensemibold font-30 align-center title-list mn-person-info__name mn-person-flex" ng-bind="participant.name"></h3>
								<p ng-if="participant.showJobRole" class="font-24 align-center font-grey-dark-trans font-openregular mn-person-flex">{{participant.jobRole}} @ {{participant.company}}</p>
							</div>
						</li>
					</ul>
				</a>
			</li>
		</ul>
	</section>
	<!-- content -->

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>