<div class="container profile-user participant content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="relative blur-bgimage viewport-header-img bg-user" ng-attr-style="{{vm.pictureUrl ? 'background-image: url('+vm.pictureUrl+'); background-size: cover' : ''}}">
			<div class="container-head">
				<div class="display-8">
					<a href="javascript:history.back()" class="btn-header display-8"><em class="ion-android-arrow-back font-white"></em></a>					
					<div class="head-user text-right display-8">
						<div class="profile text-center">
							<img ng-attr-src="{{vm.profile.pictureUrl ? vm.baseUrl+vm.profile.pictureUrl : vm.avatar}}" alt="" ng-class="{'ghost-person': !vm.profile.pictureUrl }" class="img-circle border-white mrg-bottom-10" />
							<h3 class="font-white font-30 font-openregular" ng-bind="vm.profile.name"></h3>
							<p class="font-white font-22 font-openregular ph" ng-if="vm.profile.jobRole && vm.profile.showJobRole" ng-bind="vm.profile.jobRole +' @ '+ vm.profile.company"></p>
							<p class="font-white-trans-2 font-22 font-openregular ph" ng-if="vm.profile.minibio" ng-bind="vm.profile.minibio"></p>
						</div>
					</div>
					<!-- head-user -->
				</div>
			</div>
		</header>
		<!-- header -->
		<section class="content clearfix">
			<div class="row brd-bottom-sure-1 row-alt" ng-click="vm.openLinkChat()">
				<div class="line-flex align-center">
					<span class="text-uppercase text-nowrap line-flex-col font-24 font-grey-dark-3 font-opensemibold col-xs-6 col-sm-6">Enviar Mensagem</span> 
					<a href="#{{vm.linkMensagem}}" class="col-xs-6 col-sm-6 text-uppercase line-flex-col mrg-left-auto font-grey-dark-trans font-24 font-opensemibold text-right">
						<em class="ion-chevron-right mrg-left-5"></em>
					</a>
				</div>
			</div>
			<!--enviar msg-->

			<div class="row brd-bottom-sure-1 row-alt">
				<div class="line-flex align-center">
					<span class="text-uppercase text-nowrap line-flex-col font-24 font-grey-dark-3 font-opensemibold col-xs-3 col-sm-3">
						e-mail
					</span>
					<span class="font-grey-dark-trans line-flex-col font-24 mrg-left-auto font-opensemibold col-xs-9 col-sm-9 text-ellipsis ng-binding ng-scope">
						{{vm.profile.email}}
					</span>
				</div>
			</div>
			<!-- end row email -->
			
			<div class="row row-alt text-center" ng-if="vm.viewSocial">
				<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">minhas redes sociais</h4>
				<ul class="list-center list-profile">
					<li ng-repeat="list in vm.hasSocial" class="font-40">
						<a href="javascript:;" ng-click="vm.openLinkSocial(list.url)">
							<span class="fa-stack fa-lg img-circle {{list.bg}}"> 
								<em class="fa fa-circle fa-stack-2x"></em> <em class="fa {{list.ico}} fa-stack-1x font-11 fa-inverse"></em> 
							</span> 
						</a>
					</li>
				</ul>
			</div>
			<!-- end minhas redes sociais -->
			
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>
