<ul class="clearfix bg-grey-dark slide-left" ng-hide="!isShowMenu">
	<has-user></has-user>
	<menu-item></menu-item>
</ul>
<button toggle-menu class="c-hamburger c-hamburger--htx btn-header" ng-class="{'is-active': isShowMenu}">
	<small class="badge bg-blue-sure" ng-show="hasNotificationMenu">0</small>
  <span>toggle menu</span>
</button>