<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <title>I Forgot My Password</title>
</head>
<body>
<div class="container">
    <h1>Reset Password</h1>
    <br/>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
    <form th:action="@{/user/resetPassword}" method="post" class="form-horizontal">
        <div class="row">
            <label class="col-sm-1" for="email">Email:</label>
            <span class="col-sm-5"><input class="form-control" id="email" name="email" type="email"/></span>
            <button class="btn btn-primary" type="submit">Nova Senha</button>
        </div>
    </form>
    <br/>
    <a class="btn btn-primary" th:href="@{/login}">Entrar</a>
    <a class="btn btn-default" th:href="@{/signup}">Registrar</a>
</div>
</body>
</html>