<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:flash="http://sandbox.es/flash-messages"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<style type="text/css">
  	
	  	.fieldset{
	    	border-top: 1px solid;
	    	padding: 10px;
	    }

		.legend{
			margin-bottom: 4px;
		    border: medium none;
		    margin-left: 45%;
		    padding: 0 10px;
		    position: relative;
		    text-align: center;
		    width: auto;
		    font-size: 18px;
		}

  	</style>
  	
	<title>Login</title>

</head>

<body>

<section layout:fragment="custom-content">
    
    <form th:action="@{/doLogin}" method="post" class="form-horizontal">

		<div class="form-group">
			<div class="input-group col-sm-offset-5 col-xs-2">
				<th:block th:if="${message != null}">
        			<!-- /* The message code is returned from the @Controller */ -->
        			<div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    			</th:block>
			</div>
			<div class="input-group col-sm-offset-5 col-xs-2">
				<th:block th:if="${param.error}">
        			<div class="alert alert-dismissable alert-danger">
					    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					    <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">&nbsp;</span>
					</div>
    			</th:block>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group col-sm-offset-5 col-xs-2">
	            <flash:messages/>
    	    </div>
		</div>

	    <!--  <th:block th:if="${param.error != null}">
			<div class="form-group">
				<div class="input-group col-sm-offset-5 col-xs-2">
			        <div th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
				</div>
			</div>
	    </th:block> -->

		<!-- <div th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="alert alert-danger">Login Error</div> -->
		<!-- <div th:if="${message}" th:text="${message.message}" class="alert alert-success">Message</div>
		<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
		<div th:if="${param.logout}" class="alert alert-success">Usuário desconectado com sucesso.</div> -->

					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2 text-center">
							<h1>Entrar</h1>
						</div>
					</div>
		
					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
			  				<span class="input-group-addon">
			   					<span class="glyphicon glyphicon-envelope"></span>
			   				</span>
			   				<input class="form-control" id="username" type="text" name="username" placeholder="Email" th:required="required">
			   			</div>
					</div>
		
					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input class="form-control" id="password" type="password" name="password" placeholder="Senha" th:required="required">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
							<div class="row">
								<div class="col-md-4">
									<div class="checkbox">
										<label data-toggle="tooltip" title="Clique aqui para manter-se conectado">
											<input id="remember" type="checkbox" name="remember-me"> Lembrar
										</label>
									</div>
								</div>
								<div class="col-md-8">
									<a id="forgotPassword" class="btn btn-link pull-right" th:href="@{/forgotPassword}" data-toggle="tooltip" title="Clique aqui para recuperar sua Senha">Esqueci a senha</a>
								</div>
							</div>
						</div>
					</div>
		
					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
							<div class="row">
								<div class="col-md-6">
									<button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" title="Clique aqui para Entrar">Entrar</button>
								</div>
								<div class="col-md-6">
									<a class="btn btn-success btn-block" th:href="@{/signup}" data-toggle="tooltip" title="Clique aqui para Inscrever-se">Registrar</a>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
							<fieldset class="fieldset">
								<legend id="legend" class="legend">ou</legend>
						  </fieldset>
						</div>

					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
			  				 <a class="btn btn-block btn-social btn-facebook" th:href="@{/auth/facebook}">
    							<span class="fa fa-facebook"></span> Registrar com Facebook - teste
  							</a>
			   			</div>
					</div>

					<div class="form-group">
						<div class="input-group col-sm-offset-5 col-xs-2">
			  				 <a class="btn btn-block btn-social btn-linkedin" th:href="@{/auth/linkedin}">
    							<span class="fa fa-linkedin"></span> Registrar com Linkedin
  							</a>
			   			</div>
					</div>


				</div>
			
        </form>

</section>	

</body>

</html>
