<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height">
		<header class="bar-top brd-top-grey-1 brd-bottom-sure-2 relative bg-white">
			<a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse show-on-large">
				<em class="fa fa-navicon"></em>
			</a>
			<!--icone menu -->
			<h2 class="title-2">Home</h2>
		</header>
		<!-- header -->

		<section class="content">
			<div class="row row-alt">
				<div class="text-center">
					<h2 class="font-24 font-openbold mrg-bottom-10 mrg-top-10">Quick Access</h2>
					<div slick settings="vm.slickConfig" class="qa-home slick">
						<div ng-repeat="list in vm.listQuickAcess" ng-class="{'active' : list.active}" ng-click="vm.activeQuick(this.list)">
							<a href="{{list.link}}" class="box-icon">
								<em class="{{list.icon}} font-grey-dark-2 font-60"></em>
							</a>
							<h4 ng-bind="list.title" class="text-uppercase"></h4>
						</div>
					</div>
				</div>
				<hr class="bg-linear-black-grey hr-serp" ng-class="{'mrg-top-bottom-15':vm.timeLine, 'no-timeline': !vm.timeLine}" />
			</div>
			<!--end row-alt-->

			<div class="content-user" ng-if="vm.timeLine">
				<div slick class="slick" settings="vm.slickConfigTimeLine">
					<div ng-repeat="item in vm.timeLine" class="clearfix">
						<ul class="mn-person-info">
							<li class="mn-person-info__picture">
								<img ng-attr-src="{{item.author.pictureUrl ? vm.root+item.author.pictureUrl : vm.avatar}}" ng-class="{'ghost-person': !item.author.pictureUrl}" ng-click="vm.openParticipant(item.author.id)" alt="" class="img-circle">
							</li>
							<li class="mn-person-info__details">
								<div class="display-8 mrg-bottom-5 align-baseline">
									<h3 class="title-3 mrg-0 display-9">
										<span class="mn-person-info__name" ng-click="vm.openParticipant(item.author.id)" ng-bind="item.author.firstName+' '+item.author.lastName"></span>
									</h3>
									<div class="display-8 font-18 align-center text-uppercase font-grey-dark-trans font-opensemibold text-right">
										<timeline-time icon="true" ng-attr-tempo="{{item.displayTime}}"></timeline-time>
									</div>
								</div>
								<!-- <div class="mrg-bottom-10">
									<div ng-switch on="item.source" ng-if="item.source">
										<em ng-switch-when="facebook" class="fa fa-facebook font-blue-sure font-28"></em>
										<em ng-switch-when="twitter" class="fa fa-twitter font-blue-sure font-28"></em>
										<em ng-switch-when="linkedin" class="fa fa-linkedin font-blue-sure font-28"></em>
										<em ng-switch-when="instagram" class="ion-social-instagram-outline font-blue-sure font-28"></em>
										&nbsp;<span class="font-18 font-openregular font-italic">via {{item.source}}</span>
									</div>
								</div> -->
								<div>
									<p class="font-28 ph text-word-break">	
										<a ng-href="{{item.description.length > 100 ? '#/matter/'+item.id: 'javascript:;'}}" ng-bind-html="item.description | htmlToPlaintext | limitTo: 100"> </a>
										<a href="#/matter/{{item.id}}" ng-if="item.description.length > 100" class="font-red-sure more">[...]</a>
									</p>
									<ul class="interaction">
										<li class="has-like-commet font-24">
											<a href="javascript:;" count-link ng-model="item" ng-class="{'has-like': {{item.liked}}}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
												<em class="ion-heart"></em> curtir (<span class="font-openregular" ng-bind-html="item.numberLike"></span>)
											</a>
											<a href="#/commentes/{{item.id}}" ng-class="{'active': item.hasComment}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
												<em class="ion-chatbubble"></em> comentários <span class="font-openregular">({{item.numberComment}})</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--end content user -->
			
			<div class="row row-alt" ng-if="vm.atividades">
				<hr class="bg-linear-black-grey hr-serp mrg-top-bottom-15" ng-if="vm.timeLine" />
				<div class="text-center">
					<h2 class="font-24 font-openbold mrg-bottom-10 mrg-top-10">Próximas Atividades</h2>
					<div class="list-event-two slick" slick settings="vm.slickConfigAtividade">
						<div class="item-event-two" ng-click="vm.openDetailLecture(item.id, item.detailPage)" ng-repeat="item in vm.atividades | orderBy : 'priority'">
							<div class="brd-sure brd-radius-8 content-event-two mrg-bottom-10">
								<div class="brd-radius-8 event-two-img mrg-bottom-5" ng-switch on="item.type">
									<img ng-switch-when="ACCREDITION" ng-attr-src="{{'img/img-evento3.jpg'}}" alt="" class="brd-radius-8" />
									<img ng-switch-when="LUNCH" ng-attr-src="{{'img/img-evento2.jpg'}}" alt="" class="brd-radius-8" />
									<img ng-switch-when="KEY_NOTE" ng-attr-src="{{'img/img-evento6.jpg'}}" alt="" class="brd-radius-8" />
									<img ng-switch-when="LECTURE" ng-attr-src="{{'img/img-evento5.jpg'}}" alt="" class="brd-radius-8" />
								</div>
								<h3 class="font-24 font-opensemibold font-grey-dark-2 mrg-bottom-5 box-ellipsis content-event-titulo" ng-bind="item.title"></h3>
								<div class="footer-event-two">
									<span class="font-openregular font-24 font-grey-dark-trans-4 mrg-bottom-5">
										<em class="ion ion-ios-clock-outline"></em> {{item.schedule}}
									</span>
									<div class="font-24">
										<div ng-switch on="item.type" class="display-8 align-center">
											<div ng-switch-when="LUNCH" class="content-event-type"><em class="fa fa-coffee"></em> Coffee Break</div>
											<div ng-switch-when="ACCREDITION" class="content-event-type"><em class="fa fa-qrcode"></em> Check-in</div>
											<div ng-switch-when="KEY_NOTE" class="content-event-type"><em class="fa fa-map"></em> <span ng-bind="item.room"></span></div>
											<div ng-switch-when="LECTURE" class="content-event-type"><em class="fa fa-television"></em> <span ng-bind="item.speakers"></span></div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:;" class="font-18 font-openregular" ng-if="item.detailPage">+ Ver mais detalhes</a>
						</div>
					</div>
				</div>
				<!--end proxima atividade-->

				<!-- <hr class="bg-linear-black-grey hr-serp mrg-top-bottom-15" /> -->
			</div>

		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>