<div class="container">
	<header class="bar-top" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">{{vm.nome}}</h2>
	    <a href="javascript:;" class="btn-right btn-right-text font-24 text-uppercase font-openregular">perfil</a>
	</header>
	<!-- header -->
	
	<section class="content clearfix brd-top-sure-1">
		<div class="chat">
			<div class="chat-container" on-height>
				<div class="chat-content">
					<div class="chat-mensagens">
						<div class="chat-container-mensagens">
							<div class="chat-content-mensagens">
								<div class="chat-overflow" scroll-glue>
									<div class="col-xs-12 col-sm-12">
										<p class="mrg-top-10 text-center font-grey-sure-3 font-openregular font-24">
											12:24
										</p>
										<ul class="has-item-chat">
											<li ng-repeat="msg in vm.mensagens" class="clearfix">
												<ul id="row-{{msg.id}}" ng-class="{'my-msg': msg.myMsg, 'friend-msg': !msg.myMsg}">
													<li class="description" ng-if="msg.myMsg">
														<div class="content-description">
															<p class="font-openregular font-26 font-white">{{msg.texto}}</p>
														</div>
														<p class="font-grey-sure-3 font-openregular font-18"><em class="ion-checkmark font-green-sure-2"></em> {{msg.time}}</p>
													</li>

													<li class="has-img text-right" ng-if="!msg.myMsg"><img alt="" ng-attr-src="{{msg.image}}" class="img-circle"></li>
													<li class="description" ng-if="!msg.myMsg">
														<div class="content-description">
															<p class="font-grey-dark-4 font-openregular font-26">{{msg.texto}}</p>
														</div>
														<p class="font-grey-sure-3 font-openregular font-18">{{msg.time}}</p>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="chat-edit chat-user">
						<div class="chat-container-edit clearfix">
							<div class="box-btn-chat">
								<a href="javascript:;"><em class="ion-plus font-24"></em></a>
							</div>
							<div class="chat-content-edit">
								<div class="edit-btn-msg">
									<div class="contenteditable font-26" contentedit contenteditable="true" ng-model="vm.mensagem" placeholder="Digite sua mensagem"></div>
								</div>
							</div>
							<div class="edit-btn-box">
								<a ng-click="vm.addMsg(vm.mensagem)" class="font-opensemibold font-24 text-uppercase">enviar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end chat -->
	</section>
	<!-- content -->

</div>
