<div class="container">
	<header class="bar-top brd-top-grey-1 fixed-top brd-bottom-sure-2 bg-white" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">Mensagens</h2>
	    <a href="javascript:;" class="btn-right btn-right-text font-24 text-uppercase font-openregular">nova</a>
	</header>
	<!-- header -->
	
	<section class="content">
		<ul class="content-user clearfix list-message">
			<li class="brd-bottom-sure-1 row row-alt" ng-repeat="message in vm.rows | orderBy:'ler'">
				<a href="#/network/chat/{{message.id}}" class="display-2 clearfix">
					<ul class="col-xs-12 col-sm-12 display-3">
						<li class="has-img">
							<img alt="" ng-attr-src="{{message.image}}" class="img-circle"/>
						</li>
						<li class="display-4">
							<h3 class="font-opensemibold font-30 text-ellipsis title-list" ng-class="{'font-blue-sure-3': !message.ler}">{{message.nome}}</h3>
							<p class="font-24 font-grey-dark-4 font-openregular">{{message.message | limitTo: 75}}...</p>
							<span class="time font-18 text-uppercase font-grey-dark-trans font-opensemibold"><timeline-time ng-attr-tempo="07:00"></timeline-time></span>
						</li>
					</ul>
				</a>
			</li>
		</ul>
	</section>
	<!-- content -->
</div>