<div class="container page-content-form">
	<header class="bar-top brd-top-grey-1" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">PESQUISA</h2>
	    <a href="javascript:history.back()" class="btn-right btn-right-text font-24 text-uppercase font-openregular">VOLTAR</a>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<form name="search" id="search">
			<div class="row row-alt brd-top-sure-3 bg-grey-sure-2 text-center pding-35">
				<p class="font-24 font-openregular text-uppercase col-xs-12 col-sm-12 font-grey-sure-3 ph">Pergunta 1 de 5</p>
				<p class="font-36 font-grey-dark-4 font-openregular">Em sua opinião, qual pavilhão possuía melhor infra-estrutura?</p>
			</div>
			<ul class="list-radio row-alt row list-form">
				<li class="item item-radio">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase">pavilhão vermelho</span>
					<label class="radio">
						<input type="radio" name="pesquisa" value="pavilhão vermelho" checked="" />
					</label>
				</li>
				<li class="item item-radio">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase">pavilhão verde</span>
					<label class="radio">
						<input type="radio" name="pesquisa" value="pavilhão verde" />
					</label>
				</li>
				<li class="item item-radio">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase">pavilhão amarelo</span>
					<label class="radio">
						<input type="radio" name="pesquisa" value="pavilhão amarelo" />
					</label>
				</li>
				<li class="item item-radio">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase">pavilhão azul</span>
					<label class="radio">
						<input type="radio" name="pesquisa" value="pavilhão azul" />
					</label>
				</li>
				<li class="item item-radio">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase">pavilhão laranja</span>
					<label class="radio">
						<input type="radio" name="pesquisa" value="pavilhão laranja" />
					</label>
				</li>
			</ul>
			<div class="box-btn-submit">
				<button type="submit" name="btn-login" class="btn btn-submit btn-success" id="btn-login">
					<em class="icon ion-android-arrow-forward"></em>
				</button>
			</div>
		</form>
	</section>
	<!-- content -->
</div>
