<div class="container fixed-header-img">
	<header>
		<div class="bg-status container-head viewport-header-img bg-linear-black-white display-3">
			<div class="bg-linear-black-white display-3 viewport-header-img">
				<div class="bg-trans-black">
					<a href="javascript:history.back()" class="btn-header">
						<em class="ion-android-arrow-back font-white"></em>
					</a>
					<div class="text-center mrg-bottom-20">
						<h3 class="font-white font-34 font-openregular">Status</h3>
						<ul class="list-center list-menu-head list-menu-head-round list-menu-head-round-white">
							<li><a href="javascript:void(0)" class="font-white font-24 font-openregular">Inscritos</a></li>
							<li class="active"><a href="javascript:void(0)" class="font-white font-24 font-openregular">Check-in</a></li>
							<li><a href="javascript:void(0)" class="font-white font-24 font-openregular">Palestras</a></li>
						</ul>
					</div>
					<div class="font-110 font-white font-openbold text-center">{{vm.total}}</div>
					<p class="text-uppercase font-24 font-green-sure-2 text-center">participantes do evento</p>
				</div>
			</div>
		</div>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row brd-bottom-sure-1 row-alt">
			<ul>
				<li class="col-sm-4 col-xs-4">
					<ul>
						<li class="font-24 font-openregular font-grey-dark-trans text-center">Homens</li>
						<li class="font-24 font-openregular text-center">50.000</li>
					</ul>
				</li>
				<li class="col-sm-4 col-xs-4">
					<ul>
						<li class="font-24 font-openregular font-grey-dark-trans text-center">Mulheres</li>
						<li class="font-24 font-openregular text-center">60.000</li>
					</ul>
				</li>
				<li class="col-sm-4 col-xs-4">
					<ul>
						<li class="font-24 font-openregular font-grey-dark-trans text-center">Estudantes</li>
						<li class="font-24 font-openregular text-center">2.613</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="row brd-bottom-sure-1 row-alt">
			<div id="chart" class="col-sm-12 col-xs-12"></div>
			<!--bars data="{{vm.data}}"></bars-->
		</div>
		<!-- end status -->
		<div class="btn-list">
			<ul>
				<li class="col-sm-6 col-xs-6 text-center active">
					<div class="row">
						<a href="javascript:void(0)" class="font-24 font-openbold text-uppercase">gr&aacute;fico 1</a>
					</div>
				</li>
				<li class="col-sm-6 col-xs-6 text-center">
					<div class="row">
						<a href="javascript:void(0)" class="font-24 font-openbold text-uppercase">gr&aacute;fico 2</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- content -->
</div>
