<div class="container">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<header class="bar-top brd-top-grey-1 relative brd-bottom-sure-2 bg-white">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!--icone menu -->
		
	    <h2 class="title-2 mn-person-flex">Timeline</h2>
		<a href="#/timeline-post" class="btn-right"><em class="ion-plus"></em></a>
	</header>
	<!-- header -->

	<section class="content relative">
		<div class="list-timeline">
			<ul>
				<li class="content-user" ng-repeat="item in vm.timeLine">
					<ul class="clearfix mn-person-info">
						<li ng-class="{'can-delete-post':vm.user.id == item.author.id || vm.admin}">
							<div class="mn-person-info__picture">
								<a ng-attr-href="{{vm.user.id != item.author.id ? '#/participant/'+item.author.id : '#/profile-user'}}">
									<img ng-attr-src="{{item.author.pictureUrl ? vm.root+item.author.pictureUrl : vm.avatar}}" ng-class="{'ghost-person': !item.author.pictureUrl}" alt="" class="img-circle">
								</a>
							</div>
							<div class="ico-delete" ng-if="vm.user.id == item.author.id || vm.admin">
								<a href="javascript:;" ng-click="vm.deletePost(item.id, $index)"><em class="fa fa-trash-o font-red-sure font-30"></em></a>
							</div>
						</li>
						<li class="mn-person-info__details">
							
							<div class="display-8 mrg-bottom-5 align-baseline">
								<h3 class="title-3 mrg-0 display-9" ng-click="vm.openParticipant(item.author.id)" ng-if="item.author.firstName">
									<span class="mn-person-info__name" ng-bind="item.author.firstName+' '+item.author.lastName"></span>
								</h3><!--item.author.firstName+' '+item.author.lastName | ellipsis:true:10:' ...'-->
								<div class="align-center display-8 font-18 text-uppercase font-grey-dark-trans font-opensemibold text-right">
									<timeline-time icon="true" ng-attr-tempo="{{item.displayTime}}"></timeline-time>
								</div>
							</div>

							<div ng-if="item.description">
								<p class="font-28 ph text-word-break">	
									<a ng-href="{{item.description.length > 100 || item.type.indexOf('_ARTICLE') != -1 ? '#/matter/'+item.id: 'javascript:;'}}" ng-bind-html="item.description | htmlToPlaintext | limitTo: 100"> </a>
									<a href="#/matter/{{item.id}}" ng-if="item.description.length > 100 || item.type.indexOf('_ARTICLE') != -1" class="font-red-sure more">[...]</a>
								</p>
								<!-- <p class="font-28 ph text-word-break" ng-if="item.type.indexOf('_ARTICLE') == -1" ng-bind-html="item.description | limitTo: 100 | htmlToPlaintext"></p> -->
							</div>
							<div ng-if="item.imageUrl" class="ph">
								<a ng-href="{{(item.type.indexOf('_ARTICLE')!== -1) ? '#/matter/'+item.id: 'javascript:;'}}"><img ng-attr-src="{{vm.root+item.imageUrl}}" alt="" /></a>
							</div>

							<ul class="interaction">
								<li class="has-like-commet font-24">
									<a href="javascript:;" count-link ng-model="item" ng-class="{'has-like': {{item.liked}}}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
										<em class="ion-heart"></em> curtir (<span class="font-openregular">{{item.numberLike}}</span>)
									</a>
									<a href="#/commentes/{{item.id}}" ng-class="{'active': item.hasComment}" class="font-grey-sure-3 text-uppercase font-opensemibold btn-is-link brd-sure font-14">
										<em class="ion-chatbubble"></em> comentários <span class="font-openregular">({{item.numberComment}})</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="row row-alt" ng-if="!$last">
						<hr class="bg-linear-black-grey hr-serp" />
					</div>
				</li>
			</ul>
			<a ng-click="vm.carregarTimeLine()" href="javascript:;" ng-if="vm.morePost" class="text-uppercase btn-footer brd-top-sure-2 font-24 font-opensemibold bg-white row-alt mrg-top-10">carregar mais posts</a>
		</div>
	</section>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>