<div class="container">

	<header class="bar-top relative">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2 text-capitalize mn-person-flex" ng-bind="vm.title"></h2>
	</header>
	<!-- header -->
	
	<section class="content brd-top-sure-1 relative chat-content">
        <div class="content-text">
            <contentedit></contentedit>
        </div>
	</section>
    <!-- content -->
    
	<div class="content-action display-8 bg-white align-center brd-top-sure-1">
		<div class="display-9 font-50">
			<a tabindex="0" uib-popover-template="vm.dynamicPopover.templateUrl"  popover-trigger="focus" class="font-opensemibold font-18 text-uppercase display-1 pding-10 btn-rest  line-height-14"><em class="ion-ios-camera-outline font-blue-sure-3 line-height-14"></em></a>
		</div>
		<div class="display-8">
			<button ng-click="vm.addPostTimeLine(vm.message)" ng-disabled="vm.habilitar" class="font-opensemibold font-24 text-uppercase display-1 pding-10 btn-rest">Publicar</button>
		</div>
	</div>

	<script type="text/ng-template" id="menuOption.html">
		<ul>
			<li class="mrg-bottom-5"><button ng-click="vm.openCamera()" class="btn-rest no-pding"><em class="ion-android-camera font-30"></em></button></li>
			<li class="mrg-bottom-5"><button ng-click="vm.openGallery()" class="btn-rest no-pding"><em class="fa fa-picture-o font-26"></em></button></li>
		</ul>
    </script>
</div>
