<div class="container profile-lecturer page-content-form">

	<header class="bar-top bg-lecturer">
		<div class="bg-trans-black container-head">
			<div class="content-head bg-linear-black-white">
				<a href="javascript:history.back()" class="btn-header"><em class="ion-chevron-left font-white"></em></a>
				<a href="javascript:;" class="btn-right"><em class="ion-plus font-white"></em></a>
				<div class="text-center">
					<h3 class="font-white font-34 font-openregular">Jéssica Gonçalves</h3>
				<ul class="list-center list-menu-head">
					<li><a href="#/profile-lecturer/chat" class="font-white font-24 font-opensemibold text-uppercase">chat</a></li>
					<li><a href="#/profile-lecturer" class="font-white font-24 font-opensemibold text-uppercase">perfil</a></li>
					<li class="active"><a href="#/profile-lecturer/contact" class="font-white font-24 font-opensemibold text-uppercase">contato</a></li>
				</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header -->
	
	<section class="content clearfix">
		<br>
		<br>
		<form action="" name="contactPalestrante">
			<div class="row row-alt">
				<div class="form-group col-xs-12 col-sm-12">
					<label for="email" class="font-24 font-opensemibold text-uppercase">email</label>
					<input type="text" name="email" id="email" ng-model="contato.email" class="campo3" />
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label for="assunto" class="font-24 font-opensemibold text-uppercase">ASSUNTO</label>
					<input type="text" name="assunto" id="assunto" ng-model="contato.assunto" class="campo3" />
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label for="mensagem" class="font-24 font-opensemibold text-uppercase">MENSAGEM</label>
					<textarea rows="8" name="mensagem" id="mensagem" ng-model="contato.mensagem" class="campo4"></textarea>
				</div>
			</div>
			<div class="box-btn-submit">
				<button type="submit" name="btn-login" class="btn btn-submit btn-success" id="btn-login">
					<em class="icon ion-android-arrow-forward"></em>
				</button>
			</div>
		</form>
	</section>
	<!-- content -->

</div>
