<div class="container profile-lecturer">
	<header class="bar-top bg-lecturer">
		<div class="bg-trans-black container-head">
			<div class="content-head bg-linear-black-white">
				<a href="javascript:history.back()" class="btn-header"><em class="ion-chevron-left font-white"></em></a>
				<a href="javascript:;" class="btn-right"><em class="ion-plus font-white"></em></a>
				<div class="text-center">
					<h3 class="font-white font-34 font-openregular">Jéssica Gonçalves</h3>
				<ul class="list-center list-menu-head">
					<li><a href="#/profile-lecturer/chat" class="font-white font-24 font-opensemibold text-uppercase">chat</a></li>
					<li class="active"><a href="#/profile-lecturer" class="font-white font-24 font-opensemibold text-uppercase">perfil</a></li>
					<li><a href="#/profile-lecturer/contact" class="font-white font-24 font-opensemibold text-uppercase">contato</a></li>
				</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row brd-bottom-sure-1 row-alt">
			<span class="text-uppercase font-24 font-grey-sure-4 font-opensemibold col-xs-3 col-sm-3">AVALIAÇÃO</span>
			<ul class="list-evaluation col-xs-4 col-sm-4 pding-right">
				<li evaluation class="active"><a href="javascript:;"><em class="ion-android-star font-40 font-grey-sure-4"></em></a></li>
				<li evaluation class="active"><a href="javascript:;" ><em class="ion-android-star font-40 font-grey-sure-4"></em></a></li>
				<li evaluation class="active"><a href="javascript:;"><em class="ion-android-star font-40 font-grey-sure-4"></em></a></li>
				<li evaluation class="active"><a href="javascript:;"><em class="ion-android-star font-40 font-grey-sure-4"></em></a></li>
				<li evaluation><a href="javascript:;"><em class="ion-android-star font-40 font-grey-sure-4"></em></a></li>
			</ul>
			<span class="font-grey-dark-3 font-opensemibold font-24 col-xs-2 col-sm-2 pding-left">(13)</span>
			<a href="#/evaluation" class="text-uppercase font-grey-dark-trans font-24 font-opensemibold col-xs-2 col-sm-2 pull-right text-right"><em class="ion-chevron-right"></em>
			</a>
		</div>
		<!-- end row evaluation -->
		<div class="row brd-bottom-sure-1 row-alt text-center">
			<div class="col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
				<p class="font-28 font-openregular font-grey-dark-4 ph">
					Com sua visão de tendências do mercado e grande foco nas necessidades dos clientes, resolveu criar a InWave para conectar os mundos de IT e Marketing, que são cada vez mais interdependentes para o sucesso das companhias de todos os tamanhos e segmentos de atuação.
				</p>
			</div>
		</div>
		<!-- end breve-->
		<user-row label="E-mail" row-class="brd-bottom-sure-1" service="email"></user-row>
		<!-- end row email -->
		<div class="row brd-bottom-sure-1 row-alt text-center list-rede-social">
			<user-list listar="redeSocial"></user-list>
		</div>
		<!-- end minhas redes sociais -->
		<user-row title="amigos" texto="ver todos" link="#/network" row-class="brd-bottom-sure-1" service="amigos" tipo="qtd"></user-row>
		<!-- end row amigos -->
		<div class="row brd-bottom-sure-1 row-alt text-center">
			<user-list listar="amigos"></user-list>
		</div>
		<!-- end my friend -->
		<user-row title="conquistas" texto="ver todos" link="#/conquer" row-class="brd-bottom-sure-1" service="conquistas" tipo="qtd"></user-row>
		<!-- end row conquista -->
		<div class="row row-alt text-center">
			<user-list listar="conquistas"></user-list>
		</div>
		<!-- end my conquista -->
	</section>
	<!-- content -->
</div>
