<div class="modal-header">
    <a href="javascript:;" hide-modal class="close"><em class="ion ion-android-close"></em></a>
    <h3 class="modal-title font-grey-dark-trans-2 text-uppercase text-left"><em class="ion-ios-clock-outline"></em> Recebido em {{vm.titulo}}</h3>
</div>
<!-- end title -->
<div class="modal-body clearfix">
	<div class="col-md-12 pding-top-40 text-center">
		<h2 class="font-opensemibold font-38 text-uppercase text-center mrg-bottom-15" ng-bind="vm.subTitulo"></h2>
		<div class="text-center">
			<ul class="item-conquer list-conquer clearfix list">
				<li class="circle-icon {{vm.iconBg}}">
					<span class="box-icon grd-radiants">
						<em class="{{vm.icon}} font-128" ng-if="vm.subTitulo != 'Mustache'"></em>
						<em class="{{vm.icon}} font-158" ng-if="vm.subTitulo == 'Mustache'">}</em>
					</span>
				</li>
			</ul>
			<p class="ph font-openregular font-28 mrg-top-10" ng-bind="vm.descricao"></p>
		</div>
	</div>
</div>
<!-- end body -->
	