<div class="container view-chat">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<header class="bar-top elHeight brd-bottom-sure-1">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2 text-capitalize mn-person-flex" ng-bind="vm.title"></h2>
	</header>
	<!-- header -->



	<section class="content relative chat-content">
		<div class="chat-mensagens coments-overflow" scroll-glue-top>
			<ul class="list-comment">
				<li class="row row-alt slide-left brd-bottom-sure-1">
					<div class="pding-top-15" >
						<div class="col-xs-12 col-sm-12" >
							<h2 class="font-grey-dark-4 font-openregular font-42 mrg-bottom-15" ng-if="vm.article.title" ng-bind="vm.article.title"></h2>
							<div class="text-matter">
								<div ng-bind-html="vm.article.description | textWithHtml">
								</div>
							</div>
							<img ng-attr-src="{{vm.root+vm.article.imageUrl}}" alt="" >
							<p class="font-grey-sure-3 ph font-24 pding-top-15">
								<timeline-time icon="true" ng-if="vm.matter.displayTime" ng-attr-tempo="{{vm.article.displayTime}}"></timeline-time> <span class="font-blue-dark-3">por {{vm.article.author.firstName}} {{vm.article.author.lastName}}</span></p>
							<!--shares></shares-->
						</div>
					</div>
				</li>
				<li class="row row-alt slide-left" ng-class="{'brd-bottom-sure-1': !$last}" ng-repeat="cm in vm.comments">
					<ul class="col-xs-12 col-sm-12 mn-person-info">
						<li class="mn-person-info__picture">
							<img alt="" ng-click="vm.openParticipant(cm.author.id)" ng-attr-src="{{cm.author.pictureUrl ? vm.root+cm.author.pictureUrl : vm.avatar}}" ng-class="{'ghost-person': !cm.author.pictureUrl}" class="img-circle"/>
						</li>
						<li class="mn-person-info__details">
							<div class="display-8 align-baseline">
								<h3 class="font-opensemibold font-30 mrg-0 display-9" ng-click="vm.openParticipant(cm.author.id)">
									<span ng-bind="cm.author.firstName+' '+cm.author.lastName" class="mn-person-info__name"></span>
								</h3>
								<div class="align-center display-8 font-18 text-uppercase font-grey-dark-trans font-opensemibold text-right">
									<timeline-time icon="true" ng-attr-tempo="{{cm.displayTime}}"></timeline-time>
								</div>
							</div>
							<div class="font-28 font-openregular text-word-break" ng-bind-html="cm.comment | textWithHtml"></div>
						</li>
					</ul> 
				</li>
			</ul>
		</div>
		<!-- end chat -->
	</section>
	<!-- content -->
	<div class="chat-edit chat-user">
		<div class="chat-container-edit clearfix no-box-btn-chat">
			<div class="box-btn-chat">
				<a href="javascript:;"><em class="ion-plus font-24"></em></a>
			</div>
			<div class="chat-content-edit">
				<div class="edit-btn-msg">
					<contentedit></contentedit>
					<!--<textarea class="font-26 textarea-clear" style="width: 100%" ng-model="vm.commentText" placeholder="Digite sua mensagem"></textarea>-->
				</div>
			</div>
			<button ng-click="vm.addComment(vm.message)" class="font-24 btn-chat font-opensemibold text-uppercase btn-rest">enviar</button>
		</div>
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
