<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->
	<div class="calc-height relative">

		<header class="bar-top brd-top-grey-1 bg-white brd-bottom-sure-2">
			<a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse show-on-large">
				<em class="fa fa-navicon"></em>
			</a>
			<!--icone menu -->
			
			<h2 class="title-2">Conquistas</h2>
		</header>
		<!-- header -->
		<section class="content clearfix">
			<div class="text-center pding-top-15">
				<ul class="list-conquer clearfix list">
					<li class="circle-icon {{item.bg}}" ng-repeat="item in vm.listConquer">
						<a href="javascript:void(0)" open-modal="view/conquer/detail.html" modal-controller="ConquerdetailController" modal-title="{{item.data}}" modal-icon="{{item.icon}}" modal-icon-bg="{{item.bg}}" modal-sub-title="{{item.title}}" modal-descricao="{{item.descricao}}" class="box-icon grd-radiants">
							<em class="{{item.icon}} font-60" ng-if="item.title != 'Mustache'"></em>
							<em class="{{item.icon}} font-88" ng-if="item.title == 'Mustache'">}</em>
						</a>
					</li>
				</ul>
			</div>
			<!--div class="text-center viewport display-3">
				<div class="col-xs-8 col-sm-8 col-xs-offset-2 col-sm-offset-2 display-4 fl-none">
					<em class="ion-cube font-grey-dark-trans-3 font-158"></em>
					<p class="ps font-grey-dark-trans-2 font-24 font-openregular text-uppercase">ah não! você ainda não possui nenhuma conquista.</p>
					<br>
					<br>
					<br>
					<p class="ph font-openregular font-34">Saiba como conseguir<br>sua 1ª conquista.</p>
					<br>
					<br>
					<div class="col-xs-12 col-sm-12 text-center">
						<button class="font-opensemibold font-24 font-white text-uppercase mrg-bottom-10 bg-green-sure-2 btn-radius">clique aqui</button>
					</div>
				</div>
			</div-->
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>