
<div class="main bg-gradiente-blur">

    <nav class="menu-saas" ng-include="'js/menu/view/menu.html'">
	</nav>
    <!-- end menu nav -->

    <header class="header-bar bg-gradiente-blur-3 display-8 flex-collum">
        <div class="line-flex align-center col-xs-12 col-sm-12 col-md-12 mrg-b-8">
            <a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse">
                <em class="fa font-18 fa-navicon font-white"></em>
            </a>
            <form action="" name="search" id="search" class="flex-box-2 display-2" ng-submit="vm.submit(search, vm.search.campo)">
                <label for="campoSearch" class="group-form">
                    <button type="submit" class="btn-2"><em class="ion-ios-search-strong font-24 font-gray"></em></button>
                    <input type="search" name="campoSearch" class="form-control font-latoregular field-search" id="campoSearch" placeholder="Digite o que você busca..." ng-model="vm.search.campo" />
                    <button type="reset" class="btn-2"><em class="ion-close-circled font-gray-2"></em></button>
                </label>
            </form>
        </div>
        <div class="line-flex align-center bg-trans-black col-xs-12 col-sm-12 col-md-12">
            <h2 class="font-18 title-2 flex-box-2 font-white">Eventos</h2>
            <!-- <a href="javascript:;" class="btn-header">
                <em class="ion-android-refresh font-white font-20"></em>
            </a> -->
        </div>
    </header>
    <!-- header -->

	<div class="content flex-collum overflow-content">

        <div class="content-radius col-xs-12 col-sm-12 col-md-12 bg-white flex-1 flex-collum">
            <div class="content-radius bg-white content-box" ng-repeat="item in vm.schedule">
                <div class="mn-person-info align-center">
                    <div class="mn-person-info__picture">
                        <img alt="" class="img-circle" ng-attr-src="{{item.event.eventInformation.image.id ? vm.root+''+item.event.eventInformation.image.id : vm.avatar}}" />
                    </div>
                    <div class="mn-person-info__details">
                        <h3 class="font-latobold font-18 align-center mn-person-info__name mn-person-flex font-black-2 mrg-b-8" ng-bind="item.event.name"></h3>
                        <p class="align-center text-word-break mrg-b-8 box-ellipsis" ng-bind="item.event.description"></p>
                        <div class="display-8 pding-0 col-xs-12 col-sm-12 col-md-12">
                            <button ng-click="vm.onClick(item.event)" ng-disabled="vm.disabled" class="btn bg-gradiente-blur-2 font-latobold font-white text-capitalize">Selecione</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end box -->

        </div>
        <!-- end content-radius -->
		
	</div>
	<!-- end content -->

</div>
<!-- end main -->

