<div class="modal-header">
    <a href="javascript:;" hide-modal class="close pull-left btn-back"><em class="ion ion-android-arrow-back"></em></a>
    <a href="javascript:;" hide-modal class="close"><em class="ion ion-android-close"></em></a>
    <h3 class="modal-title">{{vm.title}}</h3>
</div>
<!-- end title -->
<div class="modal-body clearfix">
	<form name="formPassword" id="formPassword" ng-submit="vm.submit(vm.selectedEvent)" class="pding-top-40">
		<div class="col-md-12">
			<ul class="list-timeline">
				<li ng-repeat="item in vm.data">
					<p class="font-opensemibold font-28 font-grey-sure text-uppercase text-center">
						<input type="radio" ng-model="vm.selectedEvent" ng-value="{{item.event}}" /> {{item.event.name}}</p>
				</li>
			</ul>
			<!--<p>{{vm.selectedEvent}}</p>-->
			<div class="box-btn text-center">
				<button type="submit" class="btn btn-primary font-24">entrar</button>
			</div>
		</div>
	</form>
	<!-- end form -->
</div>
<!-- end body -->
	