<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<nav class="navbar navbar-inverse">

	  <div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
			<a th:href="@{/login}" style="max-height: 60px;">
				<span class="subtext"><img style="max-height: 60px; padding-top: 2px;" src="http://events-saas.com.br/wp-content/uploads/2016/06/logo-branco-300x138.png" class="alternate" alt="" title=""></span>
			</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	                       <li th:classappend="${module == 'home' ? 'active' : ''}">
	                    <a href="#" th:href="@{/}">Home</a>
	                </li>
	                <li th:classappend="${module == 'about' ? 'active' : ''}">
	                    <a href="#about" th:href="@{/about}">Sobre</a>
	                </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	    
	    		<li th:if="${#authorization.expression('!isAuthenticated()')}">
	                <a href="/signin" th:href="@{/signin}">
	                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Inscreva-se
	                </a>
	            </li>
	            <li th:if="${#authorization.expression('isAuthenticated()')}">
	                <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
	                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Sair
	                </a>
	                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
	            </li>
	        
	      </ul>
	    </div>
	  </div>
	</nav>

</html>