<div class="container bg-grey-sure-2">
	<header class="bar-top bg-white brd-top-grey-1" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'" ng-if="!vm.hasPalestra">
		</nav>
		<!-- end menu nav -->
		<a href="javascript:;" ng-click="vm.back()" class="btn-header" ng-if="vm.hasPalestra"><em class="ion-android-arrow-back"></em></a>
	    <h2 class="title-2">Agenda</h2>
	    <a href="javascript:;" class="btn-right"><em class="ion-ios-search-strong"></em></a>
	</header>
	<!-- header -->
	
	<section class="content clearfix">
		<div class="row-alt row">
			<ul class="list-event list-category">
				<li class="clearfix" ng-repeat="item in vm.eventRow">
					<a href="javascript:;" ng-click="vm.filterEvent(item.id, item.tipo)" class="item-row row bg-grey-sure">
						<small class="pull-left badge-medium bg-blue-sure badge-row">&nbsp;</small>
						<span class="pull-left font-grey-dark-3 text-uppercase font-opensemibold font-24">{{item.title}}</span>
						<em class="ion-chevron-right pull-right font-grey-dark-3 font-24"></em>
						<span ng-if="item.value" class="pull-right font-opensemibold font-grey-dark-trans text-uppercase font-24">{{item.value}}</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- content -->
</div>
