<div class="container">
	<header class="bar-top bg-white brd-top-grey-1" ng-class="{'menu-block': isShowMenu}" >
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">Agenda</h2>
	    <a href="javscript:;" class="btn-right" ng-if="vm.hasCalendar"><em class="ion-plus"></em></a>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row row-alt pding-top-bottom-0">
			<div id="calendar" class="calendar" calendar="calendar" ng-model="vm.eventSources"></div> 
		</div>
		<div class="row row-alt brd-top-sure-2">
			<ul class="list-event bg-grey-sure-2">
				<li class="clearfix" ng-repeat="item in vm.eventRow">
					<a href="javascript:;" ng-click="vm.datail(item.id)" class="item-row row bg-grey-sure">
						<small class="pull-left badge-medium bg-blue-sure badge-row">&nbsp;</small>
						<span class="pull-left font-grey-dark-3 text-uppercase font-opensemibold font-24">{{item.title}}</span>
						<em class="ion-chevron-right pull-right font-grey-dark-3 font-24"></em>
						<span ng-if="item.value" class="pull-right font-opensemibold font-grey-dark-trans text-uppercase font-24">{{item.value}}</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- content -->
</div>