<div class="container">
	<header class="bar-top bg-white brd-top-grey-1">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2 text-capitalize">{{vm.activity.nome}}</h2>
	    <!--a href="javascript:;" class="btn-right"><em class="ion-ios-search-strong"></em></a-->
	</header>
	<!-- header -->
	
	<section class="content">
		<figure class="row row-alt pding-top-bottom-0 mrg-bottom-15">
			<img ng-attr-src="{{vm.activity.bg}}" alt=" ">
		</figure>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<ul class="content-user">
					<li class="has-img">
						<img alt="" ng-attr-src="{{vm.activity.img}}" class="img-circle"/></li><li class="description">
						<h3 class="font-openregular font-36">{{vm.activity.title}}</h3>
						<p class="font-24 text-uppercase font-grey-dark-trans font-openregular"><em class="ion-android-camera"></em> Palestra <em class="ion-clock"></em> {{vm.activity.checkIn}}</p>
					</li>
					<li>
						<p class="font-28 ph font-openregular font-grey-dark-4">{{vm.activity.descricao}}</p>
					</li>
				</ul>
				<div class="col-xs-12 col-sm-12 text-center">
					<button class="font-opensemibold font-24 font-white text-uppercase mrg-bottom-10 bg-green-sure-2 btn-radius">bAIXE O MATERIAL</button>
					<p class="font-24 text-uppercase font-grey-dark-trans font-openregular">1,7 MB (.PDF)</p>
				</div>
			</div>
		</div>
	</section>
	<!-- content -->
</div>
