<div class="container matter-datail fixed-header-img">
	<header class="c-hamburger-white" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'"></nav>
		<div class="bg-matter container-head viewport-header-img bg-linear-black-white display-3">
			<div class="bg-linear-black-white display-3 viewport-header-img">
				<div class="bg-trans-black viewport-header-img">
					<div class="footer-header">
						<a href="javascript:;" class="font-white font-30 mrg-right-10"><em class="ion-ios-heart-outline font-green-sure"></em> 16</a>
						<a href="javascript:;" class="font-white font-30"><em class="ion-ios-chatbubble-outline font-green-sure"></em> 15</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end menu nav -->
	</header>
	<!-- header -->
	<section class="content btn-bottom-text">
		<div class="row row-alt" ng-repeat="valores in vm.user" ng-class="{'brd-bottom-sure-1': !vm.viewShares}">
			<div class="col-xs-12 col-sm-12" ng-repeat="matter in vm.matter">
				<h2 class="font-grey-dark-4 font-openregular font-42 mrg-bottom-15" ng-if="matter.titulo">{{matter.titulo}}</h2>
				<div ng-bind-html="matter.texto | textWithHtml" class="text-matter"></div>
				<p class="font-grey-sure-3 ph font-24"><timeline-time icon="true" ng-attr-tempo="10:09"></timeline-time> <span class="font-blue-dark-3">por {{valores.nome}}</span></p>
				<div class="btn-group">
					<button name="like" id="like" count-link="{{matter.link}}" class="bg-blue-dark btn-2 font-white text-uppercase font-openregular font-24"><em class="ion-ios-heart-outline"></em> like</button>
					<button name="like" id="like" ng-click="vm.comment()" class="bg-white btn-2 font-grey-dark-3 brd-grey-dark text-uppercase font-openregular font-24"><em class="ion-ios-chatbubble-outline"></em> 2 comentários</button>
					<button name="like" id="like" ng-click="vm.compartilha()" class="bg-white btn-2 font-grey-dark-3 brd-grey-dark text-uppercase font-opensemibold font-24">...</button>
				</div>
				<!--shares></shares-->
			</div>
		</div>

		<div class="bg-black row-alt brd-bottom-sure-1 text-center" ng-show="vm.viewShares">
			<ul class="list-shares clearfix">
				<li class="slide-down" ng-show="vm.viewShares" ng-repeat="item in vm.rede">
					<button name="{{item.nome}}" id="{{item.nome}}" class="bg-trans btn-3 font-white font-30">
						<em class="fa {{item.ico}}"></em>
					</button>
				</li>
			</ul>
			<p ng-show="vm.viewShares" class="text-uppercase font-opensemibold font-white font-28 slide-down"><em class="fa fa-envelope mrg-right-10"></em> enviar por email</p>
		</div>
		

		<ul class="list-comment">
			<li class="brd-bottom-sure-1 row row-alt">
				<ul class="col-xs-12 col-sm-12 display-3">
					<li class="has-img">
						<img alt="" src="img/user9.png" class="img-circle"/>
					</li>
					<li class="display-4">
						<div class="clearfix mrg-bottom-10">
							<h3 class="font-opensemibold font-30 pull-left text-ellipsis">Fernanda</h3>
							<span class="font-24 pull-right font-grey-dark-trans line-height-28"><timeline-time icon="true" ng-attr-tempo="10:09"></timeline-time></span>
						</div>
						<p class="font-28 ph">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters</a></p>
					</li>
				</ul>
			</li>
			<li class="brd-bottom-sure-1 row row-alt">
				<ul class="col-xs-12 col-sm-12 display-3">
					<li class="has-img">
						<img alt="" src="img/user13.png" class="img-circle"/>
					</li>
					<li class="display-4">
						<div class="clearfix mrg-bottom-10">
							<h3 class="font-opensemibold font-30 pull-left text-ellipsis">Ana Carolina</h3>
							<span class="font-24 pull-right font-grey-dark-trans line-height-28"><timeline-time icon="true" ng-attr-tempo="15:34"></timeline-time></span>
						</div>
						<p class="font-28 ph">Awesome!</a></p>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- content -->
	<a href="javascript:;" class="text-uppercase btn-footer font-24 font-opensemibold bg-grey-sure brd-top-sure-2"><em class="ion-plus"></em> comentar</a>
</div>
