<div class="container bg-grey-sure">
	<header class="bar-top bg-white brd-top-grey-1">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2 text-capitalize">QR Code Scanner</h2>
	    <!--a href="javascript:;" class="btn-right"><em class="ion-ios-search-strong"></em></a-->
	</header>
	<!-- header -->
	
	<section class="content">
		<div class="viewport row">
			<div class="box-qrcode">
				<div class="qrcode">
					<h3 class="font-28 font-grey-dark-4 font-openregular text-center">Por favor, enquadre o QR Code</h3>
				</div>
			</div>
			<div class="box-btn-bottom">
				<div class="btn-group-bottom">
					<button type="button" class="col-xs-6 btn-4 col-sm-6 display-6 text-uppercase font-24 text-left">
						<em class="ion-ios-grid-view-outline font-20"></em> grid on
					</button>
					<button type="button" class="col-xs-6 btn-4 col-sm-6 display-6 text-right text-uppercase font-24">
						<em class="ion-ios-bolt font-20"></em> flash on
					</button>
				</div>
			</div>
			
		</div>
	</section>
	<!-- content -->
</div>
