<div class="main login bg-gradiente-blur display-8">
	<header class="display-8 justify-center">
		<picture>
		<source media='(min-width: 768px)'
				srcset='img/img-app-large.png'/>
		<source media='(min-width: 580px)'
				srcset='img/img-app-medium.png'/>
			<img src='img/img-app-small.png'/>
		</picture>
	</header>
	<!-- header -->
	<div class="content flex-collum">
		<div class="content-radius col-xs-12 col-sm-12 col-md-12 bg-white flex-1 flex-collum">
			<h1 class="font-22 font-black-2 text-uppercase text-center mrg-b-7v font-latoregular">Credenciamento</h1>
			<h2 class="mrg-b-5v font-18 text-center font-latoregular">Login do Operador</h2>

			<form name="formLogin" id="formLogin" ng-submit="vm.submit(formLogin, vm.login)" novalidate class="col-xs-12 flex-1 col-sm-12 col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="email" id="email" name="email" placeholder="Endereço de E-mail" ng-model="vm.login.email" class="form-control field text-center" required="required" autocomplete="off" />
							<div class="has-error" ng-show="formLogin.email.$dirty && formLogin.email.$invalid || vm.fieldsMSG">
								<span class="text-inline font-11" ng-show="formLogin.email.$error.required">Email é obrigatório</span>
								<span class="text-inline font-11" ng-show="formLogin.email.$error.email">Formato do e-mail é inválido</span>
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group">
							<input type="password" id="password" placeholder="Senha" name="password" ng-model="vm.login.senha" class="form-control field text-center" required="required" autocomplete="off" />
							<div class="has-error" ng-show="formLogin.password.$dirty && formLogin.password.$invalid || vm.fieldsMSG">
								<span class="text-inline font-11" ng-show="formLogin.password.$error.required">Senha é obrigatório</span>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" ng-disabled="vm.disabled" name="btn-login" class="btn bg-gradiente-blur-2 font-latobold font-white" id="btn-login">
								Login
							</button>
						</div>
					</div>
					<!-- end col-md-12 -->
				</div>
				<!-- end row -->
			</form>
			<!-- formLogin -->

			<p class="mrg-b-2v font-black-2 font-latoregular font-14">Ainda não tem conta? <a href="javascript:;" class="font-black-2 font-latobold font-14">Cadastre-se</a></p>
			
		</div>
	</div>
	<!-- content -->
</div>