<div class="container bg-grey-sure content-scroll overflow">
	
	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height">
		<header class="bar-top bg-white brd-top-grey-1 relative" ng-class="{'brd-bottom-sure-1': !vm.detailId}">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<!--icone menu -->
			<h2 class="title-2 text-capitalize mn-person-flex">{{vm.title}}</h2>
		</header>
		<!-- end header -->

		<section class="content clearfix">
			<ul class="list-radius clearfix" ng-if="!vm.detailId">
				<li ng-repeat="d in vm.keys" ng-click="vm.onSelect(d)">
					<div class="box-icon" ng-class="{'active': d == vm.selected}">
						<a href="javascript:;" class="display-4">
							<span class="display-2 font-openbold font-white font-45" ng-bind="vm.showDay(vm.lecturePerDay.get(d))"></span>
							<span class="display-2 font-openregular font-white font-34 text-uppercase" ng-bind="vm.showMonth(vm.lecturePerDay.get(d))"></span>
						</a>
					</div>
				</li>
			</ul>
			<div class="row-alt row brd-top-sure-2">
				<ul class="list-event list-category clearfix">
					<li class="clearfix bg-grey-sure" 
						ng-class="{'desc-category': item.childCount}" 
						ng-repeat="item in vm.lecturePerDay.get(vm.selected)">
						<div class="item-row row" ng-if="!item.childCount && item.type != 'TRACKING'" ng-click="vm.onDetail(item.id)">
							<div class="line-flex" ng-class="{'mrg-bottom-10': item.speakers.length > 0}">
								<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>
								<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24" ng-bind="item.title"></span>
								<span class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="item.schedule"></span>
								<em class="ion-chevron-right display-1 mrg-left-auto font-grey-dark-3 font-24"></em>
							</div>
							<div class="desc-category-item" ng-if="item.speakers.length > 0 || item.tags.length > 0 || item.room.length > 0">
								<div class="font-24 text-capitalize" ng-class="{'mrg-bottom-10':item.room.length > 0 || item.tags.length > 0}" ng-if="item.speakers.length > 0">
									<em class="fa fa-user mrg-right-13"></em> 
									<span class="font-opensemibold" ng-repeat="s in item.speakers">
										{{s}}<span ng-if="!$last">, </span>
									</span>
								</div>
								<p class="font-opensemibold font-24" ng-class="{'mrg-bottom-10': item.tags.length > 0}" ng-if="item.room.length > 0">
									Sala: <span class="font-opensemibold font-grey-dark-trans" ng-bind="item.room"></span>
								</p>
								<ul class="clearfix" ng-if="item.tags.length > 0">
									<li ng-repeat="t in item.tags">
										<span class="badge badge-big font-18 font-white font-openregular text-uppercase" ng-bind="t"></span>
									</li>
								</ul>
							</div>
						</div>
						<div ng-click="vm.onClick(item.id)" class="item-row row" ng-if="item.childCount && !item.detailPage">
							<div class="line-flex">
								<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>
								<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24" ng-bind="item.title"></span>
								<span ng-if="item.title" class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="'('+item.childCount+')'"></span>
								<em class="ion-chevron-right display-1 mrg-left-auto font-grey-dark-3 font-24"></em>
							</div>
						</div>
						<div class="item-row row" ng-if="!item.childCount && item.type == 'TRACKING'">
							<div class="line-flex">
								<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>
								<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24">{{item.title}}</span>
								<span class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="item.schedule"></span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
