<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->
	<div class="calc-height relative">

		<header class="bar-top bg-white brd-top-grey-1 relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<h2 class="title-2 mn-person-flex">Agenda</h2>
			<!-- <a href="javscript:;" class="btn-right" ng-if="vm.hasCalendar"><em class="ion-plus"></em></a> -->
		</header>
		<!-- header -->
		
		<section class="content clearfix page-content-nav">
			<div class="row row-alt pding-top-bottom-0" ng-if="!vm.detailId">
				<div id="calendar" class="calendar" calendar="calendar" ng-model="vm.eventSources"></div> 
			</div>
			<div class="row-alt row" ng-class="{'brd-top-sure-2': !vm.detailId}">
				<ul class="list-event list-category clearfix">
					<li class="clearfix bg-grey-sure" 
						ng-class="{'desc-category': item.childCount}" 
						ng-repeat="item in vm.lecturePerDay.get(vm.selected)">
						<div class="item-row row" ng-click="vm.onDetail(item.id)">
							<div class="line-flex" ng-class="{'mrg-bottom-10': item.speakers.length > 0}">
								<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>
								<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24" ng-bind="item.title"></span>
								<span class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="item.schedule"></span>
								<em class="ion-chevron-right display-1 mrg-left-auto font-grey-dark-3 font-24"></em>
							</div>
							<div class="desc-category-item" ng-if="item.speakers.length > 0 || item.tags.length > 0 || item.room.length > 0">
								<h4 class="font-24 text-capitalize" ng-class="{'mrg-bottom-10':item.room.length > 0 || item.tags.length > 0}" ng-if="item.speakers.length > 0">
									<em class="fa fa-user mrg-right-13"></em>
									<span class="font-opensemibold" ng-repeat="s in item.speakers">
										{{s}}<span ng-if="!$last">, </span>
									</span>
								</h4>
								<p class="font-opensemibold font-24" ng-class="{'mrg-bottom-10': item.tags.length > 0}" ng-if="item.room.length > 0">
									Sala: <span class="font-opensemibold font-grey-dark-trans" ng-bind="item.room"></span>
								</p>
								<ul class="clearfix" ng-if="item.tags.length > 0">
									<li ng-repeat="t in item.tags">
										<span class="badge badge-big font-18 font-white font-openregular text-uppercase">{{t}}</span>
									</li>
								</ul>
							</div>
						</div>
						<!--<div ng-click="vm.onClick(item.id)" class="item-row row" ng-if="item.childCount && !item.detailPage">-->
							<!--<div class="line-flex">-->
								<!--<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>-->
								<!--<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24" ng-bind="item.title"></span>-->
								<!--<span ng-if="item.title" class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="'('+item.childCount+')'"></span>-->
								<!--<em class="ion-chevron-right display-1 mrg-left-auto font-grey-dark-3 font-24"></em>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item-row row" ng-if="!item.childCount && !item.detailPage">-->
							<!--<div class="line-flex">-->
								<!--<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>-->
								<!--<span class="display-1 font-grey-dark-3 text-uppercase font-opensemibold font-24">{{item.title}}</span>-->
								<!--<span class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24 text-nowrap" ng-bind="item.schedule"></span>-->
							<!--</div>-->
						<!--</div>-->
					</li>
				</ul>
			</div>
			<!-- end row-alt -->
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>