<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top bg-white brd-top-grey-1 relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<!-- end menu nav -->
			<h2 class="title-2 text-uppercase mn-person-flex" ng-bind="vm.lecture.title"></h2>
		</header>
		<!-- header -->
		
		<section class="content">
			<figure class="row row-alt pding-top-bottom-0 mrg-bottom-15 content-img">
				<img ng-attr-src="{{vm.lecture.imageUrl ? vm.context+vm.lecture.imageUrl : 'img/img-evento1.jpg'}}" ng-if="vm.lecture" alt=" " class="full-img">
			</figure>
			<div class="row mrg-bottom-15">
				<div class="col-xs-12 col-sm-12" ng-if="vm.lecture">
					<div class="content-user event-detail">
						<div class="mn-person-info">
							<div class="mn-person-info__picture">
								<a ng-if="vm.lecture.listSpeakers.length == '1' && vm.lectureId != vm.idLogado" href="#/profile-lecturer/{{vm.lectureId}}"><img alt="" ng-attr-src="{{vm.lecture.avatar}}" class="img-circle ghost-person"/></a>
								<a ng-if="vm.lecture.listSpeakers.length == '1' && vm.lectureId == vm.idLogado" href="javascript:;"><img alt="" ng-attr-src="{{vm.lecture.avatar}}" class="img-circle ghost-person"/></a>
								<a ng-if="vm.lecture.listSpeakers.length > '1'" href="javascript:;"><img alt="" ng-attr-src="{{vm.avatarGroup}}" class="img-circle ghost-person"/></a>
								<!-- <a ng-attr-href="{{vm.lecture.listSpeakers.length == '1' && vm.lectureId != vm.idLogado ? '#/profile-lecturer/'+vm.lectureId : 'javascript:;'}}"><img alt="" ng-attr-src="{{vm.lecture.listSpeakers.length == '1' ? vm.lecture.avatar : vm.avatarGroup}}" class="img-circle ghost-person"/></a> -->

								<div ng-switch on="vm.lecture.type" ng-if="vm.lecture.listSpeakers.length == '0'">
									<div ng-switch-when="LUNCH" class="box-icon"><em class="fa fa-coffee"></em></div>
									<div ng-switch-when="COFFEE" class="box-icon"><em class="fa fa-coffee"></em></div>
									<div ng-switch-when="DINNER" class="box-icon"><em class="fa fa-coffee"></em></div>
									<div ng-switch-when="ACCREDITION" class="box-icon"><em class="fa fa-qrcode"></em></div>
									<div ng-switch-when="KEY_NOTE" class="box-icon"><em class="fa fa-map"></em></div>
									<div ng-switch-when="LECTURE" class="box-icon"><em class="fa fa-television"></em></div>
								</div>

							</div>
							<div class="mn-person-info__details">
								<h3 class="font-openregular font-36 text-word-break" ng-if="vm.lecture.listSpeakers.length">Palestrante(s)</h3>
								<h2 class="font-openregular font-26 mrg-bottom-5" ng-if="vm.lecture.room">Sala: <span class="font-grey-dark-trans" ng-bind="vm.lecture.room"></span> </h2>
								<div class="font-24 font-openregular mrg-bottom-5" ng-repeat="pale in vm.lecture.listSpeakers">
									<span class="text-capitalize">
										<span ng-bind="$index+1 + '. ' + pale.name"></span> - <a ng-attr-href="{{pale.id != vm.idLogado ? '#/profile-lecturer/'+pale.id : '#/profile-user'}}" class="font-blue-sure-3">ver perfil</a>
									</span>
								</div>
								<div class="display-3">
									<ul class="clearfix display-4 list-category-desc">
										<div ng-repeat="tag in vm.lecture.listTags" class="display-1 mrg-right-5">
											<span class="badge badge-big font-14 font-white font-openregular pding-top-bottom-5 text-uppercase" ng-bind="tag"></span>
										</div>
									</ul>
									<span class="display-4 pding-left-right-5 font-24 font-grey-dark-trans font-openregular"><em class="fa fa-calendar"><span class="font-openregular" ng-bind="' ' + vm.lecture.dateStart"></span></em></span>
									<span class="display-4 font-24 font-grey-dark-trans"><em class="fa fa-clock-o"><span class="font-openregular" ng-bind="' ' + vm.lecture.schedule"></span></em></span>
								</div>
							</div>
						</div>
						<div class="mrg-bottom-15 mrg-top-10">
							<a href="javascript:;" ng-disabled="vm.disabledButton" ng-click="vm.onSave(vm.detailId)" ng-class="{'btn-disabled':vm.disabledSave}" class="text-uppercase font-opensemibold btn-is-link brd-sure font-blue-sure-3 font-22 btn-is-link-g">
								<em class="fa fa-floppy-o mrg-right-5"></em>SALVAR
							</a>
							<a href="javascript:;" ng-click="vm.getShareSocial()" class="text-uppercase font-opensemibold btn-is-link brd-sure font-blue-sure-3 font-22 btn-is-link-g">
								<em class="fa fa-share-alt mrg-right-5"></em>COMPARTILHAR
							</a>
							<a href="javascript:;" ng-click="vm.onSaveAndAlarm(vm.detailId)" class="text-uppercase font-opensemibold btn-is-link brd-sure font-blue-sure-3 font-22 btn-is-link-g">
								<em class="fa fa-bullhorn mrg-right-5"></em>ALARME
							</a>
						</div>
						<div>
							<p class="font-28 ph font-openregular font-grey-dark-4" ng-bind="vm.lecture.description"></p>
							<p ng-if="vm.lecture.detailUrl" class="ph"><a href="javascript:;" class="font-blue-sure-3 font-openregular font-22" ng-click="vm.openLink(vm.lecture.detailUrl)">Clique aqui e saiba mais.</a></p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 text-center" ng-if="vm.lecture.filesSize > 0">
						<button ng-click="vm.download()" class="font-opensemibold font-24 font-white text-uppercase mrg-bottom-10 bg-green-sure-2 btn-radius">BAIXE O MATERIAL</button>
						<p class="font-24 text-uppercase font-grey-dark-trans font-openregular" ng-bind="vm.byteToMega(vm.lecture.filesSize) + 'MB'"></p>
					</div>
				</div>
			</div>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
