<div class="container bg-grey-sure-2 content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top bg-white brd-top-grey-1 relative">
			<!-- end menu nav -->
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>

			<h2 class="title-2 mn-person-flex" ng-bind="vm.title"></h2>
			<!--end title-->
		</header>
		<!-- header -->
		
		<section class="content clearfix">
			<div class="row-alt row brd-top-sure-2">
				<ul class="list-event list-category clearfix mrg-bottom-20">
					<li class="clearfix bg-grey-sure" ng-repeat="item in vm.downloads">
						<a href="javascript:;" class="item-row row line-flex" ng-click="vm.downloadFile(vm.detailId, item, true)">
							<small class="display-1 badge-medium bg-blue-sure badge-row">&nbsp;</small>

							<span class="display-1 text-ellipsis max-w-55 font-grey-dark-3 font-opensemibold font-24 text-ellipsis" ng-bind="item.fileName"></span>
							<i ng-class="{'fa-refresh fa-spin fa-3x fa-fw': item.downloading, 'fa-check-circle': item.downloaded}" aria-hidden="true" class="fa"></i>

							<span class="display-1 mrg-left-auto font-opensemibold font-grey-dark-trans text-uppercase font-24" ng-bind="vm.byteToMega(item.size) + 'MB'"></span>
						</a>
					</li>
				</ul>
				<!--list-event-->
				<div class="col-xs-12 col-sm-12 text-center" ng-click="vm.downloadAll(0)">
					<button class="font-opensemibold font-24 font-white text-uppercase mrg-bottom-10 bg-green-sure-2 btn-radius">baixar tudo</button>
					<p class="font-24 text-uppercase font-grey-dark-trans font-openregular" ng-bind="vm.totalSizeInMB + 'MB'"></p>
				</div>
			</div>
			<!--end row-alt-->
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
