<div class="container bg-grey-sure-2 content-scroll overflow">
	
	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->
	
	<div class="calc-height relative">
		<header class="bar-top bg-white brd-top-grey-1 brd-bottom-sure-2">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>

			<h2 class="title-2 text-capitalize">{{vm.title}}</h2>
			<!-- end titulo -->
		</header>
		<!-- header -->
		
		<section class="content clearfix page-content-nav">
			<div class="row-alt row">
				<ul class="list-event list-category clearfix">
					<li class="clearfix bg-grey-sure desc-category" ng-repeat="item in vm.eventRow">
						<div ng-click="vm.filterEvent(item.id)" class="item-row row">
							<div class="clearfix mrg-bottom-10">
								<small class="pull-left badge-medium bg-blue-sure badge-row">&nbsp;</small>
								<span class="pull-left text-ellipsis max-w-55 font-grey-dark-3 text-uppercase font-opensemibold font-24">{{item.title}}</span>
								<em class="ion-chevron-right pull-right font-grey-dark-3 font-24"></em>
								<span ng-if="item.value" class="pull-right font-opensemibold font-grey-dark-trans text-uppercase font-24">{{item.value}}</span>
							</div>
							<div class="desc-category-item">
								<h4 class="font-24 mrg-bottom-10 text-capitalize"><em class="fa fa-user mrg-right-13"></em> 
									<span ng-repeat="pale in item.palestrante">
										{{pale.nome}}<span ng-if="!$last">, </span>
									</span>
								</h4>
								<ul class="clearfix">
									<li ng-repeat="tag in item.tag">
										<span class="{{tag.tagColor}} badge badge-big font-18 font-white font-openregular text-uppercase">{{tag.nome}}</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>
