
<div class="main bg-gradiente-blur checkin" ng-class="{'atividade': !vm.type}">

    <nav class="menu-saas" ng-include="'js/menu/view/menu.html'">
	</nav>
    <!-- end menu nav -->

    <header class="header-bar bg-gradiente-blur-3 display-8 flex-collum">
        <div class="line-flex align-center col-xs-12 col-sm-12 col-md-12">
            <a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse">
                <em class="fa font-18 fa-navicon font-white"></em>
            </a>
            <h2 class="font-18 text-capitalize flex-box-2 title-2 font-white" ng-bind="vm.title"></h2>
        </div>
        <div class="line-flex align-center bg-trans-black col-xs-12 col-sm-12 col-md-12">
            <h2 class="font-18 title-2 flex-box-2 font-white">SIEI 2017</h2>
            <a href="javascript:;" class="btn-header">
                <em class="ion-android-refresh font-white font-20"></em>
            </a>
        </div>
        <div class="line-flex align-center bg-trans-black-2 col-xs-12 col-sm-12 col-md-12" ng-if="!vm.type">
            <h2 class="font-18 title-2 flex-box-2 font-white">Palestra Silenciosa</h2>
            <a href="javascript:;" class="btn-header">
                <em class="ion-android-refresh font-white font-20"></em>
            </a>
        </div>
    </header>
    <!-- header -->

	<div class="content">

		<div class="content-radius content-box-7 col-xs-12 col-sm-12 col-md-12 bg-white mrg-b-15 flex-collum justify-center">
            <div class="display-8 col-xs-12 col-sm-12 col-md-12 justify-center">
                <img src="img/ico-qr-code.svg" alt="Qr-Code" class="maximg-30" />
            </div>
            <!-- end img-qr-code -->
            <h2 class="text-uppercase font-black-2 font-latoregular font-22 mrg-b-5v justify-center display-8 col-xs-12 col-sm-12 col-md-12">QR-CODE checkin-in</h2>
            <!-- end h2 -->
            <div class="display-8 pding-0 col-xs-12 col-sm-12 col-md-12">
                <button ng-click="vm.checkinQRCode()" class="btn bg-gradiente-blur-2 font-latobold font-white text-capitalize" id="checkinQRCode">iniciar Scan</button>
            </div>
            <!-- end col -->
		</div>
        <!-- end qr-code checkin -->

		<div class="content-radius content-box-3 col-xs-12 col-sm-12 col-md-12 bg-white flex-collum justify-center">
			<form name="formCheckin" id="formCheckin" novalidate class="col-xs-12 col-sm-12 col-md-12 pding-0">
                <div class="line-flex align-center mrg-b-2v">
                    <h2 class="text-uppercase flex-box-2 font-black-2 font-latoregular font-22 title-2 pding-0 form-group">
                        QR-CODE checkin-in
                    </h2>
                </div>
                <div class="mrg-b-5 display-8 pding-0 col-xs-12 col-sm-12 col-md-12">
                    <input id="cpf" name="cpf" type="text" ng-model="vm.cpf" ui-mask="999.999.999-99" placeholder="Digite o seu CPF" ui-mask-placeholder="___.___.___-__" class="form-control field text-center" required="required" autocomplete="off" />
                </div>
                <!-- end col -->
                <div class="mrg-b-5 display-8 pding-0 col-xs-12 col-sm-12 col-md-12">
                    <button ng-click="vm.checkinByCPF(vm.cpf)" name="checkinCPF" class="btn bg-gradiente-blur-2 font-latobold font-white" id="checkinCPF">Validar</button>
                </div>
                <!-- end col -->
			</form>
			<!-- formCheckin -->
		</div>
        <!-- end checkin cpf -->
	</div>
	<!-- end content -->

</div>
<!-- end main -->

