
<div class="main bg-gradiente-blur display-8">

    <nav class="menu-saas" ng-include="'js/menu/view/menu.html'">
	</nav>
    <!-- end menu nav -->

    <header class="header-bar bg-gradiente-blur-3 display-8 flex-collum">
        <div class="line-flex align-center col-xs-12 col-sm-12 col-md-12">
            <a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse">
                <em class="fa font-18 fa-navicon font-white"></em>
            </a>
            <h2 class="font-18 text-capitalize flex-box-2 title-2 font-white" ng-bind="vm.title"></h2>
        </div>
        <div class="line-flex align-center bg-trans-black col-xs-12 col-sm-12 col-md-12">
            <h2 class="font-18 title-2 flex-box-2 font-white">SIEI 2017</h2>
            <a href="javascript:;" class="btn-header">
                <em class="ion-android-refresh font-white font-20"></em>
            </a>
        </div>
        <div class="line-flex align-center bg-trans-black-2 col-xs-12 col-sm-12 col-md-12" ng-if="!vm.type">
            <h2 class="font-18 title-2 flex-box-2 font-white">Palestra Silenciosa</h2>
            <a href="javascript:;" class="btn-header">
                <em class="ion-android-refresh font-white font-20"></em>
            </a>
        </div>
    </header>
    <!-- header -->

	<div class="content flex-collum">

		<div class="content-radius bg-white flex-1 flex-collum">
            <div class="justify-center line-flex align-center">
                <h2 ng-class="{'bg-green-light': vm.feedback, 'bg-red-light': !vm.feedback}" class="text-uppercase bg-green-light font-white brd-radius-t-3 font-latoregular font-16 text-center flex-box-2 display-2 pding-10" ng-bind="vm.profile.title"></h2>
            </div>
            <!-- end h2 -->

            <div class="col-xs-12 col-sm-12 col-md-12 flex-1 text-center justify-center flex-collum">
                <em class="{{vm.profile.ico}} font-158 line-height-28"></em>
                <p class="font-black-2 font-18 font-latoregular mrg-b-2v" ng-bind="vm.profile.msg"></p> 
                <h3 class="font-26 text-capitalize font-latobold font-blue-dark line-height-24 mrg-b-2v" ng-if="vm.feedback" ng-bind="vm.profile.name"></h3>
                <div>
                    <p class="font-latobold font-black-2" ng-bind="vm.profile.jobRole" ng-if="vm.feedback && vm.type"></p>
                    <p class="font-black-2 font-14 font-latoregular" ng-class="{'mrg-b-2v': !vm.type && vm.feedback}">{{vm.feedback ? vm.profile.company : vm.profile.desc}}</p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xs-12 col-sm-12 col-md-12 mrg-b-2v">
                <button ng-click="vm.print()" class="btn bg-gradiente-blur-2 font-latobold font-white text-capitalize" id="print" ng-if="vm.feedback && vm.type">Imprimir Chachá</button>
                <button ng-click="vm.back()" class="btn bg-gray font-latobold font-black-2 text-capitalize" id="voltar" ng-if="(vm.feedback && !vm.type) || (!vm.feedback && vm.type)">Voltar</button>
                <button ng-click="vm.back('/checkin/atividade')" class="btn bg-gradiente-blur-2 font-latobold font-white text-capitalize" id="voltar" ng-if="!vm.feedback && !vm.type">Fazer check-in novamente</button>
            </div>
            <!-- end col -->

		</div>
        <!-- end cpf checkin -->


	</div>
	<!-- end content -->

</div>
<!-- end main -->

