html,
body,
#wrapper {
    height:100%;
    width:100%;
    color: #333;
    position: relative;
    -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
}
/*
* element
*/
::-webkit-scrollbar { display: none;}
* { -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
input, textarea, .contenteditable {-webkit-user-select: auto !important;-khtml-user-select: auto !important;-moz-user-select: auto !important;-ms-user-select: auto !important;user-select: auto !important;}
strong { font-family: 'open_sansbold';  }
ul { list-style: none; margin:0; padding: 0 }
img { max-width: 100%; height: auto; }
a:hover, a:focus { text-decoration: none; outline: none; }
h1, h2, h3, h4, hr { padding:0; margin: 0 }
/*
*font-size
*/
.font-6 { font-size: 0.375em; }
.font-10 { font-size: 0.625em; }
.font-11 { font-size: 0.7em; }
.font-14 { font-size: 0.875em; }
.font-18 { font-size: 1.125em; }
.font-20 { font-size: 1.250em; }
.font-22 { font-size: 1.375em; }
.font-24 { font-size: 1.500em; }
.font-26 { font-size: 1.625em; }
.font-28 { font-size: 1.750em; }
.font-30 { font-size: 1.875em; }
.font-32 { font-size: 2em; }
.font-34 { font-size: 2.125em; }
.font-36 { font-size: 2.250em; }
.font-38 { font-size: 2.375em; }
.font-40 { font-size: 2.500em; }
.font-42 { font-size: 2.625em; }
.font-45 { font-size: 2.813em; }
.font-50 { font-size: 3.125em; }
.font-60 { font-size: 3.750em; }
.font-88 { font-size: 5.5em; }
.font-90 { font-size: 5.625em; }
.font-110 { font-size: 6.875em; }
.font-128 { font-size: 8.000em; }
.font-158 { font-size: 9.875em; }
/*
* float
*/
.fl-none { float: none; }

/*
*color
*/
.font-white { color: white }
.font-blue-dark { color: #001334 }
.font-blue-dark-2 { color: #0a4573 }
.font-blue-dark-3 { color: #1352e2 }
.font-blue-sure { color: #37a8ff }
.font-blue-sure-2 { color: #2545e7 }
.font-blue-sure-3 { color: #2c82bb }
.font-blue-sure-4 { color: #0072bc }
.font-blue-sure-5 { color: #00baff }
.font-grey-dark { color: #101315 }
.font-grey-dark-2 { color: #414141 }
.font-grey-dark-3 { color: #1c1c1c }
.font-grey-dark-4 { color: #262626 }
.font-grey-sure { color: #999999 }
.font-grey-sure-2 { color: #d6d6d6 }
.font-grey-sure-3 { color: #a8a8a8 }
.font-grey-sure-4 { color: #cccccc }
.font-grey-sure-5 { color: #404549 }
.font-grey-sure-6 { color: #333333 }
.font-grey-sure-7 { color: #666666 }
.font-green-sure { color: #3affa5 }
.font-green-sure-2 {color:#22c064 }
.font-red-sure { color: #e0483e }
.font-white-trans { color: rgba(255,255,255,0.5) }
.font-white-trans-2 { color: rgba(255,255,255,0.8) }
.font-grey-dark-trans {  color: rgba(28,28,28,0.5) }
.font-grey-dark-trans-2 {  color: rgba(38,38,38,0.5) }
.font-grey-dark-trans-3 {  color: rgba(38,38,38,0.2) }
.font-grey-dark-trans-4 {  color: rgba(51,51,51,0.5) }
.font-brown-dark { color: #9c761a }
.font-orange-sure { color: #f3d5ae }
.font-orange-sure-2 { color: #ee4e10 }
.font-italic { font-style:italic;  }

/*
*background-color
*/
.bg-trans { background: transparent; }
.bg-white { background-color: #fff }
.bg-black { background-color: #191919 }
.bg-grey-sure { background-color: #f3f3f3 }
.bg-grey-sure-2 { background-color: #e4e4e4 }
.bg-grey-sure-3 { background-color: #e8e8e8 }
.bg-grey-dark { background-color: #1c1c1c }
.bg-grey-dark-2 { background-color: #a9a9a9 }
.bg-blue-sure { background-color: #1352e2 }
.bg-blue-sure-2 { background-color: #2cb3bb }
.bg-blue-dark { background-color: #2c82bb }
.bg-trans-black { background-color: rgba(28, 28, 28, .5); }
.bg-linear-black-white { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+32,000000+100&0.2+2,0.3+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 2%, rgba(0,0,0,0.23) 32%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 2%,rgba(0,0,0,0.23) 32%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 2%,rgba(0,0,0,0.23) 32%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */}
.bg-linear-black-grey { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+4,ebebeb+100&0.3+5,0.9+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 4%, rgba(50,50,50,0.3) 5%, rgba(235,235,235,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 4%,rgba(50,50,50,0.3) 5%,rgba(235,235,235,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 4%,rgba(50,50,50,0.3) 5%,rgba(235,235,235,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e6ebebeb',GradientType=0 ); /* IE6-9 */
}
.bg-green-sure { background-color: #22c064 }
.bg-green-sure-2 { background-color: #50b973 }
.bg-red-sure { background-color: #ed1c24 }
.bg-purple { background-color: #872cbb }
.bg-pink-dark { background-color: #bb2c98 }
.blur-bgimage { overflow: hidden; }
.blur-bgimage:before {
    content: "";
    position: absolute;
    width : 105%;
    height: 105%;
    background: inherit;
    z-index: 0;
	margin: -5px 0 0 -5px;
    filter        : blur(10px) contrast(0.6) saturate(0.3) sepia(0.31) brightness(81%);
    -moz-filter   : blur(10px) contrast(0.6) saturate(0.3) sepia(0.31) brightness(81%);
    -webkit-filter: blur(10px) contrast(0.6) saturate(0.3) sepia(0.31) brightness(81%);
    -o-filter     : blur(10px) contrast(0.6) saturate(0.3) sepia(0.31) brightness(81%);
}

/*
*border
*/
.brd-top-0 { border-top: 0 !important }
.brd-top-grey-1 { border-top: 1px solid #eff4f7 }
.brd-bottom-sure-1 { border-bottom: 1px solid #aaa; }
.brd-bottom-white-1 { border-bottom: 1px solid #fff; }
.brd-bottom-sure-2 { border-bottom: 1px solid #cccccc; }
.brd-top-sure-1 { border-top: 1px solid #cccccc }
.brd-top-sure-2 { border-top: 1px solid #aaa; }
.brd-top-sure-3 { border-top: 1px solid #b6b6b6 }
.border-white { border: 2px solid #FFF }
.brd-grey-dark { border:1px solid #404040 !important }
.brd-sure { border: 1px solid #aaa; }
.brd-radius-8 { border-radius: 8px; }

/*
*text-transform
*/
.text-uppercase { text-transform: uppercase;}
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.text-capitalize { text-transform: capitalize;}
.text-word-break { word-break: break-word;}
.text-nowrap { white-space: nowrap}
.text-bold { font-weight: bold; }
.box-ellipsis {display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  min-height: 3.7rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
*font-family
*/
.font-openregular {font-family: 'open_sansregular';}
.font-openbold {font-family: 'open_sansbold';}
.font-opensemibold {font-family: 'open_sanssemibold';}
.font-mustache {font-family: 'marykatemedium';}

/*
*	line-height
*/
.line-height-28 { line-height: 28px }
.line-height-21 { line-height: 21px }
.line-height-14 { line-height: 14px }

/*
*btn
*/
.btn-submit{ display: block; width: 100%; border-radius: 0; }
.btn-footer { padding: 15px 0; text-align: center; display: block; /*position: absolute; bottom: 0*/ }
.btn-send { border: none; border-radius: 8px; min-width: 50px; outline: none; margin-left: 10px}
.btn-radius { border:none; border-radius: 30px; padding: 15px 10px; min-width: 180px; outline: none; }
.btn-2 { border:none;outline: none;padding: 8px 15px;border-radius: 4px;overflow: hidden;white-space: nowrap;position: relative;text-overflow: ellipsis; }
.btn-3 { border: 1px solid #FFF; padding: 15px 0; border-radius: 4px }
.btn-4, .btn-4:hover, .btn-4:focus, .btn-4:visited { border:none; background: none; outline: none;  }
.btn-list { margin-left: -30px; margin-right: -30px; }
.btn-list li { border-right: 1px solid #ccc; }
.btn-list li:last-child { border-right: none; }
.btn-list li a { line-height: 50px; display: block; }
.btn-list .active { border-bottom: 2px solid #1352e2 }
.btn-rest {border:none; background: none; outline: none; }
.btn, .btn:focus, .btn:hover { outline: none; }
.btn-submit:active:focus, .btn-submit:active:hover, .btn-submit:active, .btn-submit:focus, .btn-submit:hover { background-color: #50b973; border-color: #4cae4c; outline: none; box-shadow:none}
.btn-submit:active:focus, .btn-submit:active:hover, button.btn-radius:active:hover, button.btn-radius:active:focus {-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); background-color: #3ab563; border-color: #3f9a3f;}
.btn-submit[disabled]:active:focus, .btn-submit[disabled]:active, .btn-submit[disabled]:focus, .btn-submit[disabled]:hover, .btn-submit[disabled] {background-color: #95d095; border-color: #95d095; outline: none; opacity: 1}
.btn-disabled { background-color: #e2e2e2;}
.btn-group-two { margin-bottom: 2px; }
.btn-group-two .btn-2 {flex-grow: 2;}
.btn-group-two .btn-2:first-child { margin-right: 2px; }
/*
*title
*/
.title-system { text-align: center; margin: 0 0 19.5%; }
.title-2 { font-family: 'open_sansregular'; font-size: 2.125em; width: 100%; margin:0 }
.title-3 { font-size: 1.750em; margin: 0; margin-bottom: 10px; font-family: 'open_sanssemibold'; }
.mx-h-title { max-height: 2.7rem; }
/*
*margin
*/
.mrg-0 { margin: 0 }
.mrg-bottom-5 { margin-bottom: 5px }
.mrg-bottom-10 { margin-bottom: 10px }
.mrg-bottom-15 { margin-bottom: 15px }
.mrg-bottom-20 { margin-bottom: 20px }
.mrg-bottom-25 { margin-bottom: 25px }
.mrg-bottom-45 { margin-bottom: 45px }
.mrg-bottom-30 { margin-bottom: 30px }
.mrg-left-5 { margin-left: 5px }
.mrg-left-auto { margin-left: auto }
.mrg-right-5 { margin-right: 5px }
.mrg-right-10 { margin-right: 10px }
.mrg-right-13 { margin-right: 13px }
.mrg-right-left-2 { margin-right: 2px; margin-left: 2px }
.mrg-right-left-10 { margin-right: 10px; margin-left: 10px }
.mrg-top-3 { margin-top: 3px }
.mrg-top-10 { margin-top: 10px }
.mrg-top-15 { margin-top: 15px }
.mrg-top-bottom-20 { margin-top: 20px; margin-bottom: 20px }
.mrg-top-bottom-15 { margin-top: 15px; margin-bottom: 15px }

/*
*padding
*/
.pding-10 {padding: 10px;}
.pding-top-4 { padding-top: 4px }
.pding-top-15 { padding-top: 15px }
.pding-top-25 { padding-top: 25px }
.pding-30 { padding-bottom: 30px; padding-top: 30px }
.pding-35  {  padding-top: 35px }
.pding-top-40 { padding-top: 40px }
.pding-top-bottom-15 { padding-top: 15px; padding-bottom: 15px;}
.pding-top-bottom-5 { padding-top: 5px; padding-bottom: 5px;}
.pding-bottom-60 { padding-bottom: 60px }
.pding-bottom-50 { padding-bottom: 50px }
.pding-bottom-10 { padding-bottom: 10px }
.no-pding { padding: 0; }
.pding-right { padding-right: 0 }
.pding-left { padding-left: 0 }
.pding-left-20 { padding-left: 20px; }
.pding-left-right-5 { padding-left: 5px; padding-right: 5px }
.btn-bottom-text { padding-bottom: 70px }

/*
* display
*/
.display { display: none; }
.display-1 { display: inline-block; }
.display-2 { display: block; }
.display-3 { display: table; }
.display-4 { display: table-cell; vertical-align: middle; }
.display-5 {display: table-row;}
.display-6 { display: table-cell; vertical-align: bottom;}
.display-7 { display: inline; }
.display-8 { display: flex; }
.display-9 { display: flex; flex: 1; }
.max-w-55 { max-width: 55%; }
.relative { position: relative}
.absolute { position: absolute}
/*
*header
*/
header.bar-top { min-height: 65px; padding:25px 15px 15px; width: 100%; display: flex; align-items: center; overflow: hidden; }
.view-chat .bar-top { position: relative; }
.btn-header { z-index: 3; line-height: normal; }
header .title-2 { text-align: center; display: block !important; white-space: nowrap; margin: 0 10px; min-height: 2.7rem }
.btn-header em { font-size: 2.2em; }
.btn-header .badge { display: block; z-index: 4; z-index: 4; margin: 0; position: absolute; top: 3px; right: -4px; font-size: 10px; padding: 0 }
.btn-right em { font-size: 2.2em; }
/*header.bar-top-group { padding-top: 12px; padding-bottom: 12px } */
header.bar-top-group .btn-header, .bar-top-group .btn-header { display: table-cell; vertical-align: middle; position: initial; margin: 0 }

/*
* search bar
*/
.bar-search .box-search { margin-left: 20px; }
.bar-search .btn-icon { right: 0; left: inherit; }
.bar-search > form { width: 100%; }
/*
*container
*/
.container { padding-left: 0; padding-right: 0; min-height:100%; display: flex; flex-direction: column; overflow: hidden; }
.content, header.bar-top { padding-left: 30px; padding-right: 30px; }
.content.no-pding, header.no-pding { padding: 0; }
.content { overflow-y: auto; flex: 1; height: 100%;min-height: 100%; max-height: 100%;overflow-x: hidden; }
/*
*	overflow
*/
.overflow {overflow-x: hidden; overflow-y: visible; -webkit-overflow-scrolling: touch; min-height: 100vh; max-height: 100vh; }
.overflow-all {overflow: hidden; }
.overflow-y { overflow-y: visible; }

/*
*form*/
.login .help  { float: right; margin-top: -45px;}
.login .form-group { margin-bottom: 9.375% }
.insert-event .title-system { margin-bottom: 0 !important}

/*
*help
*/
.help { font-size: 1.375em; font-family: 'open_sansregular'; color: #2c82bb }
.help:hover, .help:focus, .help:visited { color: #2c82bb; text-decoration: none; }
.help .fa-stack { color: #FFF; border: 1px solid #2c82bb; border-radius: 33px; font-size: 1.000em; }
.help .fa-inverse { color: #2c82bb;  font-size: 1.125em; }
.has-error .text-inline { color: #a94442}

/*
*btn social
*/
.btn-social { display: table; text-transform: uppercase; text-align: center; padding: 4px; border-radius: 30px; width: 100%; font-size: 1.500em; color: white; font-family: 'open_sanssemibold'; }
.btn-social .fa-stack { float: left; }
.btn-social:hover, .btn-social:focus, .btn-social:visited { text-decoration: none; color: #FFF }
.btn-social + .btn-social { margin-top: 20px; }
.txt-btn { display: table-cell; vertical-align: middle; width: 100%; }
.label-default { background-color: #404549; }
.label-primary { background-color: #0a4573 }
.label-default.font-white:hover, .label-primary.font-white:hover { color:white; }

.box-btn-submit { position: absolute; bottom: 0; width: 100%; left: 0; -webkit-overflow-scrolling: touch; }
.btn-submit .icon { font-size: 3em; }
.fileUpload { position: relative;}
.fileUpload input.upload { position: absolute; top: 0; right: -4px; margin: 0; padding: 0; font-size: 12px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}

/*
* menu saas
*/
.menu-saas { color: #FFF;}
.menu-saas > ul { max-height: 100vh; padding-top: 5%; overflow-y: auto; overflow-x: hidden; height: 100%; width: 85%; -webkit-overflow-scrolling: touch }
.menu-saas li:not(.has-user-block) a { display: block;  padding-bottom: 20px; padding-top: 20px; padding-left: 56px; }
.menu-saas a:not(.font-green-sure) { color: inherit; }
.menu-saas li { float: left; }
.menu-saas > ul > li {border-bottom: 1px solid #0d0d0d; width: 100%;}
.menu-saas > ul > li:not(.has-user-block) { font-size: 1.750em }
.menu-saas > ul > li:last-child{border-bottom: none;}
.menu-saas ul .badge { margin-left: 10px; margin-top: -4px; min-width: 30px }
.menu-saas .ion-android-settings { margin-left: 10px;}
.menu-block #sidenav-overlay .button-collapse { position: absolute; right: 5%; left: initial; z-index: 9999;}
.menu-block #sidenav-overlay .button-collapse .font-white { color: #333 }
.user-block-info { display: flex; }
.user-block { padding: 0 0 60px 56px}
.user-block .mn-person-info { width: 100%; }
.user-block img { height: 70px; width: 70px; border: 2px solid #fff !important;  }
.user-block-name { display: inline-block !important; display: -webkit-box;-webkit-line-clamp: 2;max-height: 2.7rem;-webkit-flex: 1 100%;-ms-flex: 1 100%; flex: 1 100%;overflow: hidden; text-overflow: ellipsis; word-break: keep-all; width: 100%; margin-right:5px; }
.user-block-role li { margin-left: 30px }
.user-block-role li a:hover { color: inherit; text-decoration: none; }
.user-block-role li:first-child { margin-left: 0 }
.is-active .badge { display: none; }
.user-block .mn-person-info__details { padding-right:10px; }


/*
* nav bar footer
*/
.has-nav-bar-footer { padding-bottom: 65px;min-height:100%;position: relative;overflow-y: auto;max-height: 100vh; }
.nav-bar-footer-container { width: 100%; }
.nav-bar-footer-container li { border-right: 1px solid #ccc; width: calc(100% / 5); }
.nav-bar-footer-container .active { background-color: #1352e2; color: #FFF; }
.nav-bar-footer-container .active a, .nav-bar-footer-container .active em { color: #FFF; }
.nav-bar-footer-container li:last-child { border-right: none; }
.nav-bar-footer-container a { padding: 10px;}
.nav-bar-footer-container a em { margin-bottom: 5px }
.has-nav-bar-footer .nav-bar-footer { position: fixed; }
.has-nav-bar-footer .box-btn-submit { margin-bottom: 65px; }

/*modal*/
.modal-full-height { overflow: hidden; }
.modal-full-height .modal-dialog { padding: 20px 10px; margin: 0; }
.modal-full-height .modal, .modal-full-height .modal-backdrop { position: absolute; overflow: hidden; }
.modal-title { text-align: center; font-size: 2.125em }
.close { filter: alpha(opacity=100); opacity: 1; }
.close .ion { font-size: 2.125em }

/*form*/
.input-label {display: table; padding: 0; z-index: 3; color: #1c1c1c; font-size: 1.500em; font-family: 'open_sanssemibold';text-transform: uppercase;}
.floating-label .input-label { position: relative; padding: 0 0 0 0; opacity: 0; top: 10px; transition: opacity 0.15s ease-in, top 0.2s linear; text-transform: uppercase; margin: 0}
.floating-label .input-label.has-input { opacity: 1; top: 0; transition: opacity 0.15s ease-in, top 0.2s linear; }
.floating-label input {border-radius: 0; border: none; border-bottom:1px solid #aaaaaa; font-family: 'open_sansregular'; font-size: 1.5em; box-shadow: none; padding: 0; color: #1c1c1c; height: 60px;}
.floating-label input::-webkit-input-placeholder { color: #1c1c1c; font-family: 'open_sanssemibold';text-transform: uppercase;}
@-webkit-keyframes autofill { to { color: #666; background: transparent; } }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-animation-name: autofill;-webkit-animation-fill-mode: both;}
/*
*campo
*/ 
.campo, .campo3, .campo4 { border: none; border-bottom:1px solid #aaaaaa; font-family: 'open_sansregular'; display: block; width: 100%; height: 60px; padding: 0; font-size: 1.750em }
.campo:focus, .campo3, .campo4 { outline: none; }
.campo2, .campo3, .campo4 { border-bottom: 0; background-color: #f3f3f3 }
.campo3, .campo4 { padding: 15px }
.campo4 { height: auto; }
.campo4.font-32 { font-size: 2em }
.campo-text-area { min-height: 19vh; }

/*text*/
.text-alt { height: 30px; line-height: 30px; margin-top: 37px; margin-bottom: 0 }

/*box botao*/
.box-btn { padding: 40px 0 }
.btn-icon-group { position: relative; }
.btn-icon { border: none; background: none; outline: none; padding: 0; margin: 0; font-size: 2em;  top: 50%; left: 0; width: 40px; height: 100%; margin-top: -30px }
.btn-icon-group .btn-icon { position: absolute;}
.box-search .campo { padding-left: 50px } 
.bar-search .campo { padding-right: 50px; padding-left: 25px; }

/*list*/
.list { list-style: none; margin: 0; padding:0; }
.list-quick-access {  display: inline-block; }
.list-quick-access li { vertical-align: top; text-align: center; font-family:'open_sansregular'; height: 200px; width: 193px; display: inline-block; }
.list-quick-access h4, .slick-slide h4 { margin-bottom: 0; font-size: 1.250em; margin-top: 0 }
.slick-slide { outline: none; }
.slick-slide.active .box-icon  { color: #FFF; border: none; background-color: #1352e2 } 
.slick-slide.active .box-icon em { color: #FFF }
.qa-home .slick-slide { padding-left:15px; padding-right: 10px; display: inline-block; }
.box-icon { width: 140px; height: 140px; display: table; margin-bottom: 5px; border-radius: 50%; border:2px solid #c1c1c1; margin-right: auto; margin-left: auto; }
.box-icon em { display: table-cell; vertical-align: middle; }
.box-icon em:before { display: block; }
/*list result*/
.list-result li { margin: 0; padding:0; line-height: normal; font-family:'open_sansregular'; min-height: 120px; display: table; width: 100%; }
.list-result .item-result { display: table-cell; vertical-align: middle; width: 100%;} 
.list-result p { line-height: 32px; margin-top: 30px; font-size: 1.500em; }
.item-more .item-result { padding-top: 50px; padding-bottom: 50px }
.title-result { font-size: 1.5em; display: block; }
.title-result:hover, .title-result:focus { text-decoration: none; color: inherit; }

/*list result user*/
.list-result-2 { padding: 50px 0; font-family:'open_sansregular';  }
.user-result { text-transform: uppercase; font-size: 1.5em; font-family: 'open_sanssemibold'; float: right; }
.group-text { margin-bottom: 20px }
.row-user div { display: table; width: 100%; }
.row-user div span, .row-user div a  { display: table-cell; float: none; width: auto }

/*
* list timeline
*/
.list-timeline { min-height: calc(100vh - 135px); position: absolute; left: 0; padding: 15px 30px 0; display: flex; flex-direction: column; width: 100%; }
.list-timeline > ul { flex: 1; }
.content-user > ul { width: 100% }
.list-timeline .box-ellipsis { min-height: 2.1rem; -webkit-line-clamp: 3; }
.content-user .mn-person-info__details > div, .mn-person-info__details > div { width: 100%; }
.list-timeline li.content-user:last-child .description{ border-bottom:none; }
.has-img { padding-right: 15px; width: 150px; position: relative; }
.has-img, .description { display: table-cell; vertical-align: top; }
.has-img .badge-position, .mn-person-info__picture .badge-position { border: 2px solid #FFF; position: absolute; margin: 0; }
.vertical-middle { vertical-align: middle; }
.description { padding-bottom: 5px; position: relative; word-break: break-all; }
.description .display-3 { width: 100%; }
.event-detail .mn-person-info__details > div { width: auto; }
.ph { line-height: normal; margin-bottom: 10px }
.content-user .title-3 { color: #1c1c1c }
.interaction { width: 100%; }
.interaction a:hover { text-decoration: none; color: #a8a8a8; }
.interaction a.active em, .has-like em { color: #e0483e }
.has-like-commet { display: flex; margin-bottom: 2px;  }
.has-like-commet .btn-is-link:first-child { margin-right: 2px; }
.has-like-commet .btn-is-link { flex-grow: 2; }
.has-like-commet li { width: 100%; }
.has-like-commet a + a:not(.btn-is-link) { margin-left: 20px }

/*
* Post Timeline
*/
.content-text { padding: 10px 15px; display: flex; flex-direction: column; }
.content-text .contenteditable{ flex: 1; min-height: 30px; }
.content-action { width: 100%; padding: 0 10px }
.hide-footer .content-action { display: none; }

/*
* perfil usuário
*/
.profile-user .bar-top { margin-top: 0;margin-bottom: 0;min-height: 370px;height: auto;position: relative; align-items: flex-start; padding: 0}
.participant .blur-bgimage { min-height: 65vh; }
.bg-user { background: url('../img/bg-perfil-user.jpg') repeat-x top center; background-size: cover; }
.head-user { position: relative; flex: 1; }
.profile { width: 70%; margin: 0 auto }
.participant .profile { width: 80%; }
.profile > img  { width: 80px; height: 80px; border: 2px solid #fff; background-clip: content-box; box-sizing: border-box; }
.participant .profile > img  { width: 100px; height: 100px; }
.btn-text { position: absolute; top: 0; right: 0; font-family: 'open_sansregular'; z-index: 1; }
.row-alt { padding-top: 30px; padding-bottom: 30px; margin-left: -30px; margin-right: -30px; }
.pding-top-bottom-0 { padding-top: 0 !important; padding-bottom: 0 !important;}
/*
* perfil palestrante
*/
.profile-lecturer .bar-top { height: 20vh; padding:0; }
.profile-h .bar-top { height: 35vh; }
.content-head { padding: 30px 15px;position: relative; width: 100%; }
.profile-h .content-head h3 { padding-bottom: 40px; }
.profile-h h3 { justify-content: center;}
.profile-h .content-head { height: 100%; width: 100%; padding: 0; }
.content-head h3 { margin-bottom: 40px }
.profile-contato .content-head h3, .profile-user .content-head h3 { margin: 0 auto; }
.bg-lecturer {background-size: cover;padding: 0;}
.head-lecturer h3 { margin-bottom: 40px }
.list-menu-head li { min-width: calc(33vw - 30px); }
.content .list-menu-head li { min-width: calc(32vw - 15px); }
.list-menu-head li a { display: block; padding: 15px 30px; }
/*.list-menu-head li a:hover { color: #FFF; }*/
.list-menu-head .active a { color: #333333; background-color: #FFF; border-radius: 30px }
.list-menu-head.bg-inverte .active a { background-color:#333333; color: #FFF  }
.list-menu-head-round { border-radius: 8px; border-width:2px; border-style: solid; }
.list-menu-head-round-white { border-color:#FFF  }
.list-menu-head-round .active a { border-radius: 0; }
.profile-lecturer .container-head { display: flex; flex-direction: column; }
.profile-lecturer .flex-item-row { justify-content: flex-end;}

/*
* chat
*/
.chat {position: absolute; top: 0; width: 100%;left: 0;-webkit-overflow-scrolling: touch;}
.chat-container { width: 100%; min-height: 100%; position: relative;}
.chat-mensagens { padding: 0 15px 10px; }
.chat-mensagens .list-comment { width: 100%; }
.chat-content-edit { padding: 11px 0; width: 100%; max-width: 100%; cursor: text;-webkit-transition: right .218s ease; transition: right .218s ease;min-height: 21px; overflow-x: hidden; overflow-y: visible; background-color: #e8e8e8; max-height: 150px;-webkit-overflow-scrolling: touch }
.contenteditable { outline: none; cursor: text; width: 100%;word-wrap: break-word;word-break: break-all;position: relative;word-break: break-word;}
.chat-container-edit { position: relative;display: flex;border-top: 1px solid #aaaaaa; padding:0 10px; align-items: flex-end; }
.chat-container-mensagens { height: 100%; }
.chat-content-mensagens {height: 100%; overflow-x: hidden;}
.chat-overflow, .content-text {top: 0; bottom: 0; left: 0; right: 0; position: absolute; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; min-height: 100%; height: 100%; display: flex }
.coments-overflow, .content-text {left: 0; right: 0; position: absolute; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; min-height: 100%; height: 100%; display: flex }
.chat-send-msg {bottom:0; height: 40px; top: initial; position: fixed; }
.chat-delete {
	position: absolute;
	z-index: 1;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	display: none;
}
.line-active .chat-delete {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
}
.line-active .chat-delete em {display: block; width: 100%; text-align: center}
.line-active {
	background-color: #dedede;
    padding: 25px 15px 0;
}
.line-active .chat-delete { left: 10px; top: 10px; }
.line-active.has-ico-chat .chat-delete { right: 10px; left: initial; top: 10px;}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-110%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-110%); }
}
.has-ico-chat .chat-delete { right: 0; transform: translateX(100%); -webkit-transform: translateX(100%);}
.has-item-chat .content-description { padding: 13px; border-radius: 20px; }
.has-item-chat .content-image img {border-radius: 20px;}
.has-item-chat .has-img:before, .has-item-chat .mn-person-info__picture:before { content: ""; position: absolute; width: 30px; height: 20px;border-radius: 50%; top: 17px; right:-14px; z-index: 1}
.my-msg, .friend-msg { width: 100%; }
.my-msg .has-img {padding-left: 20px; padding-right: 0}
.my-msg .has-img:before { box-shadow: -12px 8px 0 0 #2c82bb; left: -1px; }
.my-msg .content-description { background-color: #2c82bb; text-align: left }
.my-msg .content-description .content-chat { color: white; }
.my-msg .description { text-align: right; }
.has-item-chat .my-msg { justify-content: flex-end; }
.has-item-chat .mn-person-info__details { width: auto; min-height: auto }
.has-item-chat .mn-person-info__picture {margin-bottom: 4px; }
.has-item-chat .mn-person-info__picture .img-circle { position: relative; z-index: 2; }
.friend-msg .has-img:before, .friend-msg .mn-person-info__picture:before { box-shadow: 12px 8px 0 0 #e8e8e8; }
.friend-msg .content-description { background-color: #e8e8e8; }
.friend-msg .content-description .content-chat { color: #262626; }
.friend-msg + .text-time { text-align: left; }
.text-time { margin-bottom: 5px;}
.can-delete-post {flex-direction: column;display: flex;margin-right: 15px;}
.can-delete-post .mn-person-info__picture { margin-right: 0; }
.can-delete-post .ico-delete { display: flex !important; flex: 1; align-items: center; justify-content: center; }
.can-delete-post .ico-delete em { display: inline-block; padding: 5px; }

[contenteditable=true]:empty:before{content: attr(placeholder);display: block; font-family: 'open_sansregular';}
.edit-btn-msg { white-space: normal; position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; overflow: hidden; width: 100%;}
.no-box-btn-chat .edit-btn-msg { padding-left: 0; }
.edit-btn-box { width: 15%; position: absolute; top: 8px; right: 0; text-align: center; }
.edit-btn-box input[type='button'] { border: none; background: none; padding: 0 }
.edit-btn-box input[type='button']:focus, .edit-btn-box input[type='button']:active { outline: none; background: none; }
.chat-user .chat-content-edit {background: #ffffff; display: block !important; display: -webkit-box;-webkit-line-clamp: 2;-webkit-flex: 1 100%;-ms-flex: 1 100%;flex: 1 100%;text-overflow: ellipsis;word-break: keep-all;}
.chat-user .box-btn-chat { display: inline-block;  }
.no-box-btn-chat .box-btn-chat { display: none}
.btn-chat { padding: 14px 8px; line-height: 14px; display: inline-block}
.chat-user .edit-btn-box { top: 12px }
.chat-user [contenteditable=true]:empty:before {color: rgba(28,28,28,0.5)}
/*
* img qrCode
*/
.img-qr-code {margin-bottom: 20px;margin-top: 20px;max-width: 70%;margin-right: auto;margin-left: auto;}
.img-qr-code canvas { width: 100% !important; height: auto !important; }
/*
*list center
*/
.list-center { text-align: center;}
.list-center li { display: inline-block; }
/*
*list evaluation
*/
.evaluation { margin-bottom: 0; position: relative; }
.evaluation .ph { margin-bottom: 0 }
.time { position: absolute; top: -8px; right: 15px }
.time .ion-ios-clock-outline, .time .fa-clock-o { font-size: 1.3em}
.description .time { right: 0; }
.evaluation > li { padding-bottom: 15px; margin-bottom: 15px;}
.evaluation > li:last-child { border-bottom:none; padding-bottom: 0; margin-bottom: 0 }
.evaluation .description { padding-bottom: 0 }
.evaluation .list-evaluation em { font-size: 1.5em }
.list-evaluation li { display: inline; line-height: normal; }
.list-evaluation .active em { color:#39af98 }
/*
*list profile
*/
.list-profile li { width: 19%; margin-bottom: 10px}
.list-rede-social li { margin-bottom: 0 }
/*
*cartao virtual
*/
.card-virtual { margin-bottom: 0 }
.card-virtual > li { padding-bottom: 15px; margin-bottom: 15px }
.card-virtual .description { padding-bottom: 0; }
.card-virtual > li:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0 }
/*
*edit user
*/
.select-picture > a { line-height:150px; text-align: center;}
.edit-user { background-color: #f3f3f3; border-bottom: 1px solid #aaa; }
.edit-user > div:not(.has-error):not(.display-2) { display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex: 1;-ms-flex: 1;flex: 1;min-width: 0;align-items: center;}
.edit-user span, .edit-user a, .edit-user div { color: #262626 }
.edit-user label, .edit-user .group-campo, .edit-user .has-error { padding-left: 15px; }
.edit-user label {-webkit-flex-shrink:0;-ms-flex-negative: 0;flex-shrink:0; margin-bottom: 0; }
.edit-user .group-campo { padding-right: 15px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column;-ms-flex-direction: column; flex-direction: column;-webkit-align-items: flex-start; -ms-flex-align: start;align-items: flex-start;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;width: 100%; word-break: break-all;}
.edit-user .campo { background-color: transparent; border-bottom: none; font-size: 1.500em; }
.edit-right .campo { text-align: right; }
.line-duplo label { margin-top: 0; margin-bottom: 10px }
.line-duplo .group-campo, .line-duplo label { width: 100%; float: none; display: block }
.separator { background-color: #e4e4e4; height: 50px; margin-right: -30px; margin-left: -30px }
.line-accordion {padding-top: 45px; padding-bottom: 45px}
/*
* lis-from
*/
.list-form { position: relative; padding-bottom: 0px; padding-top: 0px;}
.list-form .item {display: flex; align-items:center; padding: 45px 15px; border-bottom: 1px solid #aaa;text-align: left;overflow: hidden; }
/*
* lis-radio
*/
.list-radio .radio {position: relative;display: inline-block;cursor: pointer;margin-left: auto;width: 30px;height: 30px;margin-top: 0;margin-bottom: 0;}
.list-radio .radio input:before, .list-radio .radio .radio-icon:before { border-color: #ddd;}
.list-radio .radio input, .list-radio .radio-icon {position: relative;width: 100%;height: 100%;display: block;border: 0;background: transparent;cursor: pointer;-webkit-appearance: none;outline: none;margin: 0;}
.list-radio .radio input:before, .list-radio .radio-icon:before { display: table; width: 100%; height: 100%; border-width: 2px; border-style: solid; border-radius: 30px; background: #fff; content: ' '; transition: background-color 20ms ease-in-out; }
.list-radio .radio input:checked:before, .list-radio .radio input:checked + .radio-icon:before { background: #22c064; border-color: #22c064; }
.list-radio .radio input:checked:before, .list-radio input:checked + .radio-icon:before { border-width: 2px; }
.list-radio .radio input:after, .list-radio .radio-icon:after { transition: opacity 0.05s ease-in-out; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 33%; left: 25%; display: table; width: 14px; height: 6px; border: 1px solid #fff; border-top: 0; border-right: 0; content: ' '; opacity: 0;}
.list-radio .radio input:checked:after, .list-radio input:checked + .radio-icon:after { opacity: 1;}
/*
* lis-toggle
*/
.list-toggle .toggle { position: relative; display: inline-block; pointer-events: auto; margin: 0 0 0 auto; padding: 3px 0 0;}
.list-toggle .toggle input { display: none;}
.list-toggle .toggle .track {transition-timing-function: ease-in-out;transition-duration: 0.3s;transition-property: background-color, border; display: inline-block; box-sizing: border-box; width: 51px; height: 31px; border-radius: 20px; background-color: #c9c9c9; content: ' '; cursor: pointer; pointer-events: none;}
.list-toggle .toggle input:checked + .track { border-color: #202020; background-color: #202020;}
.list-toggle .toggle .handle { transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1); transition-property: background-color, -webkit-transform; transition-property: background-color, transform; position: absolute; display: block; width: 27px; height: 27px; border-radius: 27px; background-color: #fff; top: 5px; left: 2px; box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);}
.list-toggle .toggle input:checked + .track .handle { -webkit-transform: translate3d(20px, 0, 0); transform: translate3d(20px, 0, 0); background-color: #ffffff; }
.list-toggle .toggle .handle:before { position: absolute; top: -2px; left: -21.5px; padding: 16px 34px 15px; content: " ";}
.item-toggle-line .item-toggle { padding-right: 70px; }
.list-form .item-toggle {padding-top: 37px; padding-bottom: 36px;}
.list-form .no-toggle { padding-right: 15px; padding-top: 45px; padding-bottom: 45px; }
/*
* page contact
*/
.page-content-form { padding-bottom: 135px }
.page-content-form .btn-submit .icon { font-size: 3em; }
/*
* agenda
*/
.fc-toolbar h2, .fc-button {font-size: 1.5em; font-family: 'open_sanssemibold'; text-transform: uppercase; color: #1c1c1c}
.fc-button { color: rgba(28,28,28,0.5); background: none; border:none; }
.fc-state-default.fc-button {border-radius: 0; box-shadow: none; outline: none;}
.not-title-agenda { background: none; border: none; padding: 0; margin: 0;width: 38px; height: 38px; text-align: center; margin: -35px auto 0; }
.not-title-agenda:before {content: attr(day);display: block;background: #2c82bb;border-radius: 50%;z-index: 7;width: 100%; height: 100%;line-height: 38px;font-size: 1.625em;}
.not-title-agenda .fc-content { overflow: hidden; visibility: hidden;}
.fc-widget-header .fc-row { margin-bottom: 20px }
.fc-day-grid-container .fc-week { height: auto !important; }
.badge-row {border-radius: 50%;overflow: hidden;position: relative;white-space: nowrap;text-indent: -99999px; line-height: 1; display: inline-block; }
.badge-medium {min-height: 10px;min-width:10px;margin-top: 9px;margin-right: 20px;  }
.item-row .badge-row {max-width: 10px; max-height: 10px;}
.content-img { min-height: 240px; }
.full-img { width: 100%; }
.list-event { margin-top: -30px; }
.list-event .row { margin: 0 }
.item-row { padding: 30px; border-top:1px solid #aaaaaa; }
.item-row .ion-chevron-right { margin-left: auto; }
.list-event li:first-child .item-row { border-top: 0; }
.list-event li:nth-child(3n+3) { margin-bottom: 50px; }
.list-event li:last-child { margin-bottom: 0 }
.list-event li:nth-child(3n+3) .item-row { border-bottom:1px solid #aaaaaa; }
.list-category > li:nth-child(3n+3) { margin-bottom: 0 }
.list-category > li:nth-child(3n+3) .item-row { border-bottom: none; }
.list-category > li:last-child { border-bottom:1px solid #aaaaaa; }
.desc-category .item-row { cursor: pointer }
.desc-category-item li { float: left; margin-right: 3px }
.badge-big { padding: 8px 12px; border-radius: 50px; }
.desc-category-item .badge, .badge-big { font-weight: normal; }
.list-category > li.desc-category:first-child .item-row { border-top:none; }
.event-detail .box-icon { height:70px !important;width: 70px !important;align-items: center;justify-content: center;display: flex;overflow: hidden; border-color: #dcdcdc}
.event-detail .box-icon em {display: flex;vertical-align: middle;height: 100%;width: 100%;align-items: center;justify-content: center;background-color: #dcdcdc; font-size: 3em}

/*
* class flex
*/
.flex-item-row {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column;-ms-flex-direction: column; flex-direction: column;-webkit-align-items: flex-start; -ms-flex-align: start;align-items: flex-start;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center; width: 100%; word-break: break-all;}
.line-flex {display: flex;justify-content: flex-start; flex-direction: row; width: 100%; }
.flex-collum { flex-direction: column; align-items: center;display: flex;}
.align-center { -webkit-align-items:center; -ms-flex-align: center;align-items: center; }
.align-baseline { -webkit-align-items:baseline; -ms-flex-align: baseline;align-items: baseline; }
.align-start { -webkit-align-items:flex-start; -ms-flex-align: flex-start;align-items: flex-start; }
.line-flex-col { display: inline-block }
.flex-grow-2 { flex-grow: 2; }
.flex-1 { flex: 1; }
/* 
* list message
*/
.list-message { margin-bottom: 0; position: absolute; width: 100%; left: 0; }
.list-message > li { position: relative; padding-top: 30px; padding-bottom: 30px; }
.list-message li:last-child, .list-message li:last-child .view-delete { border-bottom: none; }
.list-message .time { top: 15px; }
.mn-person-info { display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex: 1;-ms-flex: 1;flex: 1;min-width: 0; }
.mn-person-info__picture { -webkit-flex-shrink:0; -ms-flex-negative: 0;flex-shrink:0; height: 70px; width: 70px; margin-right: 15px; }
.mn-person-info__details {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column;-ms-flex-direction: column; flex-direction: column;-webkit-align-items: flex-start; -ms-flex-align: start;align-items: flex-start;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;min-height: 70px;width: 100%; word-break: break-all; }
.mn-person-info__picture .img-circle {width: 100%;height: 100%;border: 1px solid transparent;background-clip: content-box;box-sizing: border-box;}
.view-delete {position: absolute; left: -60px; width: 60px; height: calc(100% + 1px); top: 0; display: flex; align-items: center; text-align: center;background-color: #dedede;transform: translateX(-60px);  -ms-transform: translateX(-60px);  -webkit-transform: translateX(-60px);  opacity: 0;}
.ico-delete { display: block; width: 100%;}
.selected-messages {transform: translateX(-60px); -ms-transform: translateX(-60px); -webkit-transform: translateX(-60px); transition-duration: 250ms; -webkit-transition-duration: 250ms; display: block !important; opacity: 1;}
.selected-messages .view-delete { transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); opacity: 1;left: initial;right: -60px;}
.hide-trash, .hide-trash .view-delete {transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transition-duration: 250ms; -webkit-transition-duration: 250ms;opacity: 1;}
.mn-person-flex {display: block; display: -webkit-box;-webkit-line-clamp: 2;max-height: 3.7rem;-webkit-flex: 1 100%;-ms-flex: 1 100%; flex: 1 100%;overflow: hidden; text-overflow: ellipsis; word-break: keep-all; width: 100%;}
.mn-person-info__name { display: -webkit-box; -webkit-line-clamp: 1; max-height: 2.2rem; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; }

/* 
* materia
*/
.matter-detail .bg-matter { background: url('../img/detalhe-agenda.jpg') repeat-x top center; background-size: cover; }
/*.matter-detail .container-head, .matter-detail .bg-trans-black, .matter-detail .bg-trans-black { height: 400px; width: 100%; z-index: 1 }*/
.matter-detail .bar-top { padding: 0; }
/*.matter-detail .content { padding-top: 400px; }*/
.footer-header { text-align: center;padding: 15px 0;justify-content: center;align-items: flex-end;height: 100%; }
.text-matter p, .text-matter div, .text-matter div * { line-height: normal; margin-bottom: 10px; font-size: 1.576rem; font-family:'open_sansregular'; color: #262626; word-break: break-word; }

.list-shares { text-align: center; padding-top: 10px; padding-bottom: 20px; display: inline-block;}
.list-shares li { display: inline-block; margin-left: 10px; float: left; }
.list-shares li:first-child { margin-left: 0 }
.list-shares .btn-3 { min-width: 100px }

.list-network > li:last-child { border-bottom: none;}
/*
* comentario

.list-comment li:last-child { border-bottom: none; }*/
.list-comment .display-3 { width: 100%; }
.baseline { vertical-align: baseline}
/*
* conquistas
*/
.list-conquer { margin-top: 15px; display: inline-block; }
.list-conquer .box-icon { width: 100%; height: 100%; }
.list-conquer li { height: 110px; width: 110px; margin: 0 6px 20px; border-radius: 50%; display: inline-block; text-align: center; }
.list-conquer.item-conquer li { width: 160px; height: 160px; }
.grd-radiants { position: relative;border: 2px solid transparent; background: linear-gradient(#ffffff, #fcfcfc); background-clip: padding-box;}
.grd-radiants-red-blue { background: linear-gradient(#e0483e, #1352e2); }
.grd-radiants-blue-red { background: linear-gradient(#1352e2, #e0483e); }
.grd-radiants-orange-red { background: linear-gradient(#f7941d, #e0483e); }
.grd-radiants-red-orange { background: linear-gradient(#e0483e, #f7941d); }
.grd-radiants-grey-black { background: linear-gradient(#333333, #1c1c1c); }
.grd-radiants-blue-green { background: linear-gradient(#1352e2, #22c064); }
.grd-radiants-green-orange { background: linear-gradient(#22c064, #f7941d); }
.grd-radiants-orange-green { background: linear-gradient(#f7941d, #22c064); }
.grd-radiants-blue-red em {background: -webkit-linear-gradient(#1352e2, #e0483e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-orange-red em { background: -webkit-linear-gradient(#f7941d, #e0483e); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-grey-black em { background: -webkit-linear-gradient(#333333, #1c1c1c); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-blue-green em { background: -webkit-linear-gradient(#1352e2, #22c064); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-red-orange em { background: -webkit-linear-gradient(#e0483e, #f7941d); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.grd-radiants-orange-green em { background: -webkit-linear-gradient(#f7941d, #22c064); -webkit-background-clip: text;-webkit-text-fill-color: transparent;}

/*
* viewport
*/
.viewport { height: calc(100vh - 68px) }
.viewport-header-img, header.viewport-header-img { height: 45vh }
/*
* fixed top header in background
*/
.container-head { width: 100%; padding: 30px 15px; height: 100% }
.container-head .flex-item-row {justify-content: flex-end;}
.fixed-header-img .content { padding-top: 45vh; }
.fixed-header-img .bar-top { position: absolute; }
.fixed-header-img header h3 { margin-bottom: 30px; margin: 0 auto }
.content-scroll .calc-height { overflow: hidden; overflow-y: auto;}
.content-scroll .content {padding-top: 0;overflow: hidden;height: auto;min-height: initial;max-height: initial;}
/*
* status
*/
.bg-status { background: url('../img/bg-status.jpg') repeat-x top center; background-size: cover; }
.fixed-header-img .status header h3 { margin-bottom: 10px; }
/*
* fixed top header
*/
.fixed-top, header.fixed-top { z-index: 1 ; width: 100%; }
/*.menu-block .fixed-top, .menu-block header.fixed-top { position: static; }*/
.fixed-top + .content, header.fixed-top .content {padding-top: 83px;flex: 1;max-height: calc(100vh - 65px);}
.calc-height { flex: 1; }
/*.menu-block .fixed-top + .content, .menu-block header.fixed-top .content { padding-top: 5px; }*/

.chart-item {
	margin-left: -15px;
	line-height: 32px;
	height: 100%;
	width: 0;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	overflow: hidden; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
	font-size: 1.250em;
	font-family: 'open_sansregular';
	text-transform: uppercase;
	text-align: left;
	padding: 0 5px;
	margin-bottom: 10px;
	color: white;
	background: #1352e2; /* Old browsers */
	background: -moz-linear-gradient(left,  #1352e2 0%, #22c064 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1352e2 0%,#22c064 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1352e2 0%,#22c064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.chart-group { border-bottom: 1px solid #e6e6e6; height: 32px; margin-bottom: 10px; }
.chart-row, .chart-name { height: 100%; }
.chart-name { line-height: 32px; font-size: 1.500em; padding: 0; text-align: right; }
.chart-name em { margin-left: 5px; }
.chart-row { padding-right: 5px }
.chart > li:last-child { margin-bottom: 0 }

/*qrcode*/

.box-qrcode {width: 100%;height: 80%;}
.qrcode { background:#fff url('../img/bg-qrcode.jpg') no-repeat 50% -10px; background-size: cover; padding-top: 6vh; height: 100%; margin-left: -15px; margin-right: -15px }
.box-btn-bottom { height: 20%; width: 100%;}
.btn-group-bottom { height: 100%; display: table;    height: 100%;    width: 100%; }
.btn-group-bottom > button { float: none; display: table-cell; height: 100%; vertical-align: middle;}
.box-shadow { width: 100% }
.shadow-black { position: relative; height: 50px; background: url('../img/bg-shadow.png') no-repeat 0 0; height: 50px; margin-top: 20px; display: table-cell; vertical-align: middle; width: 100%; }

/*
* home
*/
.hr-serp { height: 20px; display: block; }
.btn-is-link { padding: 8px; display: inline-block; }
.btn-is-link-g { min-width: calc((100% - 12px) / 3 ); padding-right: 4px; padding-left: 4px; text-align: center; } 
.list-event-two .item-event-two {float: left; width: 160px; padding-right: 5px; padding-left: 10px;}
.list-event-two .item-event-two:last-child { margin-right: 0; }
.content-event-two { padding: 5px 8px; min-height: 196px; max-height: 196px; overflow: hidden; display: flex; flex-direction: column; }
.content-event-two .content-event-titulo {  white-space: pre-wrap; word-break: break-word; flex: 1; -webkit-line-clamp: 3; line-height: 16px;position: relative; }
.content-event-type { display: block;-webkit-line-clamp: 1;max-height:1.39em;-webkit-flex: 1 100%;-ms-flex: 1 100%;flex: 1 100%;overflow: hidden;text-overflow: ellipsis;word-break: keep-all; white-space: nowrap;}
.event-two-img { height: 80px; overflow: hidden;min-height: 80px;max-height: 80px; }
.event-two-img img { width: 100%; }
.footer-event-two {min-height: 48px;display: flex;flex-direction: column;justify-content: flex-end;}
.list-event-two .list-evaluation { display: table }
.no-timeline { margin: 15px 0 -15px;}

/*
* .slick
*/
.slick { height: 80px; max-height: 80px; overflow: hidden; }
.slick-slider, .slick-slider .slick-list { max-height:inherit; height: auto; }
.slick-dots { text-align: center; margin-top: 20px; }
.slick-dots li { display: inline-block; margin: 0 8px; width:20px; height: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }
.slick-dots li:last-child { margin-right: 0; }
.slick-dots li button {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border: none; background-color: #dddddd; height: 20px; width: 20px; text-align: center; outline: none; text-indent: -9999px; position: relative; }
.slick-dots .slick-active button { background-color: #1352e2; }
/*
* list user search image
*/
.list-user li { margin-right: 3px; display: inline-block; }
.list-user li:last-child { margin-right: 0; }
/*
* list day event
*/
.list-radius { text-align: center; margin: 15px 0; }
.list-radius li { display: inline-block; margin-right:2px }
.list-radius li:last-child { margin-right: 0; }
.list-radius .box-icon { border: none; background-color: #bdc3c7; }
.list-radius .box-icon span { line-height: 24px; }
.list-radius .active { background-color: #00c0ff }

/*
* upload picture
*/
.img-perfil { display: block; margin: 0 auto; border-radius: 80%; width: 110px; height: 110px; }
.ghost-person { background-color: #dcdcdc; background-image: url('../img/avatar.svg')}
/*
* new style neves
*/
.textarea-clear { border: none; overflow: auto; outline: none; resize: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding: 0; outline: none; cursor: text; width: 100%;word-wrap: break-word;word-break: break-all;position: relative;word-break: break-word;}
pre.reset {display: block; white-space: inherit;font-family: 'open_sansregular'; padding: initial; line-height: initial; color: initial; background-color: initial; border: initial; overflow: initial; word-break: initial; word-wrap: initial;border-radius: initial;}

.close-top { top: -11px; right: -11px; line-height: 12px;  }

/*
* survery
*/
.content-survey { display: flex; flex-direction: column; flex: 1; }
.content-survey .content { padding: 0; display: flex; flex-direction: column; }
.content-survey .campo4 { background-color: #fff; padding-left: 30px; padding-right: 30px; border-top: 1px solid #aaa; }

@media screen and (min-width:1024px) {
	/*
	* menu
	*/
	.menu-block .btn-header { left: initial; top: 32px;}
	/*card virtual*/
	.card-virtual ul, .card-row form, .card-row h3 { padding-left: 15px; padding-right: 15px }

	/*list quick access*/
	.list-quick-access li { margin-bottom: 20px; }
	.box-icon { height: 140px; width: 140px; }
	.btn-submit .icon { font-size: 4em; }
	/*list conquer*/
	.list-conquer li { height: 140px; width: 140px; }
	.list-conquer.item-conquer li { width: 210px; height: 210px; }
    /*
    *evaluation
    */
    .evaluation .list-evaluation { width: 100%; margin: 0 }
    .list-evaluation { width: 20%; margin-top: -6px;}
    .list-event-two .list-evaluation { width: auto; margin-top: 0; }
    .btn-send { min-width: 80px }
	
	.page-content-form { padding-bottom: 92px }
	.has-img .badge-position { min-width: 15px; right: 54px; top: 14px; }
	.mn-person-info__picture .badge-position { min-width: 15px; right: 4px; top: 6px;}
	.matter-detail .btn-footer { padding: 20px 0 }
	.viewport { height: calc(100vh - 74px) }

	.fixed-header-img header h3 { margin-bottom: 0; }
	.fixed-header-img .bg-trans-black .btn-header + div { margin-bottom: 0; }

	.qrcode {background-size: contain;}
	.qrcode h3 { font-size: 1.250em }
	/*
	* list user
	*/
	.list-user li { width: 10%; }

	.list-radius .box-icon span { line-height: 34px; }

	.has-nav-bar-footer { padding-bottom: 73px; }

	.mn-person-info__picture { height: 80px; width: 80px; }
	.login .calc-height { max-height: calc(100vh - 83px); }
}
@media screen and (min-width:768px) {
	body { font-size: 95% }
}
@media screen and (min-width:600px) {
	.mn-person-info__name {max-height: 3.5rem;}
	.view-chat .list-comment .row-alt { margin-left: -15px; margin-right: -15px;}
	/*
	* header fixed
	*/
	.fixed-top, header.fixed-top { min-height: 73px; }
	.fixed-top + .content, header.fixed-top .content { padding-top: 103px; }
	.fixed-top + .content, .calc-height {max-height: calc(100vh - 66px); }
	.btn-right em { font-size: 2.2em }
}
@media screen and (min-width:768px) and (max-width:1023px) { 
	/*
	* menu
	*/
	.menu-block .btn-header { left: initial; top: 32px;}
	.title-system { margin-bottom: 10% }
	/*card virtual*/
	.card-virtual ul, .card-row form, .card-row h3 { padding-left: 15px; padding-right: 15px }
	/*list quick access*/
	.box-icon { width: 120px; height: 120px; }
	.list-quick-access li { width: 160px; height: 160px; margin-bottom: 20px }
	/*list conquer*/
	.list-conquer li { height: 120px; width: 120px; }
	.list-conquer.item-conquer li { width: 210px; height: 210px; }

	.has-img {width: 100px;}
	.description { width: calc(100% - 100px);}
	.has-img .badge-position { min-width: 15px; right: 24px;top: 4px; }
	.mn-person-info__picture .badge-position { min-width: 15px; right: 4px; top: 6px;}
	/*
	*edit user
	*/
	.select-picture > a { line-height:100px;}
	.separator { height: 20px; }
	.list-event li:nth-child(3n+3) { margin-bottom: 20px; }
	.list-event li:last-child, .list-category li:nth-child(3n+3) { margin-bottom: 0 }
    /*
    *evaluation
    */
    .evaluation .list-evaluation { width: 100%; margin: 0 }
    .list-evaluation { width: 25%; margin-top: -6px;}
    .list-event-two .list-evaluation { width: auto; margin-top: 0; }
    .btn-send { min-width: 80px }
    .edit-btn-box { width: 18%; top: 5px; }
    .chat-content-edit { padding-right: 18% }

    .page-content-form { padding-bottom: 92px }
	.list-event { margin-top: -30px; margin-top: -30px }
	
	/*materia*/
	.matter-detail .btn-footer { padding: 20px 0 }
	.viewport { height: calc(100vh - 74px) }

	.qrcode {background-size: contain;}
	.qrcode h3 { font-size: 1.250em }

	.list-radius .box-icon span { line-height: 34px; }

	.has-nav-bar-footer { padding-bottom: 73px; }
	.mn-person-info__picture { height: 80px; width: 80px; }
	.login .calc-height { max-height: calc(100vh - 83px); }
}
@media screen and (max-width: 767px){
	body { font-size: 95% }
	.logo { max-width: 70%; }
	.login .help { margin-top: -41px; }

	.has-img {width: 70px;}
	/*.description { width: calc(100% - 70px);}*/
	/*
	*edit user
	*/
	.select-picture > a { line-height:50px;}
	.separator { height: 20px; }
	.list-event li:nth-child(3n+3) { margin-bottom: 20px; }
	.list-event li:last-child, .list-category li:nth-child(3n+3) { margin-bottom: 0 }
    
    .evaluation .list-evaluation { margin: 0 }
    .list-evaluation { margin-top: -3px; }
    .list-event-two .list-evaluation { margin-top: 0 }

    .not-title-agenda { width: 28px; height: 28px; margin-top: -25px }
    .not-title-agenda:before { line-height: 28px }

    .item-row { padding: 20px 15px }
    .item-row .ion-chevron-right { margin-left: 4px; }
	.btn-bottom-text { padding-bottom: 60px }
	.menu-block .btn-header { left: initial; top: 24px;}

	/*
	* cartao visita
	*/
	.list-user li { width: 15%; }
	
	.profile-contato .bar-top { height: 20vh; }
}
@media screen and (max-width: 580px){ 
	body { font-size: 90% }
	.img-qr-code { max-width: 60% }
	.list-profile img { max-width: 80% }
	.profile-user .bar-top { min-height: 220px; }
	.participant .blur-bgimage { min-height: 55vh; }
	.row-alt, .list-message > li { padding-top: 15px; padding-bottom: 15px }
	.row-alt.pding-35 { padding-top: 25px; padding-bottom: 25px }
	.line-accordion { padding-top: 25px; padding-bottom: 25px }
	.list-form { padding-top: 0; padding-bottom: 0; }
	.list-form .item {padding-top: 23px; padding-bottom:23px;}
	.list-form .item-toggle {padding-top: 14px; padding-bottom: 14px;}
	.list-form .no-toggle  { padding-top: 23px; padding-bottom: 23px; }
    .content-head, .container-head { padding:25px 15px 10px;}
    .list-menu-head li { min-width: 30vw }
    .list-menu-head-round li { min-width: calc(30vw - 2px) }
    .list-menu-head li a { padding: 10px 20px }
	.profile-h .content-head h3 { padding-bottom: 20px; }
    .content-head h3 { margin-bottom: 20px }
	.profile-contato .content-head h3, .profile-user .content-head h3 { margin-bottom: 0}
	.fixed-header-img header h3 { margin-bottom: 30px }
	.fixed-header-img .status h3 { margin-bottom: 0; }
    .list-menu-head .active a, .list-menu-head li a:hover { border-radius: 20px }
    .list-menu-head-round .active a, .list-menu-head-round .active a:hover { border-radius: 0; }
	.list-event { margin-top: -15px; }
    .badge-medium { min-height: 7px; min-width: 7px; margin-top: 6px;}
	.item-row .badge-row {max-height: 7px; max-width: 7px;}
    .has-img .badge-position { min-width: 11px; right: 20px;top: 4px;}
	.mn-person-info__picture .badge-position { min-width: 11px; right: 4px; top: 6px;}
    .btn-footer { padding:20px 0 21px }
	.list-shares .btn-3 { min-width: 80px; padding:12px  }
	.content-description { display: inline-block; }
	.menu-block .btn-header { left: initial; top: 24px; }

	/*
	* menu
	*/
	.menu-saas li:not(.has-user-block) a { padding-bottom: 15px; padding-top: 15px; padding-left: 26px; }
	.user-block { padding-bottom: 20px; padding-left: 26px; }
	.menu-saas .ion-android-settings {margin-left: 3px;}
	.user-block > img { height: 55px; width: 55px; }
}

@media screen and (max-width:480px){
	.title-system { margin-bottom: 10.5%; }
	.logo { max-width: 50%; }
	/*
	* login
	*/
	.login .help { margin-top: -31px; }

	/*form*/
	.floating-label input, .campo, .campo3 { height: 40px;}
	.box-search .campo { padding-left: 30px; } 
	.bar-search .campo { padding-right: 30px; padding-left: 15px; }

	/*
	* btn submit
	*/
	.btn-icon {margin-top: -20px; width: 30px;}
	
	/*title-modal*/
	.modal-title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0 10px; }

	/*container*/
	.content, header.bar-top, .list-timeline { padding-left: 15px; padding-right: 15px; }
	.row-alt, .separator, .btn-list { margin-left: -15px; margin-right: -15px }
	.list-event { margin-top: -15px; }
	.qrcode { margin: 0; }
	.content-survey .campo4 { padding-left: 15px; padding-right: 15px;}

	/*
	* quick access
	*/
	.list-quick-access li { width: 130px; height: 160px; margin-bottom: 5px }
	.box-icon { width: 120px; height: 120px; }
	/*list conquer*/
	.list-conquer li { height: 120px; width: 120px; }

	/*
	* list result
	*/
	.item-more .item-result { padding-top: 26px; padding-bottom: 26px }
	.list-result p { margin-top: 15px; line-height: 26px; }
	.list-result li { min-height: 70px }
	.list-result-2 {padding: 25px 0}

    /*
    * list lecturer
    */
    .list-evaluation em { line-height: 20px }

    .btn-send { min-width: 30px; border-radius: 4px }

	.list-shares .btn-3 { min-width: 50px }

	/*.bar-search .box-search { margin-left: 20px; }*/
	.btn-is-link + .btn-is-link { margin-top: 2px }
	.has-like-commet .btn-is-link { margin-top: 0;}
	.list-user li { width: 20%; }

	.slick-dots li { width:16px; height: 16px;-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
	.slick-dots li button { height: 16px; width: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
	.slick-dots { margin-top: 15px; }
}
@media screen and (max-width:425px){
	
	/*
	* btn submit
	*/
	.login .form-group { margin-bottom: 5%; }

	/*
	*list quick access
	*/
	.list-quick-access li { height: 150px; width: 128px; margin-bottom: 0;}
	.box-icon { width: 110px; height: 110px; }
	.list-radius .box-icon { width: 90px; height: 90px; }
	/*list conquer*/
	.list-conquer li { height: 110px; width: 110px; }
	.list-radius .box-icon span { line-height: 20px; font-size: 2.2em }
}
@media screen and (max-width:411px){
	/*
	*list quick access
	*/
	.list-quick-access li { height: 135px; width: 127px}
	.box-icon { width: 90px; height: 90px; }

	.list-radius .box-icon { width: 75px; height: 75px; }

	/*list conquer*/
	.list-conquer li { height: 95px; width: 95px; }
	
	.participant .blur-bgimage { min-height: 50vh; }

	.font-110 {font-size: 5.875em; }
}
@media screen and (max-width:380px){
	.title-system { margin-bottom: 5%; }
	/*
	*list quick access
	*/
	.list-quick-access li {height: 130px; width: 110px}

	.item-row { padding: 15px }
	.list-radius .box-icon span { font-size: 2.4em }
	.list-radius .box-icon span + span {  font-size: 1.8em }

	.btn-is-link-g { min-width: calc((100% - 20px) / 3 ); }

	.list-form .item, .row-alt.pding-35 {padding-top: 20px; padding-bottom:20px;}
	.list-form .item-toggle {padding-top: 11px; padding-bottom: 11px;}
	.list-form .no-toggle { padding-top: 20px; padding-bottom: 20px; }

	.font-110 {font-size: 5.275em; }
}
@media screen and (max-width: 360px){
	.btn-is-link-g { min-width: calc((100% - 23px) / 3 ); }
	.profile > img { height:70px; width: 70px; }
	.participant .profile > img  { width: 85px; height: 85px; }
	/* .btn-group.display-8 { display: block; } */
	/* .btn-group .btn-2 { display: block; width: 100%; padding: 8px 15px; margin:0 0 2px 0; } */
	/* .btn-group .btn-2:last-child { margin:0; } */
}
@media screen and (max-width: 340px){

	.font-110 {font-size: 4.625em;}
}
@media screen and (max-width:320px){
	.fixed-top + .content, header.fixed-top .content{height: calc(100vh - 40px);max-height: calc(100vh - 40px);}
	/*list quick access*/
	.list-quick-access li { height: 130px; width: 90px}
	.box-icon { width: 85px; height: 85px; }
	/*list conquer*/
	.list-conquer li { height: 82px; width: 82px; }

	.item-more .item-result { padding-top: 20px; padding-bottom: 20px }

	/*menu*/

	.evaluation .list-evaluation { width: 100% }
    .list-evaluation { width: 40% }
    .list-event-two .list-evaluation { width: auto; }

    .title-list { max-width: 200px } 
    .list-menu-head li a { padding: 10px 14px }
    .list-menu-head li {min-width: 28vw;}

	.has-like-commet { display: block; }
	.has-like-commet .btn-is-link { margin-top: 2px; margin-right: 0 !important; }
    .btn-is-link { width: 100%; }
    .btn-is-link-g { text-align: left; }
	.matter-detail .has-like-commet { display: flex; }
	.matter-detail .btn-is-link { margin-top: 0; }
	.matter-detail .btn-is-link:first-child { margin-right: 2px !important; }

	.list-radius .box-icon { width: 65px; height: 65px; }

	.list-category-desc li { display: block; margin-bottom: 2px; margin-right: 0 }
	.list-category-desc li:last-child {margin-bottom: 0}
	.list-category-desc + .display-4, .list-category-desc + .display-4 + .display-4 { vertical-align: top; padding-top: 4px; }

	.nav-bar-footer-container li a {  display: table;  width: 100%; }
	.nav-bar-footer-container li span { display: none; }
	.nav-bar-footer-container li em { margin-bottom: 0; display: table-cell; vertical-align: middle;}

	.fixed-header-img .calc-height { max-height: calc(100vh - 42px); }

	.has-nav-bar-footer { padding-bottom: 43px; }
	.campo-text-area { min-height: 16vh; }
	.has-nav-bar-footer .box-btn-submit { margin-bottom: 42px; }
	.content-scroll .calc-height { height: calc(100vh - 42px); max-height: calc(100vh - 42px);}
	.login .calc-height { max-height: calc(100vh - 67px); }
	.list-form .item, .row-alt.pding-35 {padding-top: 14px; padding-bottom:14px;}
	.list-form .item-toggle  { padding-top: 11px; padding-bottom: 11px; }
	.list-form .no-toggle  { padding-top: 20px; padding-bottom: 20px; }
}