<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

	<head>
		<title>Registrar</title>

		<style type="text/css">
			.has-feedback label ~ .form-control-feedback {
			    top: 28px;
			}
			.form-horizontal .has-feedback .form-control-feedback {
	 		   right: 5px;
			}
		</style>

	</head>

	<body>

		<section layout:fragment="custom-content">

   			<form id="userForm" th:action="@{/user/register}" th:object="${user}" action="#" method="post" class="form-horizontal">

				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2 text-center">
						<h1>Cadastrar</h1>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2">
						<th:block th:if="${message != null}">
		        			<!-- /* The message code is returned from the @Controller */ -->
		        			<div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		    			</th:block>
					</div>
					<div class="input-group col-sm-offset-5 col-xs-2">
						<th:block th:if="${param.error}">
		        			<div class="alert alert-dismissable alert-danger">
							    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							    <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">&nbsp;</span>
							</div>
		    			</th:block>
					</div>
				</div>

       			<!-- <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div> -->

       			<input type="hidden" th:field="*{id}"/>

				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2">
						<div th:classappend="${#fields.hasErrors('email')} ? 'has-error has-feedback'">
							<label class="control-label" for="inputEmail">Email</label>
							<input id="inputEmail"  type="email" class="form-control" th:field="*{email}" aria-describedby="inputEmailError" />
							<span  th:if="${#fields.hasErrors('email')}"class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
							<small id="inputEmailError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-muted help-block"></small>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2">
						<div th:classappend="${#fields.hasErrors('password')} ? 'has-error has-feedback'">
							<label class="control-label" for="inputPassword">Senha</label>
							<input id="inputPassword" type="password" class="form-control" th:field="*{password}" aria-describedby="inputPasswordError" />
							<span  th:if="${#fields.hasErrors('password')}"class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
							<small id="inputPasswordError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-muted help-block"></small>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2">
						<div th:classappend="${#fields.hasErrors('passwordConfirmation')} ? 'has-error has-feedback'">
							<label class="control-label" for="inputPasswordConfirmation">Confirmação da Senha</label>
							<input id="inputPasswordConfirmation" type="password" class="form-control" th:field="*{passwordConfirmation}" aria-describedby="inputPasswordConfirmationError" />
							<span  th:if="${#fields.hasErrors('passwordConfirmation')}"class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
							<small id="inputPasswordConfirmationError" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="form-text text-muted help-block"></small>
						</div>
					</div>
				</div>


				<div class="form-group">
					<div class="input-group col-sm-offset-5 col-xs-2">
						<div class="row">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip">Registrar</button>
							</div>
							<div class="col-md-6">
								<a class="btn btn-success btn-block" th:href="@{/login}" data-toggle="tooltip">Cancelar</a>
							</div>
						</div>
					</div>
				</div>

		    </form>

		</section>

	</body>

</html>