<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <h1>Reset Password</h1>
    <br/>

    <form th:action="@{/user/savePassword}" action="#" method="post" class="form-horizontal">
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Message</div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="password">Password</label>
            <div class="col-xs-3">
                <input id="password" type="password" name="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="passwordConfirmation">Password Confirmation</label>
            <div class="col-xs-10">
                <input id="passwordConfirmation" type="password" name="passwordConfirmation"/>
            </div>
        </div>
        <div class="form-actions col-xs-offset-2 col-xs-10">
            <input type="submit" class="btn btn-primary" value="Reset Password"/>
        </div>
    </form>
    <br/>
    <a class="btn btn-primary" th:href="@{/login}">Sign In</a>
    <a class="btn btn-default" th:href="@{/signup}">Sign Up</a>
</div>
</body>
</html>