<div class="container content-scroll overflow bg-grey-sure">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top brd-top-grey-1 bg-white relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<h2 class="title-2">Trocar Senha</h2>
		</header>
		<!-- header -->
		
		<section class="content clearfix">
			<form name="formChangePassword" id="formChangePassword" ng-submit="vm.submitChangePassword(formChangePassword, vm.login)" novalidate>
				<div class="row brd-top-sure-2 brd-bottom-sure-1 edit-user edit-right row-alt">
					<div>
						<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="passwordOld">senha atual</label>
						<div class="group-campo">
							<input type="password" class="campo" name="passwordOld" ng-model="vm.login.passwordOld" id="passwordOld" required />
						</div>
					</div>
					<div class="has-error" ng-show="formChangePassword.passwordOld.$dirty && formChangePassword.passwordOld.$invalid || vm.fieldsMSG">
						<span class="text-inline" ng-show="formChangePassword.passwordOld.$error.required">Campo é obrigatório</span>
					</div>
				</div>
				<!-- end password atual -->
				<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
					<div>
						<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="passwordNew">Nova senha</label>
						<div class="group-campo">
							<input type="password" class="campo" name="passwordNew" id="passwordNew" ng-model="vm.login.passwordNew" required />
						</div>
					</div>
					<div class="has-error" ng-show="formChangePassword.passwordNew.$dirty && formChangePassword.passwordNew.$invalid || vm.fieldsMSG">
						<span class="text-inline" ng-show="formChangePassword.passwordNew.$error.required">Campo é obrigatório</span>
					</div>
				</div>
				<!-- end password new -->
				<div class="row brd-bottom-sure-1 edit-user edit-right row-alt mrg-bottom-25">
					<div>
						<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="verify">Confirme Nova senha</label>
						<div class="group-campo">
							<input type="password" class="campo" name="verify" ng-model="vm.login.verify" id="verify" required compare-to="vm.login.passwordNew" />
						</div>
					</div>
					<div class="has-error" ng-show="formChangePassword.verify.$dirty && formChangePassword.verify.$invalid || vm.fieldsMSG">
						<span class="text-inline" ng-show="formChangePassword.verify.$error.required">Campo é obrigatório</span>
						<span class="text-inline" ng-show="formChangePassword.verify.$error.compareTo">As senhas não correspondem</span>
					</div>
				</div>
				<!-- end password confimed -->
				<div class="col-xs-12 col-sm-12 text-center">
					<button ng-disabled="vm.submitedButton" class="font-opensemibold font-24 font-white text-uppercase mrg-bottom-10 bg-green-sure-2 btn-radius">Atualizar Senha</button>
				</div>
			</form>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
	
</div>
