<div class="container">
	<header class="bar-top brd-top-grey-1" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">Quick Access</h2>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<form name="form-search" id="form-search" ng-submit="vm.submitSearch()" novalidate>
			<div class="form-group btn-icon-group box-search">
				<button type="submit" name="btn-serach" class="btn-icon">
					<em class="fa fa-search"></em>
				</button>
				<input type="text" name="search" id="search" ng-model="vm.search" placeholder="Digite o que você está procurando..." class="campo" />
			</div>
			
			<div class="text-center">
				<ul class="list-quick-access clearfix list">
					<li ng-repeat="list in vm.listQuickAcess" ng-class="{'active': {{list.active}} }" class="circle-icon">
						<a href="{{list.link}}" class="box-icon">
							<em class="{{list.icon}} font-grey-dark-2 font-60"></em>
						</a>
						<h4 ng-bind="list.title" class="text-uppercase"></h4>
					</li>
				</ul>
			</div>
		</form>
		<!-- end form search -->
	</section>
	<!-- content -->
</div>