<div class="container overflow">

	<form name="editUser" id="editUser" ng-submit="vm.submitForm(vm.profile)" novalidate>
		<header class="bar-top brd-top-grey-1 relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<!-- end menu nav -->
			<h2 class="title-2">Editar Perfil</h2>
			<button type="submit" name="btn-login" class="btn-rest btn-right btn-right-text">
				<span class="font-24 text-uppercase font-openregular">salvar</span>
			</button>
		</header>
		<!-- header -->
		
		<section class="content clearfix">
			<div class="row row-alt brd-top-sure-3 brd-bottom-sure-1 bg-grey-sure-2 select-picture text-center">
				<div ng-click="vm.getPicture()">
					<img ng-attr-src="{{vm.pictureUrl ? vm.baseUrl+vm.pictureUrl : vm.avatar}}" ng-class="{'ghost-person': !vm.pictureUrl}" class="img-perfil" id="img-perfil" />
					<p class="font-24 font-opensemibold text-uppercase col-xs-12 col-sm-12 font-grey-sure-3">selecione a sua foto</p>
				</div>
			</div>

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="firstName">Primeiro nome</label>
					<div class="group-campo">
						<input type="text" class="campo" name="firstName" id="firstName" ng-change="vm.noEmoji(editUser.firstName, 'firstName')" ng-model="vm.profile.firstName" autocomplete="off" />
					</div>
				</div>
			</div>
			<!-- end primeiro nome -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="lastName">Sobrenome</label>
					<div class="group-campo">
						<input type="text" class="campo" name="lastName" id="lastName" ng-change="vm.noEmoji(editUser.lastName, 'lastName')" ng-model="vm.profile.lastName" autocomplete="off" />
					</div>
				</div>
			</div>
			<!-- end sobrenome -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="jobRole">Cargo</label>
					<div class="group-campo">
						<input type="text" class="campo" name="jobRole" id="jobRole" ng-change="vm.noEmoji(editUser.jobRole, 'jobRole')" ng-model="vm.profile.jobRole" autocomplete="off" />
					</div>
				</div>
			</div>
			<!-- end cargo -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="company">Empresa</label>
					<div class="group-campo">
						<input type="text" class="campo" name="company" id="company" ng-change="vm.noEmoji(editUser.company, 'company')" ng-model="vm.profile.company" autocomplete="off" />
					</div>
				</div>
			</div>
			<!-- end empresa -->

			<div class="list-toggle row-alt row list-form">
				<div class="item item-toggle item-toggle-line bg-grey-sure">
					<div>
						<span class="display-2 font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3 mrg-bottom-5">Exibir Cargo & Empresa</span>
						<p class="font-24 font-openregular font-grey-dark-3">Permitir que outros usuários vejam seu cargo na empresa em que trabalha?</p>
					</div>
					<label class="toggle">
						<input type="checkbox" name="showJobRole" id="showJobRole" ng-model="vm.profile.showJobRole" ng-checked="vm.profile.showJobRole" />
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</div>
			</div>
			<!--- end show role -->

			<div class="row brd-bottom-sure-1 edit-user line-duplo text-value row-alt">
				<div class="display-2">
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="minibio">bREVE DESCRIÇÃO</label>
					<div class="group-campo">
						<textarea cols="2" class="campo" ng-change="vm.noEmoji(editUser.minibio, 'minibio')" id="minibio" name="minibio" ng-model="vm.profile.minibio"></textarea>
					</div>
				</div>
			</div>

			<hr class="separator row brd-bottom-sure-1">

			<div class="row-alt row brd-bottom-sure-1 bg-grey-sure">
				<div class="col-xs-12 col-sm-12">
					<h3 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3 mrg-bottom-5">Perfil de redes sociais</h3>
					<p class="font-24 font-openregular font-grey-dark-3">Você pode preencher o endereço das suas redes sociais abaixo, elas ficarão disponível em seu perfil caso algum perticipante queira acessá-las.</p>
				</div>
			</div>
			<!--- end desc perfil social -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="twitterUrl">
						<em class="fa fa-twitter font-blue-sure font-18 mrg-right-10"></em> <span class=" font-grey-dark-3 font-opensemibold text-uppercase font-grey-dark-3">twitter</span>
					</label>
					<div class="group-campo">
						<input type="text" class="campo" placeholder="@events_saas" name="twitterUrl" id="twitterUrl" ng-change="vm.cleanUrlSocial(vm.profile.twitterUrl, 'twitterUrl')" ng-model="vm.profile.twitterUrl" />
					</div>
				</div>
			</div>
			<!--- end social twintter -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="facebookUrl">
						<em class="fa fa-facebook font-blue-dark-2 font-18 mrg-right-10"></em> <span class=" font-grey-dark-3 font-opensemibold text-uppercase font-grey-dark-3">facebook</span>
					</label>
					<div class="group-campo">
						<input type="text" class="campo" placeholder="events_saas" name="facebookUrl" id="facebookUrl" ng-change="vm.cleanUrlSocial(vm.profile.facebookUrl, 'facebookUrl')" ng-model="vm.profile.facebookUrl" />
					</div>
				</div>
			</div>
			<!--- end social facebook -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="linkedInUrl">
						<em class="fa fa-linkedin font-blue-sure-2 font-18 mrg-right-10"></em> <span class=" font-grey-dark-3 font-opensemibold text-uppercase font-grey-dark-3">linkedin</span>
					</label>
					<div class="group-campo">
						<input type="text" class="campo" placeholder="events_saas" name="linkedInUrl" id="linkedInUrl" ng-change="vm.cleanUrlSocial(vm.profile.linkedInUrl, 'linkedInUrl')" ng-model="vm.profile.linkedInUrl" />
					</div>
				</div>
			</div>
			<!--- end social linkedIn -->

			<div class="row brd-bottom-sure-1 edit-user edit-right row-alt">
				<div>
					<label class="text-uppercase font-24 font-grey-dark-3 font-opensemibold" for="instagramUrl">
						<em class="ion-social-instagram-outline font-brown-dark font-18 mrg-right-10"></em> <span class=" font-grey-dark-3 font-opensemibold text-uppercase font-grey-dark-3">instagram</span>
					</label>
					<div class="group-campo">
						<input type="text" class="campo" id="instagramUrl" name="instagramUrl" ng-change="vm.cleanUrlSocial(vm.profile.instagramUrl, 'instagramUrl')" placeholder="@events_saas" ng-model="vm.profile.instagramUrl" />
					</div>
				</div>
			</div>
			<!--- end social instagram -->

			<hr class="separator row brd-bottom-sure-1">

			<div class="row-alt row brd-bottom-sure-1 bg-grey-sure">
				<div class="col-xs-12 col-sm-12">
					<h3 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase font-grey-dark-3 mrg-bottom-5">Conecte-se e compartilhe conteúdo</h3>
					<p class="font-24 font-openregular font-grey-dark-3">Você pode vincular as suas redes sociais para ter a possibilidade de compartilhar artigos e matérias do evento.</p>
				</div>
			</div>
			<!--- end desc social config -->

			<ul class="list-toggle row-alt row list-form">
				<li ng-class="{'no-toggle': !vm.setSocialConfLK}" class="item item-toggle bg-grey-sure">
					<span>
						<em class="fa fa-linkedin font-blue-sure-2 font-28 mrg-right-10"></em><span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold">linkedin</span>
					</span>
					<a href="javascript:;" ng-click="vm.configLinkedIn()" ng-if="!vm.setSocialConfLK" class="text-uppercase text-nowrap font-grey-dark-3 font-24 font-opensemibold text-right mrg-left-auto">connect <em class="ion-chevron-right mrg-left-5"></em></a>
					<label class="toggle mrg-left-auto" ng-if="vm.setSocialConfLK">
						<input type="checkbox" checked="checked" ng-model="vm.profile.hasLinkedSocialProfileEnable" ng-checked="vm.profile.hasLinkedSocialProfileEnable" />
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<!-- end conf-social-linkedin -->

				<li ng-class="{'no-toggle': !vm.setSocialConfFB}" class="item item-toggle bg-grey-sure">
					<span>
						<em class="fa fa-facebook font-blue-dark-2 font-28 mrg-right-10"></em><span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold">facebook</span>
					</span>
					<a href="javascript:;" ng-if="!vm.setSocialConfFB" ng-click="vm.configFacebook()" class="text-uppercase text-nowrap font-grey-dark-3 font-24 font-opensemibold text-right mrg-left-auto">connect <em class="ion-chevron-right mrg-left-5"></em></a>
					<label class="toggle mrg-left-auto" ng-if="vm.setSocialConfFB">
						<input type="checkbox" checked="checked" ng-model="vm.profile.hasFacebookSocialProfileEnable" ng-checked="vm.profile.hasFacebookSocialProfileEnable" />
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<!-- end conf-social-facebook -->
			</ul>
			<!-- end social config -->
		</section>
		<!-- content -->		
	</form>
</div>