<div class="container profile-user content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->
	
	<div class="calc-height relative">
		<header class="bar-top bg-user blur-bgimage" ng-attr-style="{{vm.profile.bg ? 'background-image: url('+vm.profile.bg+'); background-size: cover' : ''}}">
			<div class="content-head">
				<div class="head-user text-right line-flex">
					<a href="javascript:;" data-activates="slide-out" class="btn-header button-collapse show-on-large absolute">
						<em class="fa fa-navicon font-white"></em>
					</a>
					<!--icone menu -->
					<div class="profile text-center">
						<img ng-attr-src="{{vm.profile.pictureUrl ? vm.baseUrl+vm.profile.pictureUrl : 'img/avatar-default.jpg'}}" alt="" class="img-circle border-white mrg-bottom-10" />
						<h3 class="font-white font-30 font-openregular" ng-bind="vm.profile.firstName+' '+vm.profile.lastName"></h3>
						<p class="font-white font-22 font-openregular ph" ng-if="vm.profile.jobRole && vm.profile.showJobRole" ng-bind="vm.profile.jobRole +' @ '+ vm.profile.company"></p>
						<p class="font-white-trans-2 font-22 font-openregular ph" ng-if="vm.profile.minibio" ng-bind="vm.profile.minibio"></p>
					</div>
					<a href="#{{vm.linkEdit}}" class="text-uppercase font-white btn-text font-24">editar</a>
				</div>
				<!-- head-user -->
			</div>
		</header>
		<!-- header -->

		<section class="content relative">
			<div class="row brd-bottom-sure-1 row-alt" ng-click="vm.openLinkChangePassword()">
				<span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold col-xs-6 col-sm-6">Trocar Senha</span> 
				<a href="#/change-password" class="col-xs-6 col-sm-6 text-uppercase font-grey-dark-trans font-24 font-opensemibold text-right">
					<em class="ion-chevron-right mrg-left-5"></em>
				</a>
			</div>
			<!--trocar senha-->

			<div class="row brd-bottom-sure-1 row-alt text-center">
				<div class="col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
					<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">meu qr code</h4>
					<div class="img-qr-code" id="img-qr-code">
					</div>
					<!--<img src="img/img-qrcode.jpg" alt="" class="img-qr-code" />-->
					<p class="font-28 font-openregular font-grey-dark-4 ph">
						Utilize o QR Code acima para efetuar o seu credenciamento no evento e também nas palestras de seu interesse.
					</p>
				</div>
			</div>
			<!-- end QR code -->

			<div class="row brd-bottom-sure-1 row-alt">
				<span class="text-uppercase font-24 font-grey-dark-3 font-opensemibold col-xs-3 col-sm-3">
					e-mail
				</span>
				<span class="font-grey-dark-trans font-24 font-opensemibold col-xs-9 col-sm-9 text-ellipsis ng-binding ng-scope">
					{{vm.profile.user.email}}
				</span>
			</div>
			<!-- end row email -->
			
			<div class="row row-alt text-center" ng-if="vm.viewSocial">
				<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">minhas redes sociais</h4>
				<ul class="list-center list-profile">
					<li ng-repeat="list in vm.hasSocial" class="font-40">
						<a href="javascript:;" ng-click="vm.openLink(list.url)">
							<span class="fa-stack fa-lg img-circle {{list.bg}}"> 
								<em class="fa fa-circle fa-stack-2x"></em> <em class="fa {{list.ico}} fa-stack-1x font-11 fa-inverse"></em> 
							</span> 
						</a>
					</li>
				</ul>
			</div>
			<!-- end minhas redes sociais -->

		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>
