<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

	<head>

	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Events SaaS</title>

	<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
			<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->

	<link href="../../../css/layout.css" rel="stylesheet" media="screen" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

	</head>

	<body>

		<div class="container-fluid">

			<header class="row">

				<div th:insert="fragments/header"></div>

			</header>

			<div class="row">

				<div role="main">
					<section layout:fragment="custom-content"></section>
				</div>

			</div>

			<!-- footer -->

			<footer class="row text-center">

			     <div class="container">
			     			&copy;&nbsp;<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2016</span>
						 - Events SaaS <span th:text="${@environment.getProperty('app.version')}"></span>
			     </div>

			</footer>

		</div>

	</body>

	<script>
	$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip();   
	});
	</script>

</html>