<div class="container">
	<header class="bar-top brd-top-grey-1 fixed-top brd-bottom-sure-2 bg-white">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-chevron-left"></em></a>
		<!-- end menu nav -->
	    <h2 class="title-2">AVALIAÇÃO</h2>
	    <a href="javascript:;" class="btn-right btn-right-text font-24 text-uppercase font-openregular">nova</a>

	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row row-alt">
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<ul class="content-user clearfix evaluation">
						<evaluation-list></evaluation-list>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- content -->
</div>