<div class="container card">
	<header class="bar-top brd-top-grey-1 fixed-top bg-white brd-bottom-sure-2" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">Cartão Virtual</h2>
	    <a href="javascript:;" class="btn-right"><em class="ion-plus"></em></a>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row row-alt">
			<div class="col-xs-12 col-sm-12 card-row">
				<form name="form-search" id="form-search" ng-submit="vm.submitSearch(vm.search)" novalidate class="mrg-bottom-30">
					<div class="form-group btn-icon-group box-search mrg-0">
						<button type="submit" name="btn-serach" class="btn-icon">
							<em class="fa fa-search font-grey-sure"></em>
						</button>
						<input type="text" name="search" id="search" ng-model="vm.search" placeholder="Procurar" class="campo campo2" />
					</div>
				</form>
				<!-- end form search -->
				<h3 class="font-24 text-uppercase font-grey-dark-4 font-openregular mrg-bottom-20">32 CartÕES</h3>
				<div class="row">
					<ul class="content-user clearfix card-virtual">
						<li class="brd-bottom-sure-1 col-xs-12 col-sm-12" ng-repeat="contato in vm.contatos">
						    <ul>
						        <li class="has-img">
									<small class="badge-medium badge-row" ng-class="{'bg-grey-dark-2 badge-position': contato.status == 'offline', 'bg-green-sure badge-position': contato.status == 'online'}">&nbsp;</small>
						        	<img alt="" ng-attr-src="{{contato.image}}" class="img-circle" />
						        </li>
						        <li class="description">
						            <h3 class="font-grey-dark-4 font-openregular font-36">{{contato.nome}}</h3>
						            <p class="font-26 font-grey-dark-trans">{{contato.profissao}}</p>
						            <p class="font-26 font-grey-dark-trans"><em class="ion-ios-email"></em> {{contato.email}}</p>
						            <p class="font-26 font-grey-dark-trans" ng-if="contato.celular"><em class="ion-iphone"></em> {{contato.celular}}</p>
						            <p class="font-26 font-grey-dark-trans" ng-if="contato.fixo"><em class="ion-iphone"></em> {{contato.fixo}}</p>
						        </li>
						    </ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- content -->
</div>