<div class="container">
	<header class="bar-top brd-top-grey-1 fixed-top brd-bottom-sure-2 bg-white" ng-class="{'menu-block': isShowMenu}">
		<nav class="menu-saas" ng-include="'view/menu/menu.html'">
		</nav>
		<!-- end menu nav -->
	    <h2 class="title-2">Network</h2>
	    <a href="javascript:;" class="btn-right"><em class="ion-plus"></em></a>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<div class="row row-alt">
			<div class="col-xs-12 col-sm-12">

				<div class="text-center mrg-bottom-20">
					<ul class="list-center list-menu-head bg-inverte">
						<li ng-repeat="($teste,item) in vm.lisMenu" ng-class="{'active': $teste == vm.selected}"><a href="javascript:;" ng-click="vm.selectApply($teste, item)" class="font-grey-dark-4 font-24 font-opensemibold text-uppercase">{{item}}</a></li>
					</ul>
				</div>
				<!-- end list-menu-head -->
				<!--form name="formNetwork" id="formNetwork" novalidate-->
				<div class="form-group btn-icon-group box-search mrg-0">
					<button type="button" ng-click="vm.applyFilter()" name="btn-serach" class="btn-icon">
						<em class="fa fa-search font-grey-sure"></em>
					</button>
					<input type="text" name="search" id="search" ng-model="vm.filterSearch" placeholder="Procurar" class="campo campo2" />
				</div>
				<!--</form>
				 end form search -->
			</div>
		</div>
		<div class="row row-alt">
			<div class="col-sm-12 col-xs-12">
				<h3 class="font-24 text-uppercase font-grey-dark-4 font-openregular">{{vm.filter}}</h3>
			</div>
		</div>
		<ul class="content-user clearfix list-network">
			<li class="brd-bottom-sure-1 row row-alt" ng-repeat="network in vm.rows | filter:vm.filterSearch | orderBy:'nome'">
				<a href="#/chat/network/network.id" class="display-2 clearfix">
					<ul class="col-xs-12 col-sm-12 display-3">
						<li class="has-img">
							<small class="badge-medium badge-row" ng-class="{'bg-grey-dark-2 badge-position': network.status == 'offline', 'bg-green-sure badge-position': network.status == 'online'}">&nbsp;</small>
							<img alt="" ng-attr-src="{{network.image}}" class="img-circle"/>
						</li>
						<li class="display-4">
							<h3 class="font-opensemibold font-30 text-ellipsis title-list">{{network.nome}}</h3>
							<p class="font-24 font-grey-dark-trans font-openregular">{{network.profissao}} @ {{network.empresa}}</p>
						</li>
					</ul>
				</a>
				
			</li>
		</ul>
	</section>
	<!-- content -->
</div>