<div class="modal-header">
    <h3 class="modal-title">{{vm.title}}</h3>
</div>
<!-- end title -->
<div class="modal-body clearfix">
    <form name="formPassword" id="formPassword" class="pding-top-40">
        <div class="col-md-12">
            <p class="input-cpf font-30">{{vm.profile.name}}</p>

        </div>


        <div id="qrcode" class="qrimage">
        </div>
    </form>
    <!-- end form -->
</div>
<!-- end body -->
	