<div class="container overflow">
	<form name="search" id="search" ng-submit="vm.answerQuestion()" novalidate class="content-survey">
		<header class="bar-top brd-top-grey-1 relative brd-bottom-sure-1">
			<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
			<h2 class="title-2 mn-person-flex">PESQUISA</h2>
		</header>
		<!-- header -->

		<div class="content relative" ng-show="vm.questions">
			<div class="display-8 relative">
				<div class="bg-grey-sure text-center pding-30 col-sm-12 col-xs-12 col-md-12">
					<p ng-show="vm.questions.length > 1" 
						class="font-24 font-openregular col-xs-12 col-sm-12 font-grey-sure-3 ph">
						Pergunta <span ng-bind="vm.currentQuestionIndex"></span> de <span ng-bind="vm.questions.length"></span>
					</p>
					<p class="font-36 font-grey-dark-4 font-openregular col-xs-12 col-sm-12" ng-bind="vm.currentQuestion.question"></p>
				</div>
			</div>
			 <ul class="list-radio list-form flex-1" ng-if="vm.currentQuestion.type != 'OPENED_QUESTION'">
				<li class="item item-radio" ng-repeat="answer in vm.currentQuestion.surveyAnswers" ng-click="vm.clickinput('answer'+answer.id)">
					<span class="font-24 font-opensemibold font-grey-dark-3 text-uppercase" ng-bind="answer.answer"></span>
					<label class="radio">
						<input type="radio" name="pesquisa" id="answer{{answer.id}}" value="pavilhão vermelho" ng-model="vm.currentAnswerId" ng-value="answer.id" required />
					</label>
				</li>
			</ul>
			<textarea name="fildesAnswer" id="fildesAnswer" ng-if="vm.currentQuestion.type == 'OPENED_QUESTION'" ng-model="vm.currentAnswerText" class="flex-1 campo4 bg-white" placeholder="Digite sua resposta" required></textarea> 
		</div>
		<!-- end content -->

		<div class="content" ng-show="!vm.questions">
			<p class="font-36 font-grey-dark-4 font-openregular pding-30 col-xs-12 col-sm-12 text-center">Não há mais pesquisas pendentes para resposta.</p>
		</div>
		<!-- content -->
			

		<button type="submit" ng-show="vm.questions" ng-disabled="search.pesquisa.$invalid || search.fildesAnswer.$invalid" name="btn-login" class="btn btn-submit btn-success" id="btn-login">
			<em class="icon ion-android-arrow-forward"></em>
		</button>

	</form>
</div>
