<div class="container">
	<header class="bar-top brd-top-grey-1">
		<a href="javascript:history.back()" class="btn-header"><em class="ion ion-android-arrow-back"></em></a>
	    <h2 class="title-2">Busca</h2>
	</header>
	<!-- header -->
	<section class="content clearfix">
		<form name="form-search" id="form-search" ng-submit="submitSearch()" novalidate>
			<div class="form-group btn-icon-group box-search mrg-0">
				<button type="submit" name="btn-serach" class="btn-icon">
					<em class="fa fa-search"></em>
				</button>
				<input type="text" name="search" id="search" ng-model="search" placeholder="Digite o que você está procurando..." class="campo campo2" />
			</div>
		</form>
		<!-- end form search -->
		<ul class="list-result list">
			<li>
				<div class="item-result brd-bottom-sure-1">
					<a href="javascript:;" class="title-result text-uppercase">
						<strong>brinkle</strong>y’s palestra 
						<em class="icon ion-chevron-right pull-right"></em>
					</a>
				</div>
			</li>
			<li>
				<div class="item-result brd-bottom-sure-1">
					<a href="javascript:;" class="title-result text-uppercase">
						<strong>brinkle</strong>y’s palestra 
						<em class="icon ion-chevron-right pull-right"></em>
					</a>
				</div>
			</li>
			<li class="item-more">
				<div class="item-result brd-bottom-sure-1">
					<a href="javascript:;" class="title-result text-uppercase">
						<strong>brinkle</strong>y’s palestra 
						<em class="icon ion-chevron-right pull-right"></em>
					</a>
					<p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
				</div>
			</li>
		</ul>
		<!-- end result 1 -->
		<ul class="list-result-2 list brd-bottom-sure-1">
			<li>
				<div class="group-text clearfix">
					<span class="title-result text-uppercase pull-left"><strong>brinkle</strong>y</span>
					<span class="user-result pull-right">3 usuários</span>
				</div>
				<ul>
					<li>
						<a href="javascript:;">
							<img src="img/user1.png" alt="" class="img-circle" />
						</a>
						<a href="javascript:;">
							<img src="img/user2.png" alt="" class="img-circle" />
						</a>
						<a href="javascript:;">
							<img src="img/user3.png" alt="" class="img-circle" />
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- end result user -->
		<ul class="list-result-2 list">
			<li>
				<div class="group-text clearfix">
					<span class="title-result text-uppercase"><strong>brinkle</strong>y’s agência digital</span>
				</div>
				<a href="javascript:;" class="title-result text-uppercase">
					<img src="img/img-maps-result.jpg" alt="" />
				</a>
			</li>
		</ul>
		<!-- end result other -->
	</section>
	<!-- content -->
</div>