html,
body,
#wrapper {
    height:100%;
    width:100%;
    color: #333;
    position: relative;
    -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
  font-family: 'lato_regular';
}
/*
* element
*/
::-webkit-scrollbar { display: none;}
* { -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; margin: 0; }
input, textarea, .contenteditable {-webkit-user-select: auto !important;-khtml-user-select: auto !important;-moz-user-select: auto !important;-ms-user-select: auto !important;user-select: auto !important;}
strong { font-family: 'lato_bold';  }
ul { list-style: none; margin:0; padding: 0 }
img { max-width: 100%; height: auto; }
a:hover, a:focus { text-decoration: none; outline: none; }
h1, h2, h3, h4, hr { padding:0; margin: 0; font-weight: normal; }
::-webkit-input-placeholder { text-align: center; color:#333 !important;}
:-moz-placeholder { /* Firefox 18- */ text-align: center; color:#333 !important;}
::-moz-placeholder {  /* Firefox 19+ */ text-align: center; color:#333 !important;}
:-ms-input-placeholder { text-align: center; color:#333 !important; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: inherit !important; }
/*
*font-size
*/
.font-6 { font-size: 0.375em; }
.font-10 { font-size: 0.625em; }
.font-11 { font-size: 0.7em; }
.font-14 { font-size: 0.875em; }
.font-16 { font-size: 1em; }
.font-18 { font-size: 1.125em; }
.font-20 { font-size: 1.250em; }
.font-22 { font-size: 1.375em; }
.font-24 { font-size: 1.500em; }
.font-26 { font-size: 1.625em; }
.font-28 { font-size: 1.750em; }
.font-30 { font-size: 1.875em; }
.font-32 { font-size: 2em; }
.font-34 { font-size: 2.125em; }
.font-36 { font-size: 2.250em; }
.font-38 { font-size: 2.375em; }
.font-40 { font-size: 2.500em; }
.font-42 { font-size: 2.625em; }
.font-45 { font-size: 2.813em; }
.font-50 { font-size: 3.125em; }
.font-60 { font-size: 3.750em; }
.font-88 { font-size: 5.5em; }
.font-90 { font-size: 5.625em; }
.font-110 { font-size: 6.875em; }
.font-128 { font-size: 8.000em; }
.font-158 { font-size: 9.875em; }
/*
* float
*/
.fl-none { float: none; }

/*
*color
*/
.font-white { color: white }
.font-black-2 { color: #333 }
.font-gray { color: #ccc }
.font-gray-2 { color: #666 }
.font-green-light { color: #1abc9c; }
.font-blue-dark { color: #17406e; }
.font-red-light { color: #e74c3c}
.font-green-sure { color: #3affa5 }

/*
*background-color
*/
.bg-trans { background: transparent; }
.bg-trans-black { background-color: rgba(28, 28, 28, .2); }
.bg-trans-black-2 { background-color: rgba(28, 28, 28, .4); }
.bg-white { background-color: white; }
.bg-gray { background-color: #cccccc; }
.bg-green-light { background-color: #1abc9c; }
.bg-grey-dark { background-color: #1c1c1c }
.bg-red-light { background-color: #e74c3c }
.bg-gradiente-blur {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daf2fc+0,4cb1dd+35,1b679e+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top, rgba(218,242,252,0.5) 0%, rgba(76,177,221,0.5) 35%, rgba(27,103,158,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(218,242,252,0.5) 0%,rgba(76,177,221,0.5) 35%,rgba(27,103,158,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(218,242,252,0.5) 0%,rgba(76,177,221,0.5) 35%,rgba(27,103,158,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80daf2fc', endColorstr='#801b679e',GradientType=0 ); /* IE6-9 */}
.bg-gradiente-blur-2 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56acf9+0,11cdd6+100 */
background: rgb(86,172,249); /* Old browsers */
background: -moz-linear-gradient(left, rgba(86,172,249,1) 0%, rgba(17,205,214,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(86,172,249,1) 0%,rgba(17,205,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(86,172,249,1) 0%,rgba(17,205,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56acf9', endColorstr='#11cdd6',GradientType=1 ); /* IE6-9 */}
.bg-gradiente-blur-3 {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ea5ff+0,383a90+100 */
background: rgb(110,165,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(110,165,255,1) 0%, rgba(56,58,144,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(110,165,255,1) 0%,rgba(56,58,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(110,165,255,1) 0%,rgba(56,58,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea5ff', endColorstr='#383a90',GradientType=1 ); /* IE6-9 */}
/*
*border
*/
.brd-top-0 { border-top: 0 !important }
.brd-radius-30 {border-radius: 30px;}
.brd-radius-t-3 { border-top-left-radius: 3px; border-top-right-radius:3px; }

/*
*text-transform
*/
.text-uppercase { text-transform: uppercase;}
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.text-capitalize { text-transform: capitalize;}
.text-word-break { word-break: break-word;}
.text-nowrap { white-space: nowrap}
.text-strong { font-weight: bold; }
.text-center { text-align: center; }
.box-ellipsis {display: block; display: -webkit-box; max-width: 100%; min-height: 2rem; margin: 0 auto; line-height: 1.4; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
/*
*font-family
*/
.font-openregular {font-family: 'open_sansregular';}
.font-openbold {font-family: 'open_sansbold';}
.font-opensemibold {font-family: 'open_sanssemibold';}
.font-latobold {font-family: 'lato_bold';}
.font-latoregular {font-family: 'lato_regular';}

/*
*	line-height
*/
.line-height-28 { line-height: 28px }
.line-height-21 { line-height: 21px }
.line-height-14 { line-height: 14px }
.line-height-24 { line-height: 24px }

/*
*btn
*/
.btn {border-radius: 30px; display: block; width:100%; height: 40px; }
.btn, .btn:focus, .btn:hover, .btn-2, .btn-2:focus, .btn-2:hover { outline: none; }
.btn:active:focus, .btn:active:hover, .btn:active, .btn:focus, .btn:hover { background-color: #2f91e8; border-color: #2f91e8; outline: none; box-shadow:none; color: #fff}
.btn:active:focus, .btn:active:hover, button.btn-radius:active:hover, button.btn-radius:active:focus {-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); background-color: #2f91e8; border-color: #2f91e8; color: #fff}
.btn[disabled]:active:focus, .btn[disabled]:active, .btn[disabled]:focus, .btn[disabled]:hover, .btn[disabled] {background-color: #2f91e8; border-color: #2f91e8; outline: none; opacity: 1}

.btn.bg-gray:active:focus, .btn.bg-gray:active:hover, .btn.bg-gray:active, .btn.bg-gray:focus, .btn.bg-gray:hover { background-color: #ccc; border-color: #ccc; outline: none; box-shadow:none; color: #333}
.btn.bg-gray:active:focus, .btn.bg-gray:active:hover {-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); background-color: #ccc; border-color: #ccc; color: #333}
.btn-2 { background:none; border:none; }
/*
*margin
*/
.mrg-0 { margin: 0 }
.mrg-b-7v { margin-bottom: 7vh; }
.mrg-b-5v { margin-bottom: 5vh; }
.mrg-b-2v { margin-bottom: 2vh; }
.mrg-b-15 { margin-bottom: 15px;}
.mrg-b-5 { margin-bottom: 5px;}
.mrg-b-8 { margin-bottom: 8px;}

/*
*padding
*/
.pding-0 {padding: 0;}
.pding-10 {padding: 10px;}
.pding-t-b-5v {padding-top: 5vh;}

/*
* display
*/
.display { display: none; }
.display-1 { display: inline-block; }
.display-2 { display: block !important; }
.display-3 { display: table; }
.display-4 { display: table-cell; vertical-align: middle; }
.display-5 {display: table-row;}
.display-6 { display: table-cell; vertical-align: bottom;}
.display-7 { display: inline; }
.display-8 { display: flex; }
.display-9 { display: flex; flex: 1; }
.relative { position: relative}
.absolute { position: absolute}
/*
* flex
*/
.flex-1 { flex: 1; }
.flex-collum { flex-direction: column; align-items: center;display: flex; width: 100%}
.line-flex {display: flex;justify-content: flex-start; flex-direction: row; width: 100%; min-height: 3.5rem; }
.flex-box {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column;-ms-flex-direction: column; flex-direction: column;-webkit-align-items: flex-start; -ms-flex-align: start;align-items: flex-start;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;width: 100%; word-break: break-all; }
.flex-box-2 {display: block; display: -webkit-box;-webkit-line-clamp: 2;-webkit-flex: 1 100%;-ms-flex: 1 100%; flex: 1 100%;overflow: hidden; text-overflow: ellipsis; word-break: keep-all; width: 100%; white-space: nowrap}
.flex-container { flex-grow: 0;flex-shrink: 0; flex-basis: 50%;}
.justify-center { justify-content: center; }
.align-center { align-items: center; }
.align-baseline { -webkit-align-items:baseline; -ms-flex-align: baseline;align-items: baseline; }
/*
*main
*/
.main { min-height:100%; height: 100%; max-height: 100%; flex-direction: column; overflow-x: hidden; overflow-y: visible; padding: 0; }
.content { flex: 1; overflow: hidden; padding: 25px 15px 15px; }
.content-box { margin-top:10px; border: 1px solid #f4f4f4; padding: 10px; width: 100%; }
.content-box-7 { height: auto; padding-bottom: 20px }
.content-box-3 { height: auto; padding-bottom: 20px; padding-top: 20px } 
.overflow-hidden .content-box-7 { height: calc(70vh - 140px); padding-bottom: 20px }
.overflow-hidden .atividade .content-box-7 { height: calc(70vh - 180px); }
.overflow-hidden .content-box-3 { height: 30vh; padding-bottom: 20px; padding-top: 20px } 
.flex-collum .content-box:first-child { margin-top: 15px; }
.flex-collum .content-box:last-child { margin-bottom: 15px; }
/*
*	overflow
*/
.overflow-content { min-height: calc(100vh - 94px); -webkit-overflow-scrolling: touch;}
.overflow-content-2 { min-height: calc(100vh - 128px); -webkit-overflow-scrolling: touch;}
.overflow-hidden { overflow: hidden}
/*
*help
*/
.has-error .text-inline { color: #a94442}

/*
*modal
*/
.modal-full-height { overflow: hidden; }
.modal-full-height .modal-dialog { padding: 20px 10px; margin: 0; }
.modal-full-height .modal, .modal-full-height .modal-backdrop { position: absolute; overflow: hidden; }
.modal-title { text-align: center; font-size: 2.125em }
.close { filter: alpha(opacity=100); opacity: 1; }
.close .ion { font-size: 2.125em }
.uib-position-measure { display: block !important; visibility: hidden !important; position: absolute !important; top: -9999px !important; left: -9999px !important;}
.uib-position-scrollbar-measure { position: absolute !important; top: -9999px !important; width: 50px !important; height: 50px !important; overflow: scroll !important;}
.uib-position-body-scrollbar-measure { overflow: scroll !important;}

/*
*campo
*/ 
.field, .field-search { border: none; font-family: 'lato_regular'; display: block; width: 100%; height: 40px; font-size: 1em; box-shadow: none; border: 1px solid #999; color: #333; border-radius: 30px; }
.field-search { border-radius: 4px; height: 32px; border:none; padding-left: 30px; padding-right: 22px; font-weight: normal }
.content-radius { border-radius: 3px; -webkit-box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow:    0px -1px 10px 0px rgba(0, 0, 0, 0.1);
box-shadow:         0px -1px 10px 0px rgba(0, 0, 0, 0.1);}

/*
* login
*/
.login header { margin-bottom: -85px; margin-top: 8vh; z-index: 2; }
.login .content-radius { padding-top: 90px; }
.login { overflow-y: auto; height: initial; max-height: initial; min-height: initial; }
.overflow-hidden .login { overflow-y: auto; height: 100%; max-height: 100%; min-height: 100%; }
/*
* search
*/
.search-form { width: 100%; }
.group-form { display: block; position: relative; margin-left:10px; margin-bottom: 0 }
.group-form button:last-child { top: 5px; }
.group-form button {position: absolute; top: 0; z-index: 1; left: 3px  }
.group-form input + button { right: 0; left: initial }
/*
* list tab
*/
.list-active {background-color: rgba(28, 28, 28, .2); border-radius: 4px; }
.list-tab {line-height: 30px;margin: 3px 0;}
.list-tab a:hover, .list-tab a:focus, .list-tab a:active, .list-tab a:visited { color: #FFF; }

@media screen and (min-width:580px) {
  .login header { margin-bottom: -110px; }
}
@media screen and (min-width:768px) {
  .login header { margin-bottom: -130px; }
}

.header-bar { min-height: 65px; padding-top:15px; width: 100%; overflow: hidden; }
.btn-header em { font-size: 1.5em; }
.title-2 { text-align: center; display: block !important; white-space: nowrap; margin: 0 10px; }
.maximg-30 { max-width: 30%;}



.mn-person-info {display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex: 1;-ms-flex: 1;flex: 1;min-width: 0;}
.mn-person-info__picture { -webkit-flex-shrink:0; -ms-flex-negative: 0;flex-shrink:0; height: 90px; width: 90px; margin-right: 15px; }
.mn-person-info__details {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column;-ms-flex-direction: column; flex-direction: column;-webkit-align-items: flex-start; -ms-flex-align: start;align-items: flex-start;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;min-height: 70px;width: 100%; word-break: break-all; }
.mn-person-info__picture .img-circle {width: 100%;height: 100%;border: 1px solid transparent;background-clip: content-box;box-sizing: border-box;}
.mn-person-flex {display: block; display: -webkit-box;-webkit-line-clamp: 2;max-height: 3.7rem;-webkit-flex: 1 100%;-ms-flex: 1 100%; flex: 1 100%;overflow: hidden; text-overflow: ellipsis; word-break: keep-all; width: 100%;}
.mn-person-info__name { display: -webkit-box; -webkit-line-clamp: 1; max-height: 2.2rem; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; }
.mn-person-info__details .box-ellipsis { margin-right: 0; margin-left: 0 }

/*
* menu saas
*/
.menu-saas { color: #FFF;}
.menu-saas > ul { max-height: 100vh; overflow-y: auto; overflow-x: hidden; height: 100%; width: 85%; -webkit-overflow-scrolling: touch }
.menu-saas li:not(.has-user-block) a { display: block;  padding-bottom: 20px; padding-top: 20px; padding-left: 56px; }
.menu-saas a:not(.font-green-sure) { color: inherit; }
.menu-saas li { float: left; }
.menu-saas > ul > li {border-bottom: 1px solid #0d0d0d; width: 100%;}
.menu-saas > ul > li:not(.has-user-block) { font-size: 1.2em }
.menu-saas > ul > li:last-child{border-bottom: none;}
.menu-saas .ion-android-settings { margin-left: 10px;}
.menu-block #sidenav-overlay .button-collapse { position: absolute; right: 5%; left: initial; z-index: 9999; top:24px; }
.menu-block #sidenav-overlay .button-collapse .font-white { color: #333 }
.has-user-block { display: table;}
.user-block-info { margin-left: 25px }
.user-block { display: table-cell; vertical-align: middle; padding: 0 0 60px 56px}
.user-block img { max-width: 15%; }
.user-block-name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
.user-block-role li { margin-left: 30px }
.user-block-role li a:hover { color: inherit; text-decoration: none; }
.user-block-role li:first-child { margin-left: 0 }
@media screen and (max-width:580px){
  /*
	* menu
	*/
	.menu-saas li:not(.has-user-block) a { padding-bottom: 15px; padding-top: 15px; padding-left: 26px; }
	.user-block { padding-bottom: 20px; padding-left: 26px; }
	.user-block-name { max-width: 210px;}
	.menu-saas .ion-android-settings {margin-left: 3px;}
	.user-block > img { max-width: 20% }
	.user-block-info { margin-left: 10px; }
}