.splash { height: auto; overflow: hidden; width: 100%; }
.bar-top, .bar-bottom {position: absolute;}
.bar-bottom { height: 95px; bottom: 3%; width: 100%; text-align: center; }
.splash { background: url('../img/bg-splash.jpg') no-repeat center center; text-align: center; overflow: hidden; min-height: 100%; background-size: cover; padding-top: 5%; }
.preloading { position: absolute; z-index: 1; width: 100%; text-align: center; color: #FFF; top: 50%; }
.preloading .fa { color: #b9b9b9; font-size: 3em }

@media screen and (max-width:1024px) {
	.splash { padding-top: 31.69014084507042%; }
	.preloading { top: 60%;  }
}
@media screen and (max-width:768px){ 
	
}
@media screen and (max-width:384px) and (max-height: 640px){
	.splash h1 img { max-width: 50%; }
	.splash .bar-bottom img { max-width: 30%; }
	.preloading { top: 50%  }
}
@media screen and (max-width:425px){ 
	.splash h1 img { max-width: 70%;}
	.splash .bar-bottom img { max-width: 30%; }
	.splash { padding-top: 20%; }
	.preloading { top: 55%;  }
}
@media screen and (orientation:landscape) { 
	.splash h1 img { max-width: 40%;}
	.splash { padding-top: 0; }
	.splash .bar-bottom { display: none; }

}