<div class="container view-chat">

	<header class="bar-top elHeight">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
	    <h2 class="title-2 mn-person-flex">
			<span ng-bind="vm.title" ng-click="vm.viewPerfil(vm.targetId)"></span>
		</h2>
	    <!--<a href="#/participant/{{vm.userId}}" class="btn-right btn-right-text font-24 text-uppercase font-openregular">perfil</a>-->
	</header>
	<!-- header -->
	
	<section class="content brd-top-sure-1 relative chat-content">
		<div class="chat-mensagens chat-overflow" scroll-glue>
			<!--<p class="mrg-top-10 text-center font-grey-sure-3 font-openregular font-24">
				12:24
			</p>-->
			<div class="has-item-chat row">
				<div ng-repeat="msg in vm.mensagens" id="row-{{msg.id}}" class="col-xs-12 col-sm-12 pding-top-25" press-selected="line-active" ng-class="{'has-ico-chat': msg.author != vm.idLogado}">
					<a href="javascript:;" class="chat-delete" ng-click="vm.deleteMsg(msg.id, '#row-'+msg.id, $index)"><em class="fa fa-trash-o font-red-sure font-30"></em></a>
					<div class="mn-person-info" ng-class="{'my-msg': msg.author == vm.idLogado, 'friend-msg': msg.author != vm.idLogado}">
						<div class="text-right mn-person-info__picture relative" ng-if="msg.author != vm.idLogado">
							<img alt="" ng-attr-src="{{msg.avatar}}"  ng-click="vm.viewPerfil(msg.author)" class="img-circle">
						</div>
						<div class="description mn-person-info__details" ng-class="{'content-image': msg.image}">
							<div class="content-description">
								<img alt="" ng-attr-src="{{msg.image}}" ng-click="vm.viewFullScreenImage(msg.image)" ng-if="msg.image" class="ghost-person img-circle" />
								<p class="font-openregular font-26 content-chat text-word-break" ng-if="msg.texto" ng-bind-html="msg.texto | textWithHtml"></p>
							</div>
						</div>
					</div>
					<div class="text-time text-right">
						<p class="font-grey-sure-3 font-openregular font-18">
							<em ng-if="msg.read" class="ion-checkmark font-green-sure-2"></em>
							<em class="ion-checkmark font-green-sure-2"></em> 
							<timeline-time ng-attr-tempo="{{msg.date}}"></timeline-time>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- content -->
	<div class="chat-edit chat-user">
		<div class="chat-container-edit clearfix">
			<!-- <div class="box-btn-chat">
				<a href="javascript:;" ng-click="vm.addImage()"><em class="ion-plus font-24"></em></a>
			</div> -->
			<button ng-click="vm.addImage()" class="font-26 btn-chat text-uppercase btn-rest"><em class="ion-plus line-height-14"></em></button>
			<div class="chat-content-edit">
				<div class="edit-btn-msg">
					<contentedit></contentedit>
				</div>
			</div>
			<button ng-click="vm.addMsg(vm.message)" class="font-24 btn-chat font-opensemibold text-uppercase btn-rest">enviar</button>
			<!-- <div class="edit-btn-box">
				<a ng-click="vm.addMsg(vm.message)" class="font-opensemibold font-24 text-uppercase">enviar</a>
			</div> -->
		</div>
	</div>
	<!-- end chat -->

</div>
