<div class="container" data-ng-init="vm.init()">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<header class="bar-top brd-top-grey-1 relative brd-bottom-sure-2 bg-white">
		<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back"></em></a>
	    <h2 class="title-2 mn-person-flex">Mensagens</h2>
	    <a href="#{{vm.linkParticipant}}" class="btn-right"><em class="ion-plus"></em></a>
	</header>
	<!-- header -->
	
	<section class="content relative">
		<ul class="content-user clearfix list-message">
			<li class="brd-bottom-sure-1 slide-left" id="{{message.targetId}}" pan-left-selected="selected-messages" pan-right-remove="hide-trash"  ng-repeat="message in vm.rows | orderBy:'dateOrder':reverse">
				<div ng-click="vm.openLinkChat(message.targetId)" class="clearfix">
					<ul class="col-xs-12 col-sm-12 mn-person-info">
						<li class="mn-person-info__picture">
							<img alt="" ng-attr-src="{{message.image ? vm.root+message.image : vm.avatar}}" ng-class="{'ghost-person': !message.image}" class="img-circle" />
						</li>
						<li class="mn-person-info__details">
							<div class="display-8 align-baseline">	
								<h3 class="font-opensemibold font-30 title-list display-9">
									<span ng-class="{'font-blue-sure-3': !message.ler}" class="mn-person-info__name" ng-bind="message.nome"></span>
								</h3>
								<span class="text-right align-center display-8 font-18 text-uppercase font-grey-dark-trans font-opensemibold"><timeline-time ng-attr-tempo="{{message.date}}"></timeline-time></span>
							</div>
							<div class="font-24 font-grey-dark-4 font-openregular text-word-break box-ellipsis" ng-bind-html="message.message | htmlToPlaintext"></div>
						</li>
					</ul>
				</div>
				<div class="view-delete brd-bottom-sure-1">
					<a href="javascript:;" class="ico-delete" ng-click="vm.deleteMsg(message, $index)"><em class="fa fa-trash-o font-red-sure font-30"></em></a>
				</div>
			</li>
		</ul>
	</section>
	<!-- content -->

	<menu-footer></menu-footer>
	<!-- end menu footer -->
	
</div>