<div class="container content-scroll overflow">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top brd-top-grey-1 relative">
			<a href="javascript:history.back()" class="btn-header"><em class="ion ion-android-arrow-back"></em></a>
			<h2 class="title-2">Busca</h2>
		</header>
		<!-- header -->
		<section class="content clearfix">
			<form name="formSearch" id="formSearch" ng-submit="submitSearch()" novalidate>
				<div class="form-group btn-icon-group box-search mrg-0">
					<button type="submit" name="btn-serach" class="btn-icon">
						<em class="fa fa-search"></em>
					</button>
					<input type="text" name="search" id="search" ng-model="vm.search.campo" ng-change="vm.noEmoji(formSearch.search, 'campo')" placeholder="Digite o que você está procurando..." class="campo campo2" />
				</div>
			</form>
			<!-- end form search -->
			<ul class="list-result-2 brd-bottom-sure-1 mrg-bottom-25">
				<li>
					<h3 class="font-blue-sure-4 font-24 font-opensemibold text-uppercase text-uppercase mrg-bottom-25">usuários (3)</h3>
					<div class="group-text clearfix">
						<span class="title-result text-uppercase pull-left"><strong>brinkle</strong>y</span>
					</div>
					<ul class="list-user">
						<li>
							<a href="#/participant/1">
								<img src="img/user1.png" alt="" class="img-circle" />
							</a>
						</li>
						<li>
							<a href="#/participant/2">
								<img src="img/user2.png" alt="" class="img-circle" />
							</a>
						</li>
						<li>
							<a href="#/participant/3">
								<img src="img/user3.png" alt="" class="img-circle" />
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- end result user -->

			<ul>
				<li>
					<h3 class="font-blue-sure-4 font-24 font-opensemibold text-uppercase text-uppercase">programação (5)</h3>
					<ul class="list-result">
						<li>
							<div class="item-result brd-bottom-sure-1">
								<a href="javascript:;" class="title-result text-uppercase">
									<strong>brinkle</strong>y’s palestra 
									<em class="icon ion-chevron-right pull-right"></em>
								</a>
							</div>
						</li>
						<li>
							<div class="item-result brd-bottom-sure-1">
								<a href="javascript:;" class="title-result text-uppercase">
									<strong>brinkle</strong>y’s palestra 
									<em class="icon ion-chevron-right pull-right"></em>
								</a>
							</div>
						</li>
						<li class="item-more">
							<div class="item-result brd-bottom-sure-1">
								<a href="javascript:;" class="title-result text-uppercase">
									<strong>brinkle</strong>y’s palestra 
									<em class="icon ion-chevron-right pull-right"></em>
								</a>
								<p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
							</div>
						</li>
					</ul>
				</li>
				
			</ul>
			<!-- end result 1 -->
			<ul class="list-result-2 list">
				<li ng-click="vm.openMaps()">
					<div class="group-text clearfix">
						<span class="title-result text-uppercase"><strong>brinkle</strong>y’s agência digital</span>
					</div>
					<a href="javascript:;" class="title-result text-uppercase">
						<img src="img/img-maps-result.jpg" alt="" />
					</a>
				</li>
			</ul>
			<!-- end result other -->
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->
</div>