<div class="container profile-lecturer">
	
	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<header class="bar-top bg-lecturer elHeight">
		<div class="bg-trans-black container-head">
			<div class="content-head bg-linear-black-white">
				<a href="javascript:history.back()" class="btn-header"><em class="ion-chevron-left font-white"></em></a>
				<div class="text-center">
					<h3 class="font-white font-34 font-openregular">Jéssica Gonçalves</h3>
				<ul class="list-center list-menu-head">
					<li class="active"><a href="#/profile-lecturer/chat" class="font-white font-24 font-opensemibold text-uppercase">chat</a></li>
					<li><a href="#/profile-lecturer" class="font-white font-24 font-opensemibold text-uppercase">perfil</a></li>
					<li><a href="#/profile-lecturer/contact" class="font-white font-24 font-opensemibold text-uppercase">contato</a></li>
				</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header -->
	
	<section class="content clearfix relative">
		<chat></chat>
		<!-- end chat -->
	</section>
	<!-- content -->

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>
