<div class="container profile-lecturer profile-contato content-scroll overflow profile-h">
	
	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height">
		<header class="bar-top bg-lecturer relative" ng-attr-style="{{vm.pictureUrl ? 'background-image: url('+vm.pictureUrl+'); background-size: cover' : '' }}">
			<div class="bg-trans-black content-head">
				<div class="bg-linear-black-white container-head">
					<div class="content-head display-8 align-start">
						<div class="flex-item-row">
							<div class="line-flex">
								<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back font-white"></em></a>
								<h3 class="font-white font-34 font-openregular display-8" ng-bind="vm.profile.name"></h3>
							</div>
							<ul class="list-center list-menu-head line-flex">
								<li><a href="#/participant/chat/{{vm.profile.id}}" class="font-white font-24 font-opensemibold text-uppercase">chat</a></li>
								<li><a href="#/profile-lecturer/{{vm.profileId}}" class="font-white font-24 font-opensemibold text-uppercase">perfil</a></li>
								<li class="active"><a href="#/profile-lecturer/contact/{{vm.profile.id}}" class="font-white font-24 font-opensemibold text-uppercase">contato</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header -->

		
		
		<section class="content clearfix">
			<br>
			<br>
			<form action="" name="contactPalestrante">
				<div class="row row-alt">
					<!--<div class="form-group col-xs-12 col-sm-12">-->
						<!--<label for="email" class="font-24 font-opensemibold text-uppercase">email</label>-->
						<!--<input type="text" name="email" id="email" ng-model="contato.email" class="campo3" />-->
					<!--</div>-->
					<div class="form-group col-xs-12 col-sm-12">
						<label for="assunto" class="font-24 font-opensemibold text-uppercase">ASSUNTO</label>
						<input type="text" name="assunto" id="assunto" ng-model="vm.contato.subject" class="campo3" />
					</div>
					<div class="form-group col-xs-12 col-sm-12">
						<label for="mensagem" class="font-24 font-opensemibold text-uppercase">MENSAGEM</label>
						<textarea name="mensagem" id="mensagem" ng-model="vm.contato.message" class="campo4 campo-text-area"></textarea>
					</div>
					<div class="col-sm-12 col-xs-12">
						<a href="javascript:;" type="submit" name="btn-login" class="btn btn-submit btn-success" id="btn-login" ng-click="vm.sendEmail()">
							<em class="icon ion-android-arrow-forward"></em>
						</a>
					</div>
				</div>
			</form>
		</section>
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>
