<div class="container profile-lecturer content-scroll overflow profile-h">

	<nav class="menu-saas" ng-include="'view/menu/menu.html'">
	</nav>
	<!-- end menu nav -->

	<div class="calc-height relative">
		<header class="bar-top bg-lecturer relative" ng-attr-style="{{vm.pictureUrl ? 'background-image: url('+vm.pictureUrl+'); background-size: cover; background-position: center': ''}}">
			<div class="bg-trans-black content-head">
				<div class="bg-linear-black-white container-head">
					<a href="javascript:history.back()" class="btn-header"><em class="ion-android-arrow-back font-white"></em></a>
					<div class="content-head display-8">
						<div class="flex-item-row">
							<h3 class="font-white font-34 font-openregular brd-bottom-white-1 line-flex" ng-bind="vm.profile.name"></h3>
							<ul class="list-center list-menu-head display-8">
								<li><a href="#/participant/chat/{{vm.profile.id}}" class="font-white font-24 font-opensemibold text-uppercase">chat</a></li>
								<li class="active"><a href="#/profile-lecturer" class="font-white font-24 font-opensemibold text-uppercase">perfil</a></li>
								<li><a href="#/profile-lecturer/contact/{{vm.profile.id}}" class="font-white font-24 font-opensemibold text-uppercase">contato</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header -->
		<section class="content clearfix">
			<div class="row brd-bottom-sure-1 row-alt text-center" ng-if="vm.profile.minibio">
				<div class="col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
					<p class="font-28 font-openregular font-grey-dark-4" ng-bind="vm.profile.minibio">
					</p>
				</div>
			</div>
			<div class="row brd-bottom-sure-1 row-alt">
				<div class="line-flex align-center">
					<span class="text-uppercase text-nowrap line-flex-col font-24 font-grey-dark-3 font-opensemibold col-xs-3 col-sm-3">E-mail</span>
					<span class="font-grey-dark-trans line-flex-col mrg-left-auto font-24 font-opensemibold col-xs-9 col-sm-9 text-ellipsis" ng-bind="vm.profile.email"></span>
				</div>
			</div>
			<div class="row row-alt text-center" ng-if="vm.viewSocial">
				<h4 class="font-grey-dark-3 font-24 font-opensemibold text-uppercase mrg-bottom-10">minhas redes sociais</h4>
				<ul class="list-center list-profile">
					<li ng-repeat="list in vm.hasSocial" class="font-40">
						<a href="javascript:;" ng-click="vm.openLink(list.url)">
							<span class="fa-stack fa-lg img-circle {{list.bg}}"> 
								<em class="fa fa-circle fa-stack-2x"></em> <em class="fa {{list.ico}} fa-stack-1x font-11 fa-inverse"></em> 
							</span> 
						</a>
					</li>
				</ul>
			</div>
		</section>
		<!--<section class="content clearfix">
			<br>
			<br>
			<form action="" name="contactPalestrante">
				<div class="row row-alt">
					<div class="form-group col-xs-12 col-sm-12">
						<label for="email" class="font-24 font-opensemibold text-uppercase">email</label>
						<input type="text" name="email" id="email" ng-model="contato.email" class="campo3" />
					</div>
					<div class="form-group col-xs-12 col-sm-12">
						<label for="assunto" class="font-24 font-opensemibold text-uppercase">ASSUNTO</label>
						<input type="text" name="assunto" id="assunto" ng-model="contato.assunto" class="campo3" />
					</div>
					<div class="form-group col-xs-12 col-sm-12">
						<label for="mensagem" class="font-24 font-opensemibold text-uppercase">MENSAGEM</label>
						<textarea name="mensagem" id="mensagem" ng-model="contato.mensagem" class="campo4 campo-text-area"></textarea>
					</div>
					<div class="col-sm-12 col-xs-12">
						<button type="submit" name="btn-login" class="btn btn-submit btn-success" id="btn-login">
							<em class="icon ion-android-arrow-forward"></em>
						</button>
					</div>
				</div>
			</form>
		</section>-->
		<!-- content -->
	</div>

	<menu-footer></menu-footer>
	<!-- end menu footer -->

</div>